[2017-12-11 17:07] krOoze commented on #2265
@mikew-lunarg It is in PR #2264 where I needed to make workaround [here](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/pull/2264/files#diff-bc93061e85db14990b70883fc4964c3eR830), otherwise the tests fail an assertion and fail in CI. Even with the workaround there would of course be "Unexpected" messages from the validation layers (those still count as SUCCESS though).

[2017-12-11 17:27] tobine commented on #2267
Lack of proper barrier validation is a longstanding known hole in validation, tracked in issues such as #892 & #1285.
I went a fair bit down the path of trying to plug the hole in #2066 but ultimately the perf hit from tracking synch all the time is too high, at least with how I was doing it. There's not currently any work going on to add this to validation that I'm aware of.
Instead, barrier trac

[2017-12-11 17:27] #2267 closed

[2017-12-11 21:39] mikew-lunarg commented on #2265
@krOoze I see the comment:

Without my digging deeply into the test logic, could you explain the specific behavior expected that necessitates the workaround?

I'm trying to understand if the issue is in DevSim, DevPro, the binary of DevSim checked into the repo, or the config being specified by the test.

FWIW @tobine has approved #2264 in its current form, but I still want to understand the issue

[2017-12-11 21:50] krOoze commented on #2265
@mikew-lunarg I explained a bit in the previous post. Also https://github.com/KhronosGroup/Vulkan-Docs/issues/639 is relevant.

The issue is that in core Vulkan the `TRANSFER` feature is implicit if any other flags are reported.

But in Maintenance1 the `TRANSFER` feature flags are explicit.

So what happens if I run a Test depending on Maintenance1 is that those explicit flags are missing, if the

[2017-12-11 22:58] mikew-lunarg commented on #2265
@krOoze @tobine Thanks for using and wringing out use-models for DevSim!  We're still learning how this tool fits into the bigger picture, but I think there's a path forward in this case (assuming DevSim v1.2.0 or later)...

I believe the tests are using a prebuilt binary of DevSim v1.2.0 (@tobine is that correct?)

DevSim does exactly what is specified in its configuration files.  It does not aut

[2017-12-12 17:17] daveh-lunarg commented on #2230
Resolved in PR #2262.

[2017-12-12 17:17] #2230 closed

[2017-12-12 22:02] tobine commented on #2265
Yes, LVL is using a prebuild DevSim v1.2.0 binary.

It's not clear to me that there is any issue with DevSim here, it's simply reporting the capabilities in the config file.
If we need to adjust the checked-in LVL config files, manually modifying them to include desired extensions is one possibility. Replacing current config files with more recent/similar ones that actually support maintenance1 is

[2017-12-12 22:16] krOoze commented on #2265
@tobine Recording the flags with all extensions enabled should work for most purposes.
I mean it would not be 100 % same as the device could behave. Then again there's not even a guarantee the flags won't change between two calls to `vkCreateInstance`, so it does not matter that much.

The VHCV app seems to report the extended flags, but the http://vulkan.gpuinfo.org web does not seem to list them

[2017-12-12 22:28] krOoze commented on #2265
PS: Actually the json profiles seem to have extended flags if my bit-fu is correct.
Hmm, I should re-test it. Perhaps it is a problem only of one of the profiles...

[2017-12-12 22:31] tobine commented on #2265
mali-t760.json & powervr_rogue_ge8300.json are the only 2 profiles that don't report VK_KHR_maintenance1.

[2017-12-12 22:33] krOoze commented on #2265
PS2: I was only using the CI. But I had problem setting it up locally on Windows. Could someone help me set it up? I pretty much copied what is in the `.travis.yml`, but it did not quite work.

[2017-12-12 23:53] mikew-lunarg commented on #2265
@krOoze I believe this issue is resolved.  Please close if you agree.

[2017-12-13 11:36] asuonpaa commented on #2241
The root cause seems to be the fact I'm using multiple device and allocator objects. Most likely those are confusing the validator. I'm going to roll back to using only a single device object so the original validator issue is no longer bothering me.

[2017-12-13 17:49] #2150 closed

[2017-12-13 18:12] krOoze commented on #2265
@mikew-lunarg I suppose it is (at least the way I formed it, which turned out to be a X-Y problem). At worst, we seem to have list of tests that do not play well with devsim + mock ICD, so this does not necessarily need be an Issue.

[2017-12-13 18:12] #2265 closed

[2017-12-13 19:01] cdotstout opened #2270 "image pipeline barrier queue family check doesn't account for VK_QUEUE_FAMILY_EXTERNAL_KHR"
I'm seeing this validation error when specifying the special queue family index VK_QUEUE_FAMILY_EXTERNAL_KHR (value ~0-1):

[00299.824] 34020.34217> --- Vulkan Debug Report  ----------------------------------------
[00299.824] 34020.34217> |       Severity: Error
[00299.824] 34020.34217> |    Object Type: Command Buffer
[00299.824] 34020.34217> |  Object Handle: 126117067440128
[00299.825] 34020.3

[2017-12-13 20:19] krOoze opened #2271 "mock_icd on Windows fails to initialize"
I wanted to set up locally on Windows same test environment that the CI servers use with the device profiles.

There are couple of problems I figured out, but:
it still seems to try use the regular (AMD) driver, and it fails with `VK_ERROR_INCOMPATIBLE_DRIVER` on `vkCreateInstance`.

I am setting the environment with:
[code]
and running tests with `--devsim`.
The `VK_ICD_FILENAMES` apparently does

[2017-12-13 21:52] tobine commented on #2271
Hi @krOoze, I think I got the mock to build on Windows but I haven't yet tried to run it there. According to [Loader Layer Interface doc](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/loader/LoaderAndLayerInterface.md) VK_ICD_FILENAMES should work on Windows.
Are you using the default VkICD_mock_icd.json? If so then we need a custom VkICD_mock_icd.json file for windo

[2017-12-13 22:11] krOoze commented on #2271
@tobine Yea, I fixed that to `dll` (or so I think; thinking about it, it may have become overwritten). But loader should complain on wrong filename, no?

[2017-12-13 22:16] karl-lunarg commented on #2271
Setting `VK_LOADER_DEBUG=all` may shed some light.

[2017-12-13 22:27] KarenGhavam-lunarG opened #2273 "Contributors: Interested in joining the LunarG/Google collaboration meeting?"
We greatly appreciate the contributions of various folks in this github. Google and LunarG have been having a bi-weekly collaboration meeting to discuss the validation layers.  We would like to open up this collaboration meeting to a broader set of folks. The purpose of these meetings is to see what questions and issues you have as contributors and help make you productive. As well it will help us

[2017-12-14 03:13] krOoze commented on #2191
AMD seem to have cut the creation times in half in the latest drivers (at least for me).

[2017-12-14 19:04] tobine opened #2277 "Validate sparse bindings at submit time"
Sparse binding is a queue-based operation and therefore proper sparse memory bindings should not be validated until their related resources are used at submit time. Currently validation for sparse bindings is limited so opening this up as a tracking issue.

As a short-term mitigation technique it may be useful to track on a global scale if any spare bindings are ever made and, if so, warn the user

[2017-12-14 21:21] mikes-lunarg commented on #2271
I have run the mock icd on windows using ".\\VkICD_mock_icd.dll" in the json.  We should probably code gen the json file so it has the correct platform library_path and even keep api_version in sync with vk.xml

[2017-12-14 21:43] krOoze commented on #2271
No, I am an idiot. I did not delete the "lib" part of the filename.
I tried with `vulkaninfo` which gave me much nicer error message.

[2017-12-14 21:43] #2271 closed

[2017-12-15 17:24] daveh-lunarg commented on #2239
Resolved with PR #2274. Closed.

Thanks @strandborg for the bug report!

[2017-12-15 17:24] #2239 closed

[2017-12-15 22:18] #1054 closed

[2017-12-20 10:08] marco-we opened #2288 "Invalid validation layer error message when using VK_EXT_shader_viewport_index_layer"
The sample I am looking at is using the VK_EXT_shader_viewport_index_layer device extension to render to two viewports using the instance id.

The following stripped down vertex shader

[code]

generates the SPIR-V below:

[code]

At run-time the validation layer is complaining that the shader requires the extension `VK_NV_viewport_array2` and that it is not enabled on this device.
The extension i

[2017-12-20 19:40] hrydgard opened #2289 "Missing validation: Transitioning an image before binding memory to it is illegal"
As described in the title.

When initializing a texture image, I use vkCmdPipelineBarrier to transition it to from UNDEFINED to TRANSFER_DST_OPTIMAL before vkCmdCopyBufferToImage, which should be a normal way to go about things. However, I accidentally did this *before* binding memory to the image. Turns out most implementations don't care, as presumably any transition from UNDEFINED is generally

[2017-12-21 21:33] daveh-lunarg commented on #2288
Looks like a validation bug.  We expect a unique mapping from a Capability->Extension, but the duplicated token here violates that assumption.

[2017-12-22 10:52] leizleiz opened #2294 "external_revision_generator.py broken on Windows"
https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/b699ba8cfbb6c97dbc590bf15a84fcb4b41d35a6/scripts/external_revision_generator.py#L37

The line tries to do Windows compatibility by calling git.bat, but it has a conditional that will never evaluate to True because os is a Python module. Shouldn't it be:

`sys.platform == "win32"` or `platform.platform() == "Windows" ?`

[2017-12-22 15:43] tobine commented on #2294
I believe intention was:

os.name == "nt"

I'll make a PR

[2017-12-22 19:58] critsec opened #2296 "vkCmdDispatch doesn't validate groupCount parameters against maxComputeWorkGroupCount limits"
These VU statements on vkCmdDispatch don't appear to be implemented:

* `groupCountX` must be less than or equal to `VkPhysicalDeviceLimits::maxComputeWorkGroupCount[0]`
* `groupCountY` must be less than or equal to `VkPhysicalDeviceLimits::maxComputeWorkGroupCount[1]`
* `groupCountZ` must be less than or equal to `VkPhysicalDeviceLimits::maxComputeWorkGroupCount[2]`

See [this StackOverflow quest

[2017-12-22 20:13] tobine commented on #2296
Thanks @critsec , yes, these checks are not yet implemented. Note that [vk_validation_error_database.txt](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/layers/vk_validation_error_database.txt) contains implementation status for VUIDs and *should* be easier to check than grepping code.

Implementer note, here are the VUIDs:
VALIDATION_ERROR_19c00304
VALIDATION_ERROR_1

[2018-01-01 11:17] elkrejzi opened #2303 "Building with clang/libc++ is broken"
When building Vulkan-LoaderAndValidationLayers from latest git master, the build fails with [1].

The problem happens because #include <string> is missing in the generated file. Adding "#include <string>" to the generated icd/mock_icd.h file fixes the issue. The question remains where the include should really go.

[1] https://gist.github.com/elkrejzi/257bdadaebd82c74b1f1caaa59f2b616

[2018-01-02 00:23] karl-lunarg commented on #2303
This build is passing on [CI](https://travis-ci.org/KhronosGroup/Vulkan-LoaderAndValidationLayers/builds).

Also, my generated `mock_icd.h` file, starting at line 25, looks like this:

[code]

It is likely that we'll need more information about your platform/environment in order to diagnose any further.
It may be useful for you to post the generated files.

[2018-01-02 08:57] elkrejzi commented on #2303
Sorry, I forgot to mention. The build fails when clang++ uses libc++ as its standard library. My clang is built so libc++ is the default lib, and you can change the behaviour using -stdlib=libc++ otherwise (you need to install libc++ first).

[2018-01-02 16:07] karl-lunarg commented on #2303
@elkrejzi   Instead of
[code]
Did you really mean:
[code]

If so, that seems to fix it.  I'll submit a PR.

[2018-01-02 17:10] elkrejzi commented on #2303
@karl-lunarg Yes, that's what I meant, github stripped the string part (with brackets).

[2018-01-02 18:42] daveh-lunarg commented on #2288
Pushed PR #2297 which resolves this issue.  Closing.

@marco-we, Thanks for the bug report!

[2018-01-02 18:42] #2288 closed

[2018-01-02 19:40] tobine commented on #2294
#2299 fixed this

[2018-01-02 19:40] #2294 closed

[2018-01-03 15:47] baldurk opened #2309 "False positive loader warning"
This is really minor, but the loader issues a warning like this in [`terminator_CreateDevice`](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/loader/loader.c#L5169):

When it sees a device extension enabled that the ICD doesn't support, and then it filters the extension out before passing the list to the ICD.

This is fine, but it doesn't take into account that layers

[2018-01-03 17:43] lenny-lunarg commented on #2309
I'm inclined to agree that this shouldn't be a warning. I'm going to switch this message to a debug message, which should clearly mark that there is nothing wrong with this behavior, while still leaving the message around for debugging. I'm testing the (admittedly tiny) change on our internal test farm now and I'll push it up shortly, as long as I don't get any unexpected failures.

[2018-01-03 18:46] lenny-lunarg commented on #2309
Resolved with commit a5ced43963485640c99d9a50f57c538a2c1a6b5f.

[2018-01-03 18:46] #2309 closed

[2018-01-04 00:32] cdwfs opened #2314 "Enabling VK_EXT_debug_marker w/validation layers active & no other implementation leads to crash"
**Repro:**

1. Enable the standard_validation layer at instance creation time
2. Enable `VK_EXT_debug_marker` at device creation time.
3. Load a pointer to `vkCmdDebugMarkerBeginEXT` with `vkGetDeviceProcAddr`, and use it to insert a command buffer marker. Guard the call by ensuring that the extension is active, that `vkGetDeviceProcAddr` returned a non-NULL function pointer, etc.; it won't help 😈

[2018-01-04 01:57] cdotstout opened #2315 "vkCreateInstance fails if an enabled extension is provided only by an implicit layer"
The logic in loader_validate_instance_extensions() appears to be:

check_if_known (assume extension is known);
look for an icd supporting the extension (assume there is none);
search for a layer supporting the extension from the list of enabled layers (assume no enabled layers)

Resulting in error:
Instance extension %s not supported by available ICDs or enabled layers.

So it appears that implici

[2018-01-04 14:21] danginsburg opened #2316 "VS2015 Version 14.0.25431.01 Update 3 compile error x64 RelWithDebInfo"
Trying to build the repo in x64 RelWithDebInfo I get the following compile error in core_validation.cpp:

[code]

This can be worked around by adding /bigobj to the "Additional Options" for core_validation.cpp.  It would be convenient if this were done in cmake.  For example, here is a project that seems to do something like this for debug builds: (https://gitlab.com/trinitycore/TrinityCore_434/bl

[2018-01-04 14:52] #2303 closed

[2018-01-04 18:56] lenny-lunarg commented on #2314
We've been able to reproduce this crash and there's definitely a problem that should be fixed here, but we've been debating internally how we want to fix this. The basic problem is that the loader sees that the layers implement `VK_EXT_debug_marker` and it lets the application enable it. The loader expects that the layer that implements each function won't call further down the chain. However, the

[2018-01-04 19:28] cdwfs commented on #2314
Glad to hear it's on the radar at least :)

BTW I was just able to trigger the same crash during a RenderDoc capture; according to the call stack, the renderdoc.dll implicit layer appears earlier in the dispatch chain than the validation layers, so the layers still hit that NULL pointer at the end of the chain.

[2018-01-04 21:16] lenny-lunarg commented on #2315
I don't see any problem in the logic for `loader_validate_instance_extensions`. Your summary of the logic for the function is basically correct, but when it checks the layers for extensions, it gets the layers from the `instance_layers` argument of the function. The layer list is loaded in `vkCreateInstance` (in trampoline.c) with `loader_layer_scan`, which loads both implicit and explicit layers.

[2018-01-04 22:08] #2316 closed

[2018-01-04 22:43] cdotstout commented on #2315
Yes, I do have a case that is failing; but it's simply an implicit layer that defines an instance extension.  Can provide more detail if necessary.

But coming back to the code, the loop here:

https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/loader/loader.c#L4836

Never executes because pCreateInfo->enabledLayerCount is 0.

[2018-01-04 22:47] cdotstout commented on #2315
Note this is an extension the loader doesn't know about; so I'm effectively using VK_LOADER_DISABLE_INST_EXT_FILTER to disable the filtering.

[2018-01-04 22:57] lenny-lunarg commented on #2315
Alright, I think I see the problem you're encountering now. At least very least, I think I have enough info to create a test case where I should be able to reproduce this. I'll know for sure once I've tested this, but I think you're right and I'll need to get the function to check the enabled layer list instead of `ppEnabledLayersNames`.

I'll post here once I have a more definite answer.

[2018-01-04 22:59] cdotstout commented on #2315
Great, thank you.

[2018-01-05 00:08] jzulauf-lunarg commented on #2221
Fixes merges in 2301.

[2018-01-05 00:08] #2221 closed

[2018-01-05 11:17] haasn commented on #2087
Seems there have been releases in SPIRV-Tools since then, gentoo just hasn't packaged them. I'll consider that a packaging bug.

[2018-01-05 11:17] #2087 closed

[2018-01-05 17:35] jzulauf-lunarg commented on #2277
I just added [some](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/pull/2301/commits/76c6b501fecab02934111d8067c9da110e1caf38#diff-b68a644ae0f3cbb1b3f42a7c11a19bc7R435) enqueuing for to ValidateDrawState in PR #2301.  Prior to that, sparse buffers where validating at draw time like non-sparse, so we probably don't have any test coverage of validation timing.

[2018-01-05 23:08] KarenGhavam-lunarG commented on #2273
This is a ping on this issue. If you are interested in participating, let me know by sending me your email and timezone information to karen@lunarg.com

[2018-01-06 22:04] roderickc opened #2323 "vkGetDeviceProcAddr allows returning of non-device functions"
When working on a Vulkan ICD implementation for Wine, I encountered issues related to vkGetDeviceProcAddr. The call is intended to load functions for device or children of device. I noticed Doom and Wolfenstein 2 both used vkGetDeviceProcAddr to load also instance functions (e.g. vkGetPhysicalDeviceSurfaceSupportKHR). Doing some further testing it appears any instance function can be returned (vkC

[2018-01-07 11:47] polarina commented on #2323
I believe tests against this behaviour should be added to the CTS.

[2018-01-07 18:25] karl-lunarg commented on #412
@chrisforbes I took a crack at this - can you please take a look and let me know if this is the right direction and if I'm missing anything?

I still need to write a test.

The cube app has changed a lot since this was opened.  The layout transitions now are requested in the render pass.   But I was still able to exercise this check by hacking cube to do a layout transition in the "prepare buffers

[2018-01-07 20:36] krOoze commented on #2323
@polarina It is not neccessarily obvious from the spec that implementations are not allowed to return a function pointer. It only clearly says that you are not allowed to use the given function pointer with a `VkInstance`.

[2018-01-08 18:34] lenny-lunarg commented on #2323
While I definitely agree that the behavior you're describing seems a little strange, my reading of the spec makes me think this is intended. The spec gives the following table to describe the behavior of `vkGetDeviceProcAddr`:

| device | pName | return value |
| --- | --- | --- |
| NULL | * | undefined |
| invalid device | * | undefined |
| device | NULL | undefined |
| device | core vulkan comma

[2018-01-08 18:34] #2323 closed

[2018-01-08 20:39] johnzupin opened #2328 "WAYLAND_EGL is never found on Ubuntu"
From what I've seen on Ubuntu, the libwayland-egl library doesn't have a pointer with a ".so" suffix in Ubuntu, so find_package never finds it because find_package defaults to ".so" and ".a" files.

The only pointer to the library has a ".so.1" suffix.

Here is what the files look like in my directory:
[code]

The same is for 32:
[code]

Adding,
[code]
somewhere into cmake fixes this problem.

[2018-01-08 22:04] daveh-lunarg commented on #2063
Remaining limits checks implemented in PR #2329

[2018-01-08 23:08] johnzupin commented on #2328
This might be only on my machine for some reason. My other Ubuntu machine doesn't have this problem and it is also 16.04. I'll close out soon if my other machine doesn't have this problem.

[2018-01-09 04:49] roderickc commented on #2323
Thanks for your feedback. I understand your position and the specification isn't exactly clear. I filed a spec ticket for reference: https://github.com/KhronosGroup/Vulkan-Docs/issues/655

[2018-01-09 06:48] Novum commented on #2323
Please don't change the loader in a way that breaks existing shipping games like Wolfenstein. This might require bug for bug compatibility.

I will check our code and fix this, but it probably won't be patched for Doom/Wolf.

[2018-01-09 16:29] stroyan opened #2330 "PFN_GetPhysicalDeviceProcAddr has C++ interface."
When PFN_GetPhysicalDeviceProcAddr was added to vk_icd.h and vk_layer.h in commit b5f087a it was done without an extern "C" declaration.
The pfnGetPhysicalDeviceProcAddr member in struct VkNegotiateLayerInterface and the vk_layerGetPhysicalDeviceProcAddr functions in validation layers are all using C++ interfaces.
It will be awkward to change to a C binding now.  But it will be troubling to use a

[2018-01-09 17:30] lenny-lunarg commented on #2330
It looks like there's some weird stuff going on with these functions, in general. I think the missing `extern "C"` really belongs in the function declaration or definition. I wonder why it isn't a part of `VK_LAYER_EXPORT` already. `vkGetInstanceProcAddr` does not get mangled in the layers because it gets declared in `vulkan.h`, which is then included in `threading.cpp`. Without any changes to the

[2018-01-09 17:55] lenny-lunarg commented on #2323
Thanks, I'll try to keep an eye on the spec issue. I definitely agree with @Novum that we can't break compatibility. That means that if we get a response that `vkGetDeviceProcAddr` shouldn't return instance functionality, we'll probably leave the functionality in the loader, but add a validation check or something like that.

[2018-01-09 18:02] krOoze commented on #2323
@lenny-lunarg Actually, either way it is undefined behaviour of those apps. Either they are calling `nullptr` functions, or they are calling function pointers they are prohibited to use with instance level objects. I don't think you owe them anything, except maybe being nice and provide some time-buffer in which they can patch their apps.

[2018-01-10 00:14] Novum commented on #2323
Yeah, no, this is not remotely comparable to that xkcd. Fixing this by returning NULL would break Doom and Wolf New Order to run. For no good reason besides being anal about the spec.

[2018-01-10 00:27] krOoze commented on #2323
@Novum Just sayin', it is their bug regardles of how the spec issue is resolved. There's no compatibility issue as far as spec analness goes (unless you count that it "breaks someones workflow who uses a bug\undefined value").

[2018-01-10 03:31] airlied opened #2331 "loader gets confused with extra / in XDG_DATA_DIRS"
So on Fedora XDG_DATA_DIRS is

XDG_DATA_DIRS=/home/airlied/.local/share/flatpak/exports/share/:/var/lib/flatpak/exports/share/:/usr/local/share/:/usr/share/

which causes the search path to end up as
/etc/xdg/vulkan/explicit_layer.d:/usr/share/vulkan/explicit_layer.d:/etc/vulkan/explicit_layer.d:/home/airlied/.local/share/flatpak/exports/share//vulkan/explicit_layer.d:/var/lib/flatpak/exports/shar

[2018-01-10 07:30] ZeGentzy opened #2332 "Debug Report Callbacks apears to get created 4 times from a single "vkCreateDebugReportCallbackEXT" call."
Forgive me if this has been previously reported or if this isn't actually an issue. I searched all the issues related to "Debug report callbacks" and didn't find any mentioning the text appearing multiple times, and I've got no clue if this isn't actually an issue as its my first time doing anything graphics related.

### A short summary of my issue:

When compiling and running this code: [main.cp

[2018-01-10 15:35] chrisforbes opened #2333 "Usage flags requirement not enforced for indirect buffers"
Similar to the validation we do for vertex buffers & index buffers today. As of 1.0.60 or so we have VUs in the spec for these cases.

Will add the checks for this so we can force CTS to get this right.

[2018-01-10 16:56] courtney-g commented on #2332
Each layer needs to keep track of the callbacks registered as each layer can be issuing a callback to the app.

[2018-01-10 17:08] mark-lunarg commented on #2332
@ZeGentzy, this is normal behavior.  Each of these layers detects that the debug callback is not cleaned up and so each will emit an error.  The layers are completely independent, and if only core_validation created a callback, your application's callback would not be called by the other layers.

[2018-01-10 17:48] colehocking opened #2335 "Executable Inside UninstallVulkanRT.exe flagged as Razy Trojan"
Hello,

Within the path C:\Program Files (x86)\VulkanRT\1.0.54.1\, I am seeing an executable packed within UninstallVulkanRT.exe that is being executed by igxpun.exe (an Intel executable). The PE being executed is called tmp00077132.exe. It is flagged by multiple AV sources as a [Razy Trojan](https://www.virustotal.com/#/file/063cdd8cbaed51822eb0854424e95cf153c7114c76110efa68f011abf1176545/detecti

[2018-01-10 17:54] lenny-lunarg commented on #2323
And even then I'm not at all sure that the spec outlaws this behavior. Regardless, we'll make sure compatibility is preserved.

[2018-01-10 18:37] lenny-lunarg commented on #2335
Like you said, this is a slightly different issue from #474 because if I'm reading the VirusTotal output right, it looks like it's flagging the `ConfigureRT.exe` file as a trojan, rather than flagging the uninstaller itself. My guess would be that the antiviruses don't like this file because it copies and deletes some stuff in System32.

Here's what I can do about this issue. I'll go through the a

[2018-01-10 21:08] colehocking commented on #2335
Thank you for your quick response. Much appreciated.

[2018-01-11 00:10] ZeGentzy commented on #2332
I see. Would it be possible to keeping track if the four callbacks were made by the same call to 'vkCreateDebugReportCallbackEXT', and if so only issue those warnings once? Or maybe make all the layers use the same callback?

I'd be willing to implement something like that if your okay with the layers not being 100% independent. Or maybe we could just add a warning that you might get multiple warn

[2018-01-11 08:56] sixzone11 commented on #2315
I am also experiencing such a problem. Likewise, if an ICD does not provide an extension to be activated via an implicit layer, the loader determines that it can not be used.

The use of this type of implicit layer is quite useful. If you want to use an extension in a particular application, and no ICD supports that extension, but there is a way to bypass it, it would be possible to provide the ex

[2018-01-11 17:02] lenny-lunarg commented on #2315
I'll update where I am on this issue, since it sounds like a couple of people could use it soon. I have a fix I wrote to make the loader recognize extensions provided by implicit layers, but I don't want to submit it without further changes because of what @sixzone11 mentioned:

The real problem is actually more general than not working for implicit layers &mdash; the real problem is that the load

[2018-01-11 18:28] #2063 closed

[2018-01-11 19:06] KarenGhavam-lunarG commented on #2273
I am closing this issue. Limited interest from contributors to join in a collaboration meeting. So no changes planned for now.

[2018-01-11 19:06] #2273 closed

[2018-01-11 23:31] stroyan commented on #2330
There are two different matters that the c++ name mangling brings into question.
Finding symbols by name is important.  But the calling convention for C vs C++ may also matter.
Many implementations of C++ have a calling convention that is binary compatible with C for simple types.
But there is no guarantee of that.  Both function typedefs and function declarations should be C for vulkan.  I see ma

[2018-01-12 15:27] jzulauf-lunarg commented on #2241
There is a sparse memory CTS with the same issue... I have a fix pending in https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/pull/2336 if you'd like to review/comment/try.

[2018-01-12 15:57] jzulauf-lunarg commented on #2241
Regarding:
"The root cause seems to be the fact I'm using multiple device and allocator objects. Most likely those are confusing the validator."

AFAICT the memory and buffer must be associated with the device to be valid. From the Valid Usage (Implicit) for vkBindBufferMemory.

- buffer must have been created, allocated, or retrieved from device (VUID-vkBindBufferMemory-buffer-parent)
- memory mu

[2018-01-12 17:12] mark-lunarg commented on #1807
This check is now available in the Assistant Layer, hosted in the [Github VulkanTools repository](https://github.com/LunarG/VulkanTools), and soon to be available in the Vulkan SDK.

[2018-01-12 17:12] mark-lunarg commented on #1696
This check is now available in the Assistant Layer, hosted in the [Github VulkanTools repository](https://github.com/LunarG/VulkanTools), and soon to be available in the Vulkan SDK.

[2018-01-12 17:12] mark-lunarg commented on #1401
This check is now available in the Assistant Layer, hosted in the [Github VulkanTools repository](https://github.com/LunarG/VulkanTools), and soon to be available in the Vulkan SDK.

[2018-01-12 17:13] mark-lunarg commented on #1155
This check is now available in the Assistant Layer, hosted in the [Github VulkanTools repository](https://github.com/LunarG/VulkanTools), and soon to be available in the Vulkan SDK.

[2018-01-12 17:44] johnzupin commented on #2328
Not sure what happened to the proper symlink on my machine but I don't think this is an issue.

[2018-01-12 17:44] #2328 closed

[2018-01-12 18:33] jzulauf-lunarg commented on #2241
Fix merged addressing the exact line referenced.

[2018-01-12 18:33] #2241 closed

[2018-01-12 22:28] pdaniell-nv opened #2338 "cube: Calling vkCreateSwapchainKHR with zero width/height is not allowed"
With the existing "cube" demos, when they are minimized on Windows the code receives a VK_ERROR_OUT_OF_DATE_KHR error return from vkQueuePresentKHR() or vkAcquireNextImageKHR(). It handles this by calling demo_resize() which tears everything down and recreates everything.

When an application is minimized vkGetPhysicalDeviceSurfaceCapabilitiesKHR() may return a currentExtent for the image with wid

[2018-01-12 22:30] pdaniell-nv commented on #2338
This was discussed internally here:
https://gitlab.khronos.org/vulkan/vulkan/issues/1020
and fixed in the spec here:
https://gitlab.khronos.org/vulkan/vulkan/merge_requests/2411

[2018-01-15 15:15] scyganINTEL opened #2341 "Loader leaks critical sections"
When running any Vulkan app under ['Application Verifier'](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/application-verifier) - with all basic checks selected, I am getting following error on `FreeLibrary(<vulkan-1.dll handle):

[code]

I have matched the address of the critical section to `loader_json_lock` mutex from https://github.com/KhronosGroup/Vulkan-LoaderAndValidatio

[2018-01-15 15:24] scyganINTEL commented on #2341
I am seeing this on sdk-1.0.65 and latest master (6ce028589b360d98c1789762895aaf6462792ea4)

[2018-01-15 20:32] johnzupin commented on #1962
@lenny-lunarg

[2018-01-16 00:10] lenny-lunarg commented on #1962
This should now be resolved with commit 488a6ea6c23b514a0a3409606df93ca2dd5fec29. The problem was that the try_compile test was also attempting to link with the --32 argument. This should now be resolved.

[2018-01-16 00:10] #1962 closed

[2018-01-16 00:28] lenny-lunarg commented on #2341
When I try running cube from master, I actually get a different error from the Application Verifier:

[code]

The call stack shows that this is happening when calling `FreeLibrary()` on the Intel driver. Checking the name of the dll that's creating the error gives:

[code]

I'm using a relatively old driver (it's whatever shipped from Windows Update). The device manager gives the date as 4/21/2017

[2018-01-16 05:21] jeffbolznv commented on #2341
@lenny-lunarg, as a general rule, DLL_PROCESS_DETACH should return without freeing anything when the "reserved" parameter is non-NULL (process termination), and should only free things when it is NULL (FreeLibrary). MSDN has this to say about it:

"When handling DLL_PROCESS_DETACH, a DLL should free resources such as heap memory only if the DLL is being unloaded dynamically (the lpReserved paramet

[2018-01-16 11:09] scyganINTEL commented on #2341
I have seen this in CTS, which loads (and frees) vulkan-1.dll dynamically.

Yep, I am going to give `lenny_gh2341` branch a try.

Agree with @jeffbolznv, that this should apply only to dynamic unload.

[2018-01-16 15:54] scyganINTEL commented on #2341
`lenny_gh2341` branch seems to have a typo: deletes `loader_lock` twice, does not delete  `loader_lock_json` here: https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/commit/e728287ebeec6071b4b4a1f7cbaa2a3d63e9d542#diff-5b4e070f5ce5cbb7bd1dd11f689d50a8R1927

Other than that (and the comment from @jeffbolznv that should be addressed), this works okay for me.

I can see also other (non-

[2018-01-16 15:59] lenny-lunarg commented on #2341
Thanks for pointing that out, you're definitely correct.

Yep, that's a typo.

I've now updated the `lenny_gh2341` branch to address both of these issues. I'll open a PR shortly to give anyone who wants to look over the changes a last chance before I merge.

[2018-01-16 17:31] tobine opened #2344 "Validate correct topology based on GS feature"
This is VALIDATION_ERROR_0fc0035a which is not yet validated. Spec states:

[2018-01-16 19:01] jeremyk-lunarg commented on #2075
Fixed by PR #2249.

[2018-01-16 19:01] #2075 closed

[2018-01-16 19:07] cdwfs opened #2346 "external_revision_generator.py should not depend on Git"
The `external_revision_generator.py` script is used to generate a unique ID for a particular state of the validation code, to determine whether a blob of serialized validation cache data is compatible with the version of the validation code currently in use by an application. The script currently uses the repository's Git commit ID as the unique ID, but this creates an implicit build requirement t

[2018-01-16 20:23] mikew-lunarg opened #2347 "Accidental force-push to LVL master; may need to reset branches."
Due to an accidental forced-push to LVL master, 11 recent commits (from Jan 5 - 15) had their history rewritten, so their hashes have changed.  The push did not remove any commits, so nothing was lost.  Erroneous commits have been reverted, so code-wise, the content of the master branch is as before; just the hashes have changed.

If your repo does not reference any of those rewritten commits, you

[2018-01-16 21:08] krOoze commented on #2347
I believe there is a setting in the GitHub to prevent rewriting history on specific branches.

[2018-01-16 21:10] alexander-a-kharlamov opened #2348 "Report that using descriptor sets after their descriptor set layout was destroyed is invalid"
This request is for the validation layer to report whenever a descriptor set is used after it's descriptor set layout has been destroyed. Spec section 2.3.1 says:

VkDescriptorSetLayout objects may be accessed by commands that operate on descriptor sets allocated using that layout, and those descriptor sets must not be updated with vkUpdateDescriptorSets after the descriptor set layout has been de

[2018-01-16 21:20] tobine commented on #2348
In addition to the validation layer check, there should be a Valid Usage case in the spec under "vkUpdateDescriptorSets()" that enforces that restriction. I'll add the check and request a spec update to that effect.

[2018-01-16 22:50] lenny-lunarg commented on #2341
This bug is resolved by #2343.

[2018-01-16 22:50] #2341 closed

[2018-01-16 23:19] jzulauf-lunarg commented on #2348
@tobine  -- I've noted a straightfoward fix ... are you working this, or should I?

[2018-01-16 23:24] tobine commented on #2348
@jzulauf-lunarg please go ahead and add fix/check. I've submitted a spec issue to add related VUs.

[2018-01-16 23:37] jzulauf-lunarg commented on #2348
I was going overload the "must be a valid DescriptorSet" VU for now, or I can leave it as a non-VUID issue until the VUID's are added. Preference?

[2018-01-16 23:42] tobine commented on #2348
Yes, I recommend overloading that VU for now w/ TODO comment on pending VUID update when spec change lands.

[2018-01-17 16:40] mikew-lunarg commented on #2347
Indeed.  LVL is protected against this recurring.

[2018-01-17 16:40] #2347 closed

[2018-01-17 17:35] atomnuker opened #2350 "Error when trying to use image aspect plane flags on multiplane images in vkGetImageSubresourceLayout"
Creating a non-disjoint multiplane image and attempting to get the VkSubresourceLayout of each individual plane by using vkGetImageSubresourceLayout (by setting the aspectMask flag to VK_IMAGE_ASPECT_PLANE_<number>_BIT_KHR) results in the layer reporting an error:

However the [https://www.khronos.org/registry/vulkan/specs/1.0-wsi_extensions/html/vkspec.html#vkGetImageSubresourceLayout](spec) says

[2018-01-17 18:50] jzulauf-lunarg commented on #2270
The above pull request should address this issue.

[2018-01-17 22:24] jzulauf-lunarg commented on #2348
Patch available for test against original issue.

[2018-01-18 16:31] #2296 closed

[2018-01-18 16:33] daveh-lunarg commented on #2296
These checks are implemented in PR #2349.  Thanks @critsec for the bug report!

[2018-01-18 23:06] lenny-lunarg commented on #2315
This issue should be resolved via PR #2353

[2018-01-18 23:06] #2315 closed

[2018-01-19 12:22] shinchiro opened #2355 "Vulkan loader crash"
Hello, I've compiled vulkan loader statically. It always works fine before until this commit, a2be059 where it will crash any application calling function like `vkCreateInstance`

[2018-01-19 16:36] lenny-lunarg commented on #2355
That commit fixed up some memory leaks when using the loader as a dll, but I forgot that we still needed the old method in case this is a static library. I'll get it added back in shortly.

[2018-01-19 23:14] #2350 closed

[2018-01-19 23:40] daveh-lunarg commented on #2350
Fixed in PR #2358. Thanks for the bug report, @atomnuker !

[2018-01-19 23:44] #2355 closed

[2018-01-20 05:38] zeux opened #2360 "Validate descriptor set flags for vkCmdPushDescriptorSetKHR"
`vkCmdPushDescriptorSetKHR` has the following VU:

This is not checked by validation layers; some drivers appear to not handle push descriptors without this flag.

[2018-01-20 05:40] zeux opened #2361 "Validate descriptor operations for VK_DESCRIPTOR_SET_LAYOUT_CREATE_PUSH_DESCRIPTOR_BIT_KHR"
The spec says that

Validation layers currently allow allocating descriptors with layouts created with this flag, this most likely needs to be an error.

[2018-01-20 05:41] zeux opened #2362 "Validate descriptor types for vkCmdPushDescriptorSetKHR"
I'm not sure whether it makes sense to handle it in `vkCmdPushDescriptorSetKHR`, or when creating descriptors with `VK_DESCRIPTOR_SET_LAYOUT_CREATE_PUSH_DESCRIPTOR_BIT_KHR` (which requires #2361...), but the spec says that push descriptor sets can not work with dynamic descriptor types, and validation layers don't check this at creation or `vkCmdPushDescriptorSetKHR` time.

[2018-01-20 07:00] zeux opened #2363 "Layers require VK_KHR_get_physical_device_properties2 to call vkCmdPushDescriptorSetKHR"
When creating a device with `VK_KHR_push_descriptor` extension and trying to call `vkCmdPushDescriptorSetKHR`, validation layers issue the following error:

Now, the spec does say that `VK_KHR_push_descriptor` requires `VK_KHR_get_physical_device_properties2` but I'm not 100% sure what that means. It seems to me that the current behavior is non-intuitive and slightly odd - the only reason I would

[2018-01-20 11:06] atomnuker opened #2364 "Binding memory using vkBindImageMemory after getting its requirements via vkGetImageMemoryRequirements2KHR results in a warning"
Seems like vkBindImageMemory isn't checking if image has had its requirements gotten through vkGetImageMemoryRequirements2KHR.
This is common if an API user doesn't need non-disjoint multiplanar images (and in fact one of the examples in 1.0.68 version of the specs does exactly that).

Also the inverse is maybe true as well, using vkGetImageMemoryRequirements to get an image's requirements and bin

[2018-01-21 15:34] krOoze commented on #2363
This is a specification Issue. As you noted the layers do exactly what the spec says.

`VK_KHR_push_descriptor` needs `VK_KHR_get_physical_device_properties2` because it extends `VkPhysicalDeviceProperties` (and the core version was not extensible).

Theoretically it could work the way you want (and you could make an Issue at the [Specification repo](https://github.com/KhronosGroup/Vulkan-Docs/iss

[2018-01-21 17:31] zeux commented on #2363
I'm not sure I understand p.3 - I don't see layers calling vkGetPhysicalDeviceProperties2KHR anywhere (or validating maxPushDescriptors - I guess they will need to start doing it at some point...).

One other peculiar point is that layers emit this error when trying to call vkCmdPushDescriptorSetKHR, *not* when trying to create the device with VK_KHR_push_descriptors. Is it even valid to create a

[2018-01-21 17:33] zeux opened #2365 "Validate push descriptor count in vkCreateDescriptorSetLayout"
vkCreateDescriptorSetLayout says that the number of push descriptors is limited by maxPushDescriptors that can be obtained by querying it (and has to be at least 32):

 There is no validation for this right now.

[2018-01-21 17:54] krOoze commented on #2363
Look e.g. here: https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/323def7161ff186a3a6df5fb712a85d74323ae7b/layers/parameter_validation_utils.cpp#L467

Certainly, this should be checked/reported on `vkCreateDevice`.
It seems to be autogenerated, so probably a problem for all extension commands with dependencies...

No. It is undefined behavior. It has accompanying VU in the late

[2018-01-22 02:06] zeux opened #2366 "Device can be created with VK_KHR_push_descriptor and without VK_KHR_get_physical_device_properties2"
It looks like dependent extensions are not checked when creating the device - creation of device with VK_KHR_push_descriptors but without VK_KHR_get_physical_device_properties2 that it depends on succeeds without warnings/errors.

When trying to use vkCmdPushDescriptorSetKHR, the validation does error if VK_KHR_get_physical_device_properties2 isn't specified but this check seems like it should be

[2018-01-22 02:08] zeux commented on #2363
I've opened #2366 to perform extension check earlier; it's unfortunate that the dependent extension is necessary in this case but so be it.

[2018-01-22 02:08] #2363 closed

[2018-01-22 14:17] mark-lunarg commented on #2366
@zeux, I believe this check was intentionally deferred until use.  Is it worth an error/warning if an application enables an extension without its dependent extensions, and never uses the extension?

[2018-01-22 15:36] zeux commented on #2366
My understanding is that in some cases what constitutes "use" of an extension is not 100% clear (for example, VK_KHR_maintenance1 subtly changes the behavior of vkAllocateDescriptors removing the VU for pool having sufficient # of descriptors). It seems that if the application enables an extension but doesn't use it, this is a lingering bug and I'd much rather get notified about this early - if th

[2018-01-22 16:29] mark-lunarg commented on #2366
We have learned through long experience that users hate to get warnings for things they be doing intentionally, and in general we tend towards being conservative with warnings in the Validation layers.  I'll talk to the folks here to see what the consensus is, but I'm guessing that this, and possibly other issues in this grey area would be better located in the Assistant Layer (in VulkanTools).

[2018-01-22 17:26] jzulauf-lunarg commented on #2362
This should be added to DescriptorSetLayout::ValidateCreateInfo
VUID-VkDescriptorSetLayoutCreateInfo-flags-00280

[2018-01-22 17:33] jzulauf-lunarg commented on #2361
VUID-VkDescriptorSetAllocateInfo-pSetLayouts-00308

[2018-01-22 21:04] krOoze commented on #2366
??
VUID-vkCreateDevice-ppEnabledExtensionNames-01387:

[2018-01-22 21:17] zeux commented on #2366
Interesting. Does this conflict with what is written here?

https://www.khronos.org/registry/vulkan/specs/1.0-extensions/html/vkspec.html#extended-functionality-extensions-dependencies

[2018-01-22 22:03] mark-lunarg commented on #2366
So for now, I'll mark this as an INCOMPLETE pointing to VU 0x1a700422 (VUID-vkCreateDevice-ppEnabledExtensionNames-01387), and we'll leave sorting out the spec for another issue.  Thanks @zeux and @krOoze.

[2018-01-22 22:10] krOoze commented on #2366
Not really IMO. The VU even links to that section.

As analytic philosophy teaches us, english sentence can be interpreted in million different ways. I would imagine that is the reason VU sections were introduced in the first place.
I have similar problems with the free-form text in the specification all the time...

[2018-01-23 18:07] #2270 closed

[2018-01-23 20:22] jzulauf-lunarg commented on #2184
Cleaned.

[2018-01-23 20:22] #2184 closed

[2018-01-24 13:43] nikitablack opened #2371 "Non consecutive vertex buffer bindings causes layer to report a warning"
Create multiple vertex buffers with non-consecutive binding indices:
[code]
Bind vertex buffers to specified indices:
[code]
Model renders as expected but validation layer emits
`validation layer: Cannot submit cmd buffer using deleted buffer 0x0.`

[2018-01-24 23:24] critsec commented on #2371
Just to link things in both directions, this came from a [StackOverflow question](https://stackoverflow.com/questions/48420392/why-multiple-vertex-buffer-bindings-should-be-consecutive).

[2018-01-25 19:15] daveh-lunarg commented on #2210
Hi, @tobias-ourmachinery ,

I'm trying to reproduce this issue, but not seeing the validation error you mention. Your description is brief and I may be misunderstanding it. Here's my setup:

[code]
The above code uses some helpers from the validation layers test framework. VkImageObj encapsulates a VkImage and does memory allocation & binding.  The SetLayout member function queues a VkImageMemoryB

[2018-01-25 22:17] daveh-lunarg commented on #2364
It seems fairly easy to fix up all the permutations of KHR/non-KHR entry points, but it begs the question of whether this warning should even exist. A user can plausibly know the memory requirements of an image without calling any flavor vkGetImageMemoryRequirements on it, e.g. when creating (n > 1) identical images and only calling vkGIMR() on the first.

Unless I'm missing something, this warnin

[2018-01-26 17:40] daveh-lunarg commented on #2371
Assigning this to @chrisforbes, as he already has a PR up to fix it.

[2018-01-26 17:54] #2371 closed

[2018-01-26 20:03] jzulauf-lunarg commented on #2362
fixed in validation of vkCreateDescriptorSetLayout

[2018-01-26 20:03] #2362 closed

[2018-01-26 20:05] jzulauf-lunarg commented on #2365
Added to vkCreateDescriptorSetLayout validation

[2018-01-26 20:05] #2365 closed

[2018-01-26 22:34] tobine commented on #2364
My initial thought is not to remove the warning unless users are requesting that. The spec does not guarantee that identical images will have identical memory requirements returned by the driver. That's up to the implementation. I believe this warning originated from some bad assumptions apps were making about similar or identical images that were causing errors.

[2018-01-26 22:40] jzulauf-lunarg opened #2374 "icd: Add support for vkGetPhysicalDeviceFeatures2KHR pNext extension queries"
The mock_icd needs to report valid limit/feature information for all extensions it reported as supported.  Currently mock_icd ignores the pNext chain for vkGetPhysicalDeviceFeatures2KHR where the extension features are queried.

However, when validation support is added for an extension, the features and limits need to be reported back with valid (for example guaranteed minimums given in the spec)

[2018-01-27 14:59] atomnuker commented on #2364
I think this is one of those warnings that should be gone. API users can just set the memory requirements directly in case they know them. Which is what happens when importing Unix FDs, where you can lseek to know its size, its flags are going to be the flags of the heap of the queue the memory is in and the alignment is the page size.

[2018-01-29 16:04] tobine commented on #2364
Remember that warnings can often be helpful to novice API users. The use case referenced by @atomnuker is very specific and in such a case the warning can easily be ignored. There are many more use cases and possibilities for novice users to hit tricky bugs due to making incorrect mem requirement assumptions when failing to get mem requirements from the implementation. As the spec says:

[2018-01-29 16:10] mark-lunarg commented on #2364
Alternatively, this entire class of warnings (not covered in the spec) could be moved to the assistant layer.

[2018-01-29 21:29] daveh-lunarg commented on #2364
Users managing their own memory pools will be re-using memory for a given image all the time, and my guess is the potential annoyance of being warned "you didn't ask how much memory is needed *this* time" is higher than the potential benefit of this warning. But, I don't know the history of how this warning got added in the first place, and if my guesses were 100% reliable I be sitting on a pile o

[2018-01-29 23:03] atomnuker opened #2377 "Binding memory using vkBindImageMemory2KHR and submitting the image to be operated on via a command buffer errors"
It seems vkBindImageMemory2KHR fails to set some sort of internal state which declares the image as having memory bound to it, which causes error when submitting it to be operated on (e.g. as an argument to a blit operation).

Apparently none of the new bind/requirements functions are supported yet, which makes people less likely to use them if they can't be validated, and they must be used to dea

[2018-01-30 00:31] atomnuker opened #2378 "vkCmdCopyImage fails when used on multi-planar images"
As the title says, using vkCmdCopyImage fails when used on multiplanar VkFormats with an error:

The new version of the spec says:

Should be a simple matter of making vkCmdCopyImage accept the new aspect flags.
I'd appreciate it if other functions not yet reported are made aware of those as well, I'll keep reporting what I find that doesn't.

[2018-01-30 19:17] jekstrand opened #2379 "vulkaninfo doesn't give anything useful when DISPLAY is not set"
On Linux, if there is no DISPLAY environment variable (so it can't find X11), vulkaninfo doesn't give anything useful.  However, running a Vulkan driver headless is a perfectly reasonable thing to do so it should be able to print out everything other than the WSI information.

[2018-01-31 10:24] kennyalive opened #2380 "Validation error when using non-consecutive vertex binding numbers"
If I bind vertex buffers using binding numbers 0 and 2, leaving binding 1 unused

[code]

then I get this warning from validation layer:
ERROR:   DEFAULT: [DS] (0x0000000B) Cannot submit cmd buffer using deleted buffer 0x0.

Analyzing core_validation.cpp code it seems this warning appears because the layer finds that nothing is bound to binding 1. More specificially when we bind vertex buffer for

[2018-01-31 15:29] DominikWitczakAMD opened #2382 "Buffer validation: Invalid check for VkBufferImageCopy::bufferOffset field."
https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/6d71c6473925e03deab5b3396112cf31e95f1249/layers/buffer_validation.cpp#L1396

This check does not make much sense. I'm guessing this was supposed to validate following language:

``
bufferOffset must be a multiple of 4
``

meaning _granularity.width_ should have been 4 here.

[2018-01-31 16:13] jzulauf-lunarg commented on #2361
Addressed in above commit.

[2018-01-31 16:13] #2361 closed

[2018-01-31 16:19] DominikWitczakAMD opened #2383 "Core validation: No checks for min image transfer granularity adherence"
Validation layers do not appear to be verifying if copy op regions submitted via buffer<->image / image<->image transfer ops adhere to the min image transfer granularity, reported separately for each queue family.

In particular it appears that core validation layer does not verify that the rightmost, bottommost, Z-most (?) tiles that exceed past the last aligned tile for each dimension are never

[2018-01-31 19:12] kikijiki opened #2386 "VkLayer_core_validation hangs when creating image view for swapchain."
I'm getting this exception inside `VkLayer_core_validation.dll` when calling `vkCreateImageView`.

[code]

### What I'm doing
- Create the swapchain: `vkCreateSwapchainKHR`
- Get the images: `vkGetSwapchainImagesKHR`
- Create an image view for the first image: `vkCreateImageView`

I tried running with a locally built validation layer to debug inside the dll and found the reason for the error.
In `

[2018-01-31 19:27] mark-lunarg commented on #2386
@kikijiki, are there any validation messages that appear before the crash?  This is a common pattern, and the cube demo implements the same pattern without error.  Without more information it appears that the VkImage object in the VkImageViewCreateInfo structure passed into CreateImageView has not been seen by the layers, which seems odd.  Perhaps you can include your source code, or make modifica

[2018-01-31 23:26] #2364 closed

[2018-01-31 23:29] #2377 closed

[2018-01-31 23:52] tobine commented on #2277
@chrisforbes is tackling sparse testing in CTS and feeling pain of limited sparse binding validation. I might add a few simple enhancements, but in looking at spec I realize that a comprehensive solution is going to take weeks+ of effort which is beyond any near-term capacity I'll have. Just wanted to check if @mark-lunarg or @jzulauf-lunarg or anyone else has ambition/desire to start chipping at

[2018-02-01 00:35] daveh-lunarg commented on #2380
Hi, @kennyalive ,

This looks like a duplicate of issue #2371, which was recently fixed in PR #2372. It's merged into master here now, and will be included in the next SDK release.

I'm closing this issue assuming this is the case. Please re-open if you find otherwise.

[2018-02-01 00:35] #2380 closed

[2018-02-01 06:04] kikijiki commented on #2386
No validation messages before the crash.

I'll update once I get back home.

[2018-02-01 08:54] kennyalive commented on #2380
Thanks! My bad I didn't check existing issues.

[2018-02-01 14:55] xlpiao commented on #2152
@CrisBRM
Hi, Cris.
I have the same issue.

The graphic card that I am testing now is
`[AMD/ATI] Venus LE / Tropo PRO-L [Radeon HD 8830M / R7 M465X] (rev 87)`

Above, you said it was a kernel issue. What do you mean by appending  `radeon.si_support=0 radeon.cik_support=0 amdgpu.si_support=1 amdgpu.cik_support=1` to the commandline ?

Do you mean that I should add `radeon.si_support=0 radeon.cik_sup

[2018-02-01 15:04] kikijiki commented on #2386
@mark-lunarg This is a stripped version of my code, hangs in the same way (there are a couple of validation warnings since I removed a few checks)

https://gist.github.com/kikijiki/cf9c843b4653a63d96b528863af63370

Maybe I'm doing something wrong? I wouldn't be surprised 😅

[2018-02-01 16:57] cnorthrop commented on #2346
Hey Cort,

Pinging @chrisforbes too.

Any update on this?  Could we just use a random number instead of something tied to git?  This is affecting the Android NDK downstream.

-C

[2018-02-01 17:55] cdwfs commented on #2346
No concrete progress yet; just ideas.

- The ideal ID would correspond to a particular state of the spirv-tools shader validation code.

- The next best thing would be a build number from the spirv-tools library; I see a build-version.inc in the spirv-tools build directory, but its contents also seems to be derived from the Git commit ID.

- Worst-case, any old random number for a given build of t

[2018-02-01 21:06] cnorthrop commented on #2346
A couple more ideas:

- Use a timestamp.  This is akin to the random number, but trackable.

- It looks like `build-version.inc` is created by `update_build_version.py`, which can use the `git rev-parse`, but doesn't require it.  So you could get a string out to identify the approximate SPIR-V version, which would hopefully be compatible between hashes until `CHANGES` were updated? i.e.:
  - `"v20

[2018-02-01 21:25] cdwfs commented on #2346
If the spirv-tools build-version.inc works with or without Git, that's suddenly a much more compelling solution! I wish the timestamp it included in that case were a bit higher-resolution; would it be reasonable to add a HH:MM:SS suffix?

[2018-02-02 15:20] kikijiki commented on #2386
I don't know why but this is what is happening
- `vkCreateSwapchainKHR`
  - `PostCallRecordGetSwapchainImagesKHR` gets called with `pSwapchainImages` == `{ 3, 4, 5 }`
  - `swapchain_state->images` is empty so it gets filled
-  `vkGetSwapchainImagesKHR`
  - `PostCallRecordGetSwapchainImagesKHR` gets called with `pSwapchainImages` == `{ 6, 7, 8 }`
  - `swapchain_state->images` is already set, `{ 6,

[2018-02-02 18:53] jzulauf-lunarg commented on #2277
@tobine @chrisforbes I'm doing a bit of an overhaul/leak pulling for Pipeline Layout Compatibility that could go out a couple weeks, but possibly could be available after that to take look (modulo higher priorities).

[2018-02-03 14:18] cforfang commented on #2386
I wasn't able to reproduce using your code (Win10 64bit, 32/64-bit builds, Vulkan SDK 1.0.65.1, MSVC Community 17, GeForce 388.59).

Which compiler are you using?

[2018-02-04 05:53] kikijiki commented on #2386
@cforfang I'm using Visual Studio 15 2017, toolset is  v141 (x64).
I tried creating a new solution from scratch and it behaves the same for me: [vulkan_test.zip](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/files/1692485/vulkan_test.zip)

[2018-02-04 05:55] kikijiki commented on #2386
Driver info:

Radeon Software Version - 18.1.1
Radeon Software Edition - Adrenalin
Graphics Chipset - Radeon RX Vega
High Bandwidth Cache Size - 8176 MB
High Bandwidth Cache Type - HBM2
Core Clock - 1630 MHz
Windows Version - Windows 10 (64 bit)
System Memory - 16 GB
CPU Type - AMD Ryzen 7 1800X Eight-Core Processor

[2018-02-04 11:41] cforfang commented on #2386
I tried your solution on my laptop with Intel drivers this time and no crash there also. :-/ Got the following validation warnings, which are all expected (but unrelated) I think:
[code]
`$(VULKAN_SDK)` is `C:\VulkanSDK\1.0.65.1`, and layers are downloaded from https://vulkan.lunarg.com/sdk/home#windows (ie. I didn't build them myself).
Intel HD Graphics 620, driver version 22.20.16.4749
Seems lik

[2018-02-04 15:33] krOoze commented on #2379
I distinctly remember fixing that. Let's see... PR #2272.

[2018-02-04 16:08] krOoze commented on #2386
I do **not** get a crash either.
Try recording a `VK_LAYER_LUNARG_api_dump` log.

You should be checking all the `VkResult`s systematically to know if the preceeding commands succeeded.

[2018-02-04 17:28] kikijiki commented on #2386
Hmm, I have literally no idea what's going on.

First I tried adding the result checks to all Vulkan calls, but they were fine.
Then I added the dump layer, and now the error does not happen anymore.
Both the test solution and the original one work fine, even if I remove the layer again.
I even tried rebooting but I cannot reproduce anymore.

[2018-02-04 17:41] haasn opened #2396 "Seemingly bogus `VkPhysicalDeviceFeatures::shaderStorageImageExtendedFormats` error"
I have a compute shader that starts like this:

[code]

The corresponding SPIR-V disassembly starts like this:
[code]

And my VkPhysicalDeviceFeatures struct looks like this:
[code]

As you can clearly see, `shaderStorageImageExtendedFormats` is set to 1, and the SPIR-V shader also includes `OpCapability StorageImageExtendedFormats`.

Despite this, I get the following error from the validation lay

[2018-02-04 17:43] haasn commented on #2396
I've uploaded the full transcripts of the generated shaders separately due to their size:

GLSL https://0x0.st/scrY.txt
SPIR-V https://0x0.st/scrg.txt

[2018-02-04 20:11] krOoze commented on #2396
weird. What's the `vk->dev` you pass to the `vkCreateComputePipelines` call?

[2018-02-04 21:29] krOoze commented on #2396
Something like that works for me without issue.
Are you checking if `shaderStorageImageExtendedFormats` is supported via `vkGetPhysicalDeviceFeatures`?
And then actually pass a `VkPhysicalDeviceFeatures` with `shaderStorageImageExtendedFormats` set to `VK_TRUE` on `vkCreateDevice`?

[2018-02-04 22:03] haasn commented on #2396
Oh, I think this was the culprit - I was checking for the VkPhysicalDeviceFeatures support, but not actually enabling this support at device creation.

[2018-02-04 22:19] #2396 closed

[2018-02-05 04:18] kikijiki commented on #2386
Anyway, having null checks in `PostCallRecordCreateImageView` might help debugging when you try to create an imageview from an invalid image handle.

[2018-02-05 14:51] krOoze commented on #2386
@kikijiki There generally are null checks.
Yea, no, it is weirdly implemented. Ideally it should not access image state at all when creating the new image view state.

[2018-02-05 15:00] krOoze commented on #1771
I am getting nr. 4 again for some time now.
It happens on `vkDestoryPipeline` (tries to destroy the combined sampler twice maybe?).
If I do not store the read in the shader the error disappears (the sampler and texture gets optimized away maybe?).
I'm just gonna report it as driver bug...

[2018-02-05 18:42] shannon-lunarg commented on #2379
@jekstrand How are you producing this output?
I was able to break vulkaninfo as you described by setting the DISPLAY environment variable to nothing (`export DISPLAY=`) and two double quotes (`export DISPLAY=""`). Is this similar to how you achieved this effect?

[2018-02-05 19:25] dirkson opened #2397 "Failure to build with musl libc"
The method used to check for the existence of secure_getenv and __secure_getenv appears to be dependent on the existence of these functions to function. Which is sort of a fun, tautological method to check if they exist, but does prevent the building when they're absent, which is probably not the intent.

Relevant cmake errors:
`
Determining if the function secure_getenv exists failed with the fol

[2018-02-05 19:52] krOoze commented on #2379
@shannon-lunarg That might be a good enhancement. It currently only considers if the `DISPLAY` is undefined.

PS `export DISPLAY=` is equivalent to `export DISPLAY=""`, right?

[2018-02-05 20:17] mark-lunarg commented on #2396
Thanks for taking care of this one @krOoze!

[2018-02-06 00:05] mark-lunarg commented on #2386
@kikijiki, we rely on the object_tracker layer to provide information to the application regarding invalid handles.  Big thanks to @cforfang and @krOoze for taking this on!  Very much appreciated.

[2018-02-06 00:05] #2386 closed

[2018-02-06 01:12] jekstrand commented on #2379
@shannon-lunarg I frequently run on machines with no X or Wayland server running.  In this case, neither DISPLAY nor WAYLAND_DISPLAY is even set.  Another way to reproduce this is to run `unset DISPLAY`.  Another is to SSH into a machine that can run Vulkan so you get a command-line environment only.

[2018-02-06 01:22] #2346 closed

[2018-02-07 18:35] krOoze commented on #2379
@jekstrand Alright, try the new master, though `unset DISPLAY` should have worked even before...

[2018-02-07 18:48] karl-lunarg commented on #2379
`vulkaninfo` worked fine for me with no `DISPLAY` set in the environment before #2398 was merged.

It is possible the @jekstrand was using `vulkaninfo` from an SDK that didn't have #2272 in it.

And #2398 does fix the crash when `DISPLAY=""`.

[2018-02-08 05:47] jekstrand commented on #2379
That's quite possible.  I've got 1.0.65 on my laptop.

[2018-02-08 05:51] jekstrand commented on #2379
I just pulled the latest and everything seems to work now.  Here's hoping Fedora pulls a new loader and demos in soon...

[2018-02-08 05:51] #2379 closed

[2018-02-08 19:19] moertelrupp commented on #2386
I managed to get the same error, in my case it was caused by running the program MSIAfterburner when starting the application.

[2018-02-09 05:14] kikijiki commented on #2386
@moertelrupp Now that you mention it, I had afterburner installed! And I uninstalled some days ago, maybe that's the reason I could not reproduce the error anymore.

[2018-02-09 15:37] kikijiki commented on #2386
@mark-lunarg I confirmed that this was caused by Afterburner. Just having it installed is fine, but enabling the on-screen display causes the validation layer to crash as described.

[2018-02-13 14:08] tobine opened #2403 "Presence of ICD json causes loader errors when loading layers"
I'm seeing some peculiar behavior that I believe may be a bug in the loader.
This is all on a Linux system.
First build the LVL repo to "<lvl_dir>/dbuild" and set "VK_LAYER_PATH=<lvl_dir>/dbuild/layers".
Then, from <lvl_dir>/dbuild/demos run "**./cube --validate**"

This works fine although I currently get an error about "Failed to open JSON file VkLayer_device_simulation.json" that is irrelevant

[2018-02-13 15:58] karl-lunarg commented on #2403
I found a similar issue yesterday and told Lenny about it.  I was going to file an issue today.  In my case, I had the ICD JSON in the same directory as the layer JSONs and set VK_LAYER_PATH to that directory.  This is probably the same as Tobin's setup, except that the ICD JSON pointed to the ICD binary correctly and was not ignored.  I was running vulkaninfo.  In this config, vulkaninfo reported

[2018-02-13 16:30] tobine commented on #2403
@karl-lunarg Looking at my workspace I see that the device_simulation message was due to a dead link I had created manually. When I kill that link the message goes away and I did a clean build to confirm that the link is not there normally. I'm sure this is from a while back when I was testing devsim w/ mock ICD.

I placed the mock ICD "libVkICD_mock_icd.so" file into the layers dir and I see the

[2018-02-13 19:50] RCalocaO opened #2408 "Potential bug with 3d images/subresource layouts"
I'm getting what I'm pretty sure are buggy validation errors when using a 3D texture aliased as 2d arrays. Attached is the API dump file, and in the companion log file, you can see the validation errors. This is with regards to 3d textures 0x961, 0x96c, 0x966, 0x96a, 0x963, etc at the bottom of the log file
_(eg *** [ERROR:DS6] Obj 0x00000123314B0C00 Loc 2733 Cannot submit cmd buffer using image (

[2018-02-13 19:51] RCalocaO commented on #2408
[vk_apidump2.zip](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/files/1721432/vk_apidump2.zip)
Api dump file.

[2018-02-13 21:48] daveh-lunarg commented on #2408
Yeah, looks like another variant of issue #2210. Haven't yet been able to repro here, but the api dump should help with that.

@RCalocaO, what version of the SDK are you using?

[2018-02-13 22:00] RCalocaO commented on #2408
1.0.68.0

[2018-02-13 22:16] daveh-lunarg commented on #2408
@RCalocaO, any chance you can submit a small repro case?  Would be much faster than working through the api dump.

[2018-02-13 22:19] RCalocaO commented on #2408
I can maybe try to get a vktrace, would that be helpful?

[2018-02-13 22:25] daveh-lunarg commented on #2408
Sure, that'd help. Single frame to keep the size down.

If you've got an easy way to share it, just put the link here.  Otherwise I can set up a folder on share.lunarg.com to upload.

Thanks!

[2018-02-13 22:39] RCalocaO commented on #2408
https://www.dropbox.com/s/9sr45ptjfwueimt/vktrace_out.zip?dl=0

[2018-02-13 22:41] RCalocaO commented on #2408
I tried opening it with vktraceviewer, but it thought it was made with 1.0.65.1 for some reason (even though the engine loaded the C:\VulkanSDK\1.0.68.0\Source\lib\VkLayer_vktrace_layer.dll file).

[2018-02-13 23:07] #2403 closed

[2018-02-14 07:23] techlabxe opened #2410 "vkGetSwapchainImagesKHR called more than once, returns another handle (ID)s"
When enabled validation layer and 'vkGetSwapchainImagesKHR' is called twice,
I think that invalid handle (ID) returned.

I tried to vkGetSwapchainImagesKHR without validation layer, so value was same.
I expect the values to be the same when enabled validation layer.

example:
[code]

thanks

[2018-02-14 08:47] cforfang commented on #2410
Hmm, this sounds kinda similar to #2386... Are you running MSI Afterburner by any chance?

[2018-02-14 09:39] techlabxe commented on #2410
I also confirmed the issue. and I not installed MSI Afterburner.
Other sample programs are working normally.

I studing programming of vulkan, it was called twice (vkGetSwapchainImagesKHR) by chance.
Is it prohibited calling vkGetSwapchainImagesKHR twice ?

[2018-02-14 11:47] krOoze commented on #2410
No.
I can reproduce the issue too. Probably an `unique_objects` layer bug.

[2018-02-14 12:28] techlabxe commented on #2410
however, using VkImage (stored unique_object's ID, second call),
GetImageState function is returend nullptr in PostCallRecordCreateImageView.

[2018-02-14 14:53] tobine commented on #1600
Closing as obsolete as we didn't get repro case.

[2018-02-14 14:53] #1600 closed

[2018-02-14 14:56] mark-lunarg commented on #2410
@techlabxe, the purpose of the unique-objects layer is to NEVER return the same handle for any object.  Vulkan does not disallow this, so this utility layer remaps the handles so that they are unique (even if as far as the driver is concerned it's the same object).

As far as the image objects returned by GetSwapchainImagesKHR, even if they are the same driver objects, I believe it is unsafe for a

[2018-02-14 15:14] krOoze commented on #2410
Is it so? It was clarified some time ago that unless otherwisely specified, queries return constant values for the lifetime of queried object. It is further strongly implied the `vkCreateSwapchainKHR` creates those image objects, not `vkGetSwapchainImagesKHR`.

[2018-02-14 15:15] techlabxe commented on #2410
thanks for tell me that purpose of the unique-objects layer.

no bad validation warning or error reported.
Simply calling vkCreateImageView with images of the second call crashed with the validation layer.

[2018-02-14 15:37] mark-lunarg commented on #2410
@techlabxe & @krOoze, I am able to repro this here, lemme drag in some swapchain experts and I'll get back to you shortly!

[2018-02-14 16:32] mark-lunarg commented on #2410
Hey guys, you're right, looks like the handle wrapping is too aggressive here.  I'll get it fixed.  Thanks!

Unrelated, but while calling GetSwapchainImagesKHR repeatedly is perfectly valid, it is unnecessary.  Once for the size query and once to get the images is plenty.

[2018-02-14 22:33] RCalocaO commented on #2408
I have a packaged build I can send you, but it's 192MB.

[2018-02-14 23:03] daveh-lunarg commented on #2408
Awesome!

[2018-02-14 23:20] davidlunarg commented on #2408
@RCalocaO wrote:

I would like to investigate this. How did vktraceviewer identify that it thought the trace file was made with 1.0.65.1?

Also, you should be using VKLayer_vktrace_layer.dll in C:\VulkanSDK\1.0.68.0\Bin, not the one in Source\lib. See C:\VulkanSDK\1.0.68.0\Source\README.txt. But the dll in Source\lib should still work.

[2018-02-15 16:33] RCalocaO commented on #2408
@davidlunarg Not sure tbh why it would've pick up the wrong one. I'm always using the Source/lib versions as I want to see the source when validation fails (ie I have VK_LAYER_PATH=C:\VulkanSDK\1.0.68.0\Source\lib).

[2018-02-19 03:53] kikijiki commented on #2410
So the problem in #2386 was just that Afterburner calls `vkGetSwapchainImagesKHR` a second time to initialize the OSD... makes sense.

[2018-02-19 19:01] #2410 closed

[2018-02-19 21:20] baldurk opened #2419 "Validation layers don't check SPIR-V version in vkCreateShaderModule"
Uploading a SPIR-V module with version 1.1 or higher is not currently legal in Vulkan as far as I know (only 1.0 is supported), but the validation layers don't verify this and won't complain unless there's something else wrong with the SPIR-V.

[2018-02-19 21:24] jzulauf-lunarg commented on #2360
This was added to master with commit: a176c470577c14413185c2e70b4f4254bdc67df3  which is included in the [1.0.68 SDK](https://vulkan.lunarg.com/sdk/home)

[2018-02-19 21:24] #2360 closed

[2018-02-19 22:03] mark-lunarg commented on #2419
@baldurk, can you point to a reference?  The spec says "A Vulkan 1.0 implementation must support the 1.0 version of SPIR-V and the 1.0 version of the SPIR-V Extended Instructions for GLSL.", which would seem to leave the door open for newer versions.  Is it that the 1.1 and 1.2 SPIR-V features are OpenCL-only or something like that?

[2018-02-19 22:06] jzulauf-lunarg commented on #2289
Agree this should be validated.

There doesn't appear to be a VUID asserting that memory must be bound, but in the spec there is text

And

So there appears to be an assumption of memory being bound to the Image at command record time (for non-sparse images), and at execution time (for sparse images).

[2018-02-19 22:21] chrisforbes commented on #2289
Clear rule for non-sparse cases in the 1.0.68 spec:

11.6:

[2018-02-19 22:30] jzulauf-lunarg commented on #2289
This needs a Valid Usage statement, no?

[2018-02-20 08:43] sheredom commented on #2419
The point in the spec where we mandate SPIR-V 1.0 (https://github.com/KhronosGroup/Vulkan-Docs/blob/1.0/doc/specs/vulkan/appendices/spirvenv.txt#L17) was meant to mean 'Only the versions listed here are supported.'

I agree with @baldurk that it'd be a useful validation layer error if the Vulkan 1.0 API was passed a SPIR-V binary that had a version > 1.0!

[2018-02-20 16:29] mark-lunarg commented on #2419
@sheredom, @baldurk, thank you very much.  It's on the list.

[2018-02-20 23:53] karl-lunarg opened #2424 "vulkaninfo: For HTML output, there is an image ref to a local filesystem."
[code]

[2018-02-21 14:37] #2289 closed

[2018-02-21 14:40] jzulauf-lunarg commented on #2289
@hrydgard -- the merge above should address your concern.

[2018-02-21 16:37] jeremyk-lunarg commented on #2213
Issue should to be fixed by PR #2411

[2018-02-21 16:37] #2213 closed

[2018-02-21 17:29] hrydgard commented on #2289
@jzulauf-lunarg Great, thanks!

[2018-02-22 02:55] nsubtil opened #2428 "Cryptic error at BeginRenderPass time"
I recently ran into a validation error message that looks like this:

`[Vulkan: location=377 code=15, layerPrefix='MEM'] vkCmdBeginRenderPass(): Cannot read invalid region of memory allocation 0xb4 for bound Image object 0xb3, please fill the memory before using.
`

The validation layers can tell that the region is invalid somehow, but the error message doesn't explain why. The objects also have d

[2018-02-22 04:16] AaronHaganAMD opened #2429 "VK_DYNAMIC_STATE_LINE_WIDTH and Geometry Shader"
Can a check be added that if VK_DYNAMIC_STATE_LINE_WIDTH is set for the pipeline and there is a GS shader that outputs lines to verify that vkCmdSetLineWidth has been called before the draw..

According to the spec:
VK_DYNAMIC_STATE_LINE_WIDTH specifies that the lineWidth state in
VkPipelineRasterizationStateCreateInfo will be ignored and must be set dynamically with
vkCmdSetLineWidth before any d

[2018-02-22 20:26] lenny-lunarg commented on #2323
Just an update on this issue. The issue on the spec repo got closed with the result being that `vkGetDeviceProcAddr` should return null for instance-level commands. As a result, the behavior that @roderickc was expecting is correct and the current behavior is wrong.

That being said, I looked into this issue and there are a few things that I found:
- The pointers being returned are invalid. They a

[2018-02-22 23:56] daveh-lunarg commented on #2408
Hi, @RCalocaO ,

I just pushed a branch (dave-gh2048) that eliminates the _"Cannot submit cmd buffer using image..."_ errors in your test case trace, by recording a layout transition for each depth slice in a 3D image whenever an image which uses the VK_IMAGE_CREATE_2D_ARRAY_COMPATIBLE_BIT_KHR flag is transitioned.

If you're able to pull it and verify the fix it would be helpful. I'm sure it solv

[2018-02-23 09:33] baldurk opened #2431 "Validation counting descriptors too often against limits"
At the moment in `core_validation.cpp`, the `maxDescriptorSet*` limits are counted in such a way that all shader stages which are enabled on the device and visible count for 1 against the limit, on each descriptor. So in the worst case a single descriptor can count 6 times against the limit. This was [added here](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/commit/44bf63f14c4a0

[2018-02-24 05:50] #2431 closed

[2018-02-25 14:51] baldurk opened #2436 "Validation should warn if users enable extensions/layers without enumerating support"
The validation layers issue a warning if the application calls `vkBindImageMemory` or `vkBindBufferMemory` without first checking the memory requirements (see use of `memory_requirements_checked` in `core_validation.cpp`).

In a similar vein, the layers should also issue a warning if the application passes any extensions or layers to enable into `vkCreateInstance` or `vkCreateDevice` without first

[2018-02-26 10:00] adam-sawicki-amd opened #2437 "Invalid calculation of number of descriptors for maxDescriptorSetUniformBuffersDynamic limit"
Latest version of the validation layer incorrectly reports following message:

in case when I create a pipeline layout that uses 2 descriptor set layouts:

- First descriptor set layout uses 1 descriptor binding of “dynamic uniform buffer” type with 1 descriptor, with stageFlags = ALL = 0x7fffffff.
- Second descriptor set layout uses 2 descriptor bindings of “dynamic uniform buffer” type, 1 descri

[2018-02-26 14:36] chrisforbes commented on #2437
Fixed by #2432.

[2018-02-26 15:01] adam-sawicki-amd commented on #2437
OK, it's duplicate then.

[2018-02-26 15:01] #2437 closed

[2018-02-26 18:34] #1650 closed

[2018-02-26 18:34] #2210 closed

[2018-02-26 18:34] #2408 closed

[2018-02-26 22:49] mark-lunarg commented on #2382
This was originally in the spec as validated, and was also a vuid (VUID-VkBufferImageCopy-bufferOffset-00210, or VALIDATION_ERROR_016001a4) which has been deleted.  Removing the checks.

[2018-02-27 02:40] atomnuker commented on #2378
Yep, seems like its fixed in master, thanks. Closing.

[2018-02-27 02:45] atomnuker commented on #2378
Nevermind, that was a different codepath, it isn't fixed in master.

[2018-02-27 08:49] shaohme opened #2440 "build issues on gentoo"
on my gentoo i've justed:
pulled the repository
checked out: "sdk-1.0.68.0"

and ran:

update_external_sources.sh
cmake -H. -Bdbuild -DCMAKE_BUILD_TYPE=Debug -DBUILD_WSI_WAYLAND_SUPPORT=OFF
cd dbuild
make

and ends up with:

[ 49%] Building CXX object tests/CMakeFiles/vk_layer_validation_tests.dir/layer_validation_tests.cpp.o
/home/mkj/dev/Vulkan-LoaderAndValidationLayers/tests/layer_validation_te

[2018-02-27 10:58] haasn opened #2441 "Seemingly bogus warning on bufferImageHeight w.r.t minImageTransferGranularity"
https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/6203b40107017fb3f46aad3d136381810715e898/layers/buffer_validation.cpp#L1511

This check requires `VkBufferImageCopy.bufferImageHeight` to be a multiple of the queue family's `minImageTransferGranularity`. This behavior appears to be undocumented in the vulkan standard. The only mention of `minImageTransferGranularity` is in this

[2018-02-27 11:23] pppessi opened #2442 "Validating push constant ranges with overlapping shader stages"
Valid usage statements for vkCmdPushConstants [were recently rephrased](https://github.com/KhronosGroup/Vulkan-Docs/commit/ab08f0951ef1ad9b84db93f971e113c1d9d55609) to allow overlapping ranges in different shader stages. The core validation layer hasn't been updated to reflect these changes, thus causing false validation errors.

Old VU:

New VUs:

[2018-02-27 12:25] krOoze commented on #2440
You cmake into `dbuild` but then use `build` instead.

`layer_validation_tests.cpp` is only missing `#include <math.h>, and probably is indirectly included on other platforms.
Try to add it, to fix your build.

[2018-02-27 12:27] atomnuker commented on #2378
vkCmdPipelineBarrier() also has the same issue, the spec says to modify all aspects of an image you just OR the flags but the validation layer rejects anything other than VK_IMAGE_ASPECT_COLOR_BIT

[2018-02-27 13:02] shaohme commented on #2440
Sorry, that was a typo :-|

I will try later today

[2018-02-27 13:35] shaohme commented on #2440
adding `#include <math.h>` fixed the build issue :+1:

[2018-02-27 15:08] jeffbolznv opened #2444 "Implement VU for dedicated allocation extensions"
We've recently seen a game bind a dedicated allocation created for one image to a different image, and the layers didn't catch it. The relevant VUs are:

  * [[VUID-vkBindImageMemory-memory-01509]]
    If the sname:VkmemoryAllocateInfo provided when pname:memory was
    allocated included an instance of slink:VkMemoryDedicatedAllocateInfoKHR
    in its pname:pNext chain, and
    slink:VkMemoryDedi

[2018-02-27 15:42] mark-lunarg commented on #2441
Duplicate of #2382.  @haasn, if you get a chance, see if pr #2439 takes care of these issues.

[2018-02-27 16:07] #2382 closed

[2018-02-27 16:08] mark-lunarg commented on #2441
Closing as duplicate.  @haasn, please reopen if some of these old checks are still leaking through.

[2018-02-27 16:08] #2441 closed

[2018-02-27 16:15] mark-lunarg commented on #2440
Will push @krOoze's change when CI is clear!

[2018-02-27 20:44] #2440 closed

[2018-02-27 21:46] DominikWitczakAMD opened #2448 "Missing indexed draw call validation"
Consider the following scenario:

1. Index buffer is assigned a memory range that fits X elements, each index taking N bytes.
2. Application records an indexed draw command which uses the index buffer and wants to draw Y elements using start index Z, where Y+Z > X

Use case 2:

1. Index buffer is assigned a memory range that fits X elements, each index taking N bytes.
2. Application records a bind

[2018-02-28 15:46] krOoze opened #2449 "Validation database Vs Issues tracker"
The Issue tracker is filled with [Incomplete] Issues which are mostly redundant to the `N` entries in the [VUID database](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/layers/vk_validation_error_database.txt).
One Issue per-VU is unsustainable, and Issue should probably be open only if someone thinks the particular VU validation is extra important. So,

I suggest thi

[2018-02-28 15:54] krOoze opened #2450 "Clean up stale branches"
Please consider cleaning up stale branches in this repo.

- It is cumbersome to switch to the relevant branches (master, sdk-1.0.X, ...).
- Or discover potentially useful branches.
- Cmdline tools would give more useful output (`git branch -r`)
- ?

[2018-02-28 16:48] krOoze commented on #2436
Those sound like different situations.

Passing unsupported extension name is perfectly valid, and the `vkCreate*` returns relatively informative return code.

But what about this:
log a warning if the `vkCreate*` actually fails because of it. The log would contain the name(s) of unsupported extension(s), which would be nice. (Technically it should be `INFO` category too, but I think this case war

[2018-02-28 16:52] mikew-lunarg commented on #2450
+1

[2018-02-28 17:04] mark-lunarg commented on #2449
👍  Issues tagged **Incomplete** receive a higher priority than issues marked <N> in the database, but this effort would not change that priority.  See issue #1612 for an example of how this might look.

[2018-02-28 17:05] mark-lunarg commented on #2449
An **Enhancement** tracking issue would also help with issue clutter.

[2018-02-28 17:37] krOoze commented on #2449
Yes, except the curated list should not be needed, I think, if some discipline is maintained.

I.e.
- such Issues having proper Label
- people instructed to only open such Issues for voting purposes (emphasize that we already know all the holes in the layer impl)
- people encouraged to add `+1` to such issues
- such Issues being well searchable (e.g. contain all appropriate VEID codes, and perhaps

[2018-03-01 16:39] #2338 closed

[2018-03-01 20:40] mark-lunarg commented on #2450
@krOoze, I deleted about a hundred or so.  Planning to leave this open for about a week or so.  Feel free to gently call out offenders directly.

[2018-03-01 20:44] KarenGhavam-lunarG opened #2458 "Why are the Loader and Validation Layers combined in the same repo?"
This issue was originally submitted to the Ecosystem github as [issue #22](https://github.com/KhronosGroup/Vulkan-Ecosystem/issues/22). To read the full detail and discussion on this issue, refer to it on the Ecosystem github.

After discussion within the ecosystem forum it was determined that the issue should be moved to this project to handle implementation.

The original issue text:

[2018-03-01 20:45] #1406 closed

[2018-03-01 21:40] mark-lunarg commented on #1549
@chrisforbes, any update? Still applicable?

[2018-03-01 21:58] mark-lunarg commented on #366
This check is present in the core_validation layer.

[2018-03-01 21:58] #366 closed

[2018-03-01 22:08] mark-lunarg commented on #1537
This check is now present in buffer_validation.cpp in the core_validation layer.

[2018-03-01 22:08] #1537 closed

[2018-03-01 22:12] krOoze commented on #2450
Eyeing it, most branches seem to be @tobine , @lenny-lunarg and @cnorthrop . Gentlement, would you kindly start chipping those branches?

[2018-03-01 22:28] mark-lunarg commented on #2045
In work.

[2018-03-02 22:48] cnorthrop commented on #2450
I deleted a bunch of them through the Github interface earlier, I think they are gone now.

[2018-03-03 13:38] saboya commented on #1962
Should this work when backported to 1.0.61.1? Tried it on Gentoo and it didn't work for me.

[2018-03-03 13:43] chewi commented on #1962
@saboya, this commit only addresses part of the problem on Gentoo. An eclass change will deal with the rest.

[2018-03-05 18:48] #2444 closed

[2018-03-05 20:53] lenny-lunarg commented on #2450
I just deleted most of my branches. I left a couple that I still want, but that's only three. It looks we're down to 95 branches at this point.

[2018-03-05 22:52] mark-lunarg commented on #1628
If we agree to address this particular case, it will be handled in the assistant layer.  Formally adding it to that list to be tracked there (in issue #1612).

[2018-03-05 22:52] #1628 closed

[2018-03-05 23:03] mark-lunarg commented on #2449
@krOoze, maybe we're already where you want to go.  We rarely open issues (at least internally) against outstanding incomplete VU checks.  The issues that ARE opened, by Google, LunarG, or anybody else, are the highest priority behind bugs.  We could fold this information into the database, but it is captured here and we have medium-term plans to obsolete the database and replace it with a dynamic

[2018-03-05 23:08] mark-lunarg commented on #1912
Moving to the assistant layer -- to be tracked in issue #1612.

[2018-03-05 23:08] #1912 closed

[2018-03-05 23:22] jzulauf-lunarg commented on #930
@chrisforbes  -- CreatePipelineHelper -- added 90fb6280 2017-11-11

tests: Added PipelineMultiSample VUID tests

[2018-03-05 23:22] #930 closed

[2018-03-05 23:26] jzulauf-lunarg commented on #1986
@chrisforbes -- is this still on your active TODO list?  I'm starting to look at #1550 and I don't want to duplicate efforts.

[2018-03-05 23:49] krOoze commented on #2449
"we"? What about the general public.

Anyway, it was just an idea. I am always comfortable with it closing as long as you are not interested in implementing it.

It is mostly about esthetics (or OCD?) than anything. The Issue is that there are Issues that practically serve no purpose (and also just contain unnecessary info, where usually just VUID would suffice). And they are bit of a bait; to get

[2018-03-06 00:07] mark-lunarg commented on #2449
@krOoze, I'm totally with you on the OCD -- it is more than a little frustrating to constantly work this list and to have the issue count inexorably inch upwards.  Our stance on the general public creating missing VUID issues is that they must have encountered them In Real Life, making them perhaps more useful than purely technical checks.  Less than a handful of issues are from folks just pointin

[2018-03-06 00:07] #2449 closed

[2018-03-06 00:28] mark-lunarg commented on #2450
Wow, @krOoze, this worked like a champ and I was surprised at the results.  Don't see any egregious offenders any more, but will keep cleaning.  Closing for now -- thanks!

[2018-03-06 00:28] #2450 closed

[2018-03-06 00:36] mark-lunarg commented on #2223
@lenny-lunarg, any updates?

[2018-03-06 00:57] krOoze commented on #2450
@mark-lunarg Great!

Let's see... master + sdk is 20 branches, open PR is ~16 branches. So still ~60 branches that are who-knows-what.

~14 are merged PR (+ 2 are closed as merged by other means), which usually are no-brainer for delete.

And there are two pages of years old branches that apparently didn't go through the PR interface. But nobody probably knows anymore what these are...

Anyway,
is

[2018-03-06 01:37] cnorthrop commented on #2450
Our internal CI requires the branches to be on the main repo, not downstream repos.  That's why you often see us pushing branches to test PRs.  We can be better at cleaning them up afterwards.

[2018-03-06 04:24] chrisforbes commented on #1986
@jzulauf-lunarg I don't have a lot of time to look at validation at the moment, but #2017 is pretty close to what you want for this.

[2018-03-06 07:17] pppessi opened #2464 "Potentially false validation errors with VK_IMAGE_CREATE_EXTENDED_USAGE_BIT_KHR"
Running `dEQP-VK.image.texel_view_compatible.*` produces a bunch of validation errors. Errors from invalid pipeline stage flags are legitimate but the rest seem rather suspicious.

Example errors from `dEQP-VK.image.texel_view_compatible.compute.basic.image_load.bc1_rgb_unorm_block.r16g16b16a16_unorm`

These errors are produced when creating a `VK_FORMAT_BC1_RGB_UNORM_BLOCK` image with `(VK_IMAGE_

[2018-03-06 16:12] jzulauf-lunarg commented on #1986
@chrisforbes  I'll pull and rebase from #2017, and move forward with a new PR.

[2018-03-06 16:23] mark-lunarg commented on #2464
@pppessi, thanks for the report.  We have a TODO in place at the moment and will bump the priority on this issue.

[2018-03-06 16:46] chrisforbes opened #2466 "Implement checks for fragmentStoresAndAtomics, vertexPipelineStoresAndAtomics"
While walking the shader for used descriptors, also determine whether any used buffers/images/texelbuffers are not decorated with NonWritable.

If this is the case, require that the fragmentStoresAndAtomics or vertexPipelineStoresAndAtomics feature (as appropriate for the stage) is supported and enabled.

[2018-03-06 17:22] lenny-lunarg commented on #2223
The status of this issue is that ConfigureRT.exe is going to be removed entirely, shortly. As a side effect, that will resolve this issue. I'll close this issue when I actually make the change.

[2018-03-07 00:15] LPGhatguy opened #2468 "Validation layers cause memory leak unless vkQueueWaitIdle is called every frame"
I stumbled upon this running through the vulkan-tutorial.com introduction to Vulkan:

https://vulkan-tutorial.com/Drawing_a_triangle/Drawing/Rendering_and_presentation#page_Memory_leak

The full C++ source that should be able to trigger the leak [is here](https://vulkan-tutorial.com/code/15_hello_triangle.cpp).

You can work around the leak by turning the validation layers off, or by calling `vkQu

[2018-03-07 18:26] mark-lunarg commented on #2468
Thanks @LPGhatguy -- I'm thinking this is a duplicate of #1628, which is being tracked now in issue #1612, so I'll close this and track it there. Apparently, there's not a clean technical solution for this but we could probably detect the situation and keep the layers from crashing.

[2018-03-07 18:26] #2468 closed

[2018-03-07 18:36] LPGhatguy commented on #2468
Awesome, thanks for helping me find that. I did a quick search over the issues but didn't find any terms that matched what I knew about the leak so far.

[2018-03-07 18:48] mark-lunarg commented on #2468
Thank you -- we very much appreciate your contributions!

[2018-03-07 20:11] #2214 closed

[2018-03-07 20:43] Andreyogld3d opened #2471 "Crash during calling vkCreateInstance with VK_LAYER_LUNARG_device_simulation + VK_LAYER_LUNARG_assistant_layer"
Hi i'm using Vulkan SDK 1.1, 32 version.
OS Windows 7 X64,
GPU: AMD R7 240

Crash happens with following list of layers:

VK_LAYER_LUNARG_api_dump, LunarG debug layer
VK_LAYER_LUNARG_assistant_layer, LunarG Validation Factory Layer
VK_LAYER_LUNARG_device_simulation, LunarG device simulation layer
VK_LAYER_LUNARG_monitor, Execution Monitoring Layer
VK_LAYER_LUNARG_screenshot, LunarG image capture l

[2018-03-07 21:11] mikew-lunarg commented on #2471
Hi @Andreyogld3d

The Device Simulation layer does not yet support Vulkan v1.1.
Please see the last paragraph under [DevSim Layer operation and configuration](https://github.com/LunarG/VulkanTools/blob/master/layersvt/device_simulation.md#devsim-layer-operation-and-configuration):

There is code that attempts to check the version and exit, see https://github.com/LunarG/VulkanTools/blob/master/laye

[2018-03-07 21:43] krOoze commented on #1628
Seems to me though that the memory usage should be proportionate to the objects in-flight (and not submission count).

Isn't it theoretically fixable by proper implementation in the core layer? If it properly tracks the synchronization chain and culls old irrelevant data, then it should not "leak" (for a valid app).

Only place for the assistant layer I see to detect broken synchronization chains

[2018-03-08 06:09] chrisforbes commented on #1628
Petr, it's possible to build a model that would cope better with this, but the added complexity carries a cost. I'd only consider doing it if it significantly improved real cases as well.

Apps like this which do no pacing are simply /broken/. There is no spec guarantee of any back pressure to the app through either vkQueuePresentKHR or vkAcquireNextImageKHR -- although many implementations do pro

[2018-03-08 08:30] Andreyogld3d commented on #2471
Hi @mikew-lunarg, thank for your responce.

Ok, i'm using the new vulkan-1.lib from Vulkan SDK 1.1.70.0, but API version still is 1.0:
`VkApplicationInfo::apiVersion = VK_API_VERSION_1_0;`
Also i have tried to change the API version
`VkApplicationInfo::apiVersion = VK_MAKE_VERSION(1, 1, 70); //  VK_MAKE_VERSION(1, 1, 0);`
but I haven't had any error messages from DevSim or other Layers.
What i do

[2018-03-08 14:11] karl-lunarg commented on #2471
Setting:

`
VK_LAYER_PATH=C:\VulkanSDK\1.1.70.0\Source\lib32
`
gives the following slightly more useful stack trace:
[code]

Given that the OP says the problem goes away when either the assistant layer or devsim is not enabled, there may be a problem with layer dispatch init in either layer.

And given where this problem is occurring and that it is a crash, I don't think that the 1.0 vs 1.1 consid

[2018-03-08 14:20] karl-lunarg commented on #2471
Problem happens with 64-bit as well.

Failure is in `vk_layer_table.cpp` at the assert:

[code]

while trying to look up proc addr for `vkEnumeratePhysicalDevices`

Hopefully this narrows it some.

[2018-03-08 15:27] mikew-lunarg commented on #2471
@Andreyogld3d @karl-lunarg  DevSim will be enhanced for Vk v1.1, but I do want to better understand the  root cause interactions in this scenario.  vkCreateInstance() certainly should not crash.  I will investigate.

[2018-03-08 16:46] #2378 closed

[2018-03-08 17:01] mark-lunarg commented on #2471
Thanks @karl-lunarg, I'll look into this now.

[2018-03-08 18:27] #2140 closed

[2018-03-08 22:17] mark-lunarg commented on #2471
@Andreyogld3d, we've identified the problem, tested a fix, and are re-spinning an SDK point release to address the problem.  Thanks for the speedy feedback and report!

[2018-03-09 17:44] mark-lunarg commented on #329
Gitlab issue #611 has been closed, the PR was accepted, and LVL was updated.

[2018-03-09 17:44] #329 closed

[2018-03-09 17:47] mark-lunarg commented on #1848
@krOoze, any feelings one way or another about closing this issue?

[2018-03-09 17:47] mikes-lunarg opened #2474 "Refactor code reuse between 1.1 core and KHR entry points"
Two issues here:
* At the very least, large amounts of duplicate code (eg unique_objects.cpp CreateDescriptorUpdateTemplate) should be refactored into a common function used by both KHR and core entry points
* Investigate if it is possible to remove some of the boilerplate that occurs even if KHR and core entry points share Pre/Post functions (eg core_validation.cpp EnumeratePhysicalDeviceGroupsKH

[2018-03-09 17:50] mark-lunarg commented on #2191
Evidence is pointing to this particular issue being driver-related, and not due to the loader or layers.  Please reopen if this assumption is incorrect.

[2018-03-09 17:50] #2191 closed

[2018-03-09 17:53] mark-lunarg commented on #1551
@cnorthrop, is this still an issue?

[2018-03-09 18:01] mark-lunarg commented on #2080
I believe this has been fixed.

[2018-03-09 18:01] #2080 closed

[2018-03-09 18:22] cnorthrop commented on #1551
Yes, still an issue for Windows.  Probably will remain an issue until we get everything migrated over to python scripts.

[2018-03-09 18:40] krOoze commented on #2080
It would seem so.

[2018-03-09 18:54] krOoze commented on #1848
Outright raw pointers seem to have been replaced with `unique_ptr`s, and there was other such changes on that level.

I am not sure where to progress from here. Something could be done with the overall architecture of the layers, but I would expect such Issue to hang here for years (and I don't see myself to do anything about it in forseeable future either), so I think I may as well close this.

[2018-03-09 18:54] #1848 closed

[2018-03-09 19:01] Andreyogld3d commented on #2471
@mark-lunarg, Thaks you. I will be wating a fix in the new Version Vulkan SDK.

[2018-03-09 19:01] mark-lunarg commented on #2471
@Andreyogld3d, it turns out there were two issues.  The first was a problem with the assistant_layer, which has been fixed in the [1.1.70.1 SDK release update](https://vulkan.lunarg.com/sdk/home#sdk/downloadConfirm/1.1.70.1/windows/VulkanSDK-1.1.70.1-Installer.exe). The second issue is that it is currently not possible to load the vktrace layer directly -- it requires additional components which,

[2018-03-09 19:01] #2471 closed

[2018-03-09 19:32] Andreyogld3d commented on #2471
@mark-lunarg, I removed Vulkan SDK 1.1.70, installed Vulkan SDK 1.1.70.1, copyed  the new vulkan-1.lib to attached test project, compiled, run - and again the same crash in the same place :(
![image](https://user-images.githubusercontent.com/8597425/37226041-b9981704-23e9-11e8-953c-106d7463b2f5.png)

[2018-03-09 19:44] mark-lunarg commented on #2471
Hi @Andreyogld3d, did you happen to leave the vktrace layer loaded? This layer needs to be excluded:  in the application you shared this would mean adding "VK_LAYER_LUNARG_vktrace" into 'skeepedLayers'.

[2018-03-09 21:16] Andreyogld3d commented on #2471
@mark-lunarg, Thank you, now it is working without crash :).

[2018-03-10 00:40] mchock-nv opened #2476 "trampoline.c is missing core entrypoints"
Specifically,

vkCreateDescriptorUpdateTemplate
vkDestroyDescriptorUpdateTemplate
vkUpdateDescriptorSetWithTemplate

[2018-03-10 03:33] chrisforbes commented on #1628
@mark-lunarg this has been churning away in the back of my mind for a couple of days and I think there are some changes we can make which will enable both constant-space handling of these cases AND spending a lot less time frobbing in_use refcounts on everything. Will file more bugs with a real proposal once it crystallizes a bit more.

[2018-03-12 00:14] farnoy commented on #1074
I believe this has resurfaced, probably around the time `object_tracker` was rewritten with a generator. On 6d3938172cba2d9235f258efa1db1c16443c66c6, `VK_EXT_debug_marker` is not advertised under `vkEnumerateDeviceExtensionProperties`, but can be activated without an error. It then fails during use:

[code]

Am I missing something? Without a profiler running, I would expect this to be a noop or gi

[2018-03-12 04:34] #2466 closed

[2018-03-12 13:58] tobine opened #2480 "Handle secondary cmd buffer clear attachment requests"
Extent checks for vkCmdClearAttachments() need to handle secondary command buffer cases.

There's a TODO in the code for this: https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/layers/buffer_validation.cpp#L2201

Filing issue to track and bump priority as ANGLE team just got bit by this.

[2018-03-12 14:52] mark-lunarg commented on #1074
Thanks @farnoy, will take a new look.

[2018-03-12 14:56] mark-lunarg commented on #2480
@tobine, hopefully this'll cover #1501 as well.

[2018-03-12 18:23] cdwfs commented on #2314
On closer inspection this looks like it may be a duplicate of #1074.

[2018-03-12 21:05] atomnuker opened #2482 "Compatibility class checks are failing for multiplane formats"
For example, creating an image view with format VK_FORMAT_R8_UNORM from an image with format VK_FORMAT_G8_B8_R8_3PLANE_420_UNORM and the VK_IMAGE_CREATE_MUTABLE_FORMAT_BIT yields the following error:

However, the spec says in "Compatible formats of planes of multi-planar formats" that they're fully compatible.
The same issue occurs with other non-planar formats too, like a view with format VK_FOR

[2018-03-12 21:07] atomnuker commented on #2378
Issue doesn't seem solved:
`vkCreateImageView(): Color image formats must have the VK_IMAGE_ASPECT_COLOR_BIT set. The spec valid usage text states 'aspectMask must be a valid combination of VkImageAspectFlagBits values' (https://www.khronos.org/registry/vulkan/specs/1.0/html/vkspec.html#VUID-VkImageSubresource-aspectMask-parameter)                 `

[2018-03-13 14:16] jjulianoatnv commented on #2458
I do not see value that would be gained by separating loader and layers into separate repos. The stated "forget to talk about" is not really caused by whether there is one repo or two separate repos. There is already a label for "loader". Perhaps what's being requested is a separate (new) label for "layers".

[2018-03-13 14:27] jjulianoatnv opened #2483 "sort pieces of vulkaninfo output where sorting makes sense"
I've been diffing output of vulkaninfo across different driver versions and across different GPUs.

There is a block of text near the top of the output that enumerates one instance extension per line. The order of lines in this block appears to be random. Maybe it is the iteration order through the keys of a hash map, or something like that.

The text itself is amenable to alphanumeric sort. The p

[2018-03-13 14:37] jjulianoatnv commented on #2483
Oh, for device extensions vulkaninfo might be using the ICD's order. When I look at my dGPU output it seems to have a stable order, but my iGPU's output does not. That could just mean that the iGPU driver does have itself have a stable ordering.

Still, when I have only a dGPU, the instance extension order is not stable, implying that the loader is probably itself using a random order. (That's sti

[2018-03-13 19:42] FallenShard opened #2485 "Dangling sampler references are not reported"
Greetings, I hope I'm posting this in the right place. There's a small issue I encountered in validation layers.
The setup is the following:
1) Create a VkSampler
2) Update some descriptor set's binding (e.g. COMBINED_IMAGE_AND_SAMPLER in my case) using the created sampler
3) Mistakenly delete the VkSampler from 1)
4) Draw stuff using the descriptor set from 2)

Nothing is crashing, though I think

[2018-03-14 16:41] pppessi opened #2486 "Potentially false validation error if image size > maxResourceSize"
Running `dEQP-VK.pipeline.render_to_image.core.2d_array.huge.width_height_layers.r8g8b8a8_unorm` produces a validation error:

when trying to create an image using the following info:
[code]
I don't think this is quite right. Specification says:

On this device imageGranularity is 1 so it should not affect this in any way.

[2018-03-14 18:49] krOoze commented on #2486
`4096 x 4096 x 256 x 4 = 0x4 0000 0000`, which **is** greater than 0x8000 0000(=2<sup>31</sup>),  so that checks out.

It should be a `WARNING`, not `ERROR`, oterwise I don't see what the problem is?

[2018-03-14 21:00] tobine commented on #2486
Spec quote from @pppessi is out of date, potentially. Current language is:

Since this causes either failure or an invalid image I like having it as an ERROR.

Tagging @chrisforbes for input as this is a deqp test.

[2018-03-14 21:10] krOoze commented on #2486
@tobine Is that unreleased version of the spec? Sounds like nonsense though; "no mechanism to query the size" vs "or the image will be invalid", which makes all images in quantum superposition of being valid and invalid.

[2018-03-14 21:31] tobine commented on #2486
Yes, I'm sorry. I was quoting the last version of the 1.0 [spec](https://www.khronos.org/registry/vulkan/specs/1.0-extensions/html/vkspec.html). I see language @pppessi is quoting from the latest 1.1 [spec](https://www.khronos.org/registry/vulkan/specs/1.1/html/vkspec.html).

Given this requirement:

I agree that the validation check should be changed to a warning as in #2487. Thanks!

[2018-03-14 21:42] krOoze commented on #2486
@tobine Right, it was apparently fixed recently in the 70, which is not exposed in 1.0 for technical reasons.
The new quote is unguarded by macro though, so it applies to 1.0 too.

[2018-03-14 22:07] chrisforbes commented on #2486
@tobine I'm torn between converting this to a warning and getting rid of it entirely.

Reasons for the latter:
- Drivers are required to check this condition, so we shouldn't need to.
- We don't know the actual size -- the layers complain based on an estimate that's oblivious to tiling/alignment/etc constraints. It's probably pretty close for a single 2D layer, but there's no reason to believe it'

[2018-03-14 22:40] tobine commented on #2486
@chrisforbes good point. After a bit of thought I still slightly favor WARNING over killing the check. I just have a fear that some driver, esp. older ones, may not return error correctly so the warning is a nice backup.
I agree that validation layers really shouldn't have to check the condition and even the existing check is just a guess, though, so I'm fine killing if that's your preference.
For

[2018-03-14 23:05] krOoze commented on #2486
The drivers return cookie-cutter error for the case.
It is still nice to know the real reason for the error. Assuming some good lower-bound for the resource use can be "guessed".
It might better fit one of the proposed "guidelines" layer, though trying to make a resource of > 2<sup>31</sup> bytes (or as in the OP even 16 GB) on a contemporary desktop could in of itself be considered likely error (

[2018-03-15 00:45] chrisforbes commented on #2486
:+1:

[2018-03-15 10:02] turol commented on #1656
I recently hit this. It's a pretty nasty omission since the wrong code rendered correctly on AMD Windows and Nvidia Linux drivers and only failed on radv.

In my specific case I passed VK_IMAGE_LAYOUT_UNDEFINED (completely bogus, caused by a bug in my code) as srcImageLayout when it was (correctly) in VK_IMAGE_LAYOUT_TRANSFER_SRC_OPTIMAL by a renderpass in the same command buffer.

Version of the

[2018-03-15 10:05] turol commented on #1656
[smaaDemo.vktrace.gz](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/files/1814850/smaaDemo.vktrace.gz)
Chromium worked, here's the .vktrace. Recorded with radv on Linux.

[2018-03-15 13:23] tobine commented on #2486
WARNING update #2487 from @krOoze was pushed. Closing this issue. Thanks, everyone!

[2018-03-15 13:23] #2486 closed

[2018-03-15 20:43] chrisforbes commented on #2485
We should definitely pick this up if the descriptor in question is used by the draw.

[2018-03-15 21:41] tobine commented on #2485
Yeah I'll check this out and fix any hole here.

[2018-03-15 22:01] tobine commented on #2485
I think this is a hole. We should verify that sampler if valid in [this](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/layers/descriptor_sets.cpp#L551) block where we're making sure the the components of descriptor are valid at draw time. We verify that the image hasn't been destroyed, but not the sampler. I've got a test that verifies this and will add the additiona

[2018-03-16 14:24] #1501 closed

[2018-03-16 14:24] #2480 closed

[2018-03-16 16:39] #2485 closed

[2018-03-17 12:42] hrydgard commented on #1612
Regarding transitions from VK_IMAGE_LAYOUT_UNDEFINED to anything: When initializing textures with known data, I:

  * create with VK_IMAGE_LAYOUT_UNDEFINED
  * transition to VK_IMAGE_LAYOUT_TRANSFER_DST_OPTIMAL (for the src stage, I use VK_PIPELINE_STAGE_ALL_COMMANDS)
  * vkCmdCopyBufferToImage to write the contents
  * transition to VK_IMAGE_LAYOUT_SHADER_READ_ONLY_OPTIMAL

 As this sequence will

[2018-03-17 17:45] krOoze commented on #1612
It will?
You are making the contents defined in step 3, so the layers should not complain.

I would assume the same reason why `PREINITIALIZED` is distinct from `GENERAL`. It ensures there will be at least one barrier before the first use of the Image by the device.

[2018-03-17 18:11] hrydgard commented on #1612
This one: "Transitions from VK_IMAGE_LAYOUT_UNDEFINED to anything".

What src pipeline stage would you suggest for transitioning from UNDEFINED? Simply BOTTOM_OF_PIPE?

[2018-03-17 18:28] krOoze commented on #1612
You need to read rest of that paragraph. It concerns itself with a situation where someone transitions from `UNDEFINED` and then **reads** the contents. The contents become undefined, so (depending on platform) it may contain original data or it may be trashed upon the read.

But you are writing the content, which makes it defined again. So it should not trigger any such checks.

New Image\Memory

[2018-03-18 02:08] polarina commented on #2429
Would such a validation not be required to check if the geometry shader actually outputs any line primitives? My understanding of the spec tells me that one may skip a call to vkCmdSetLineWidth as long as the geometry shader does not emit any line segments.

[2018-03-18 02:20] AaronHaganAMD commented on #2429
Yes. it only needs to be called before draw commands that generate line prims...

• VK_DYNAMIC_STATE_LINE_WIDTH specifies that the lineWidth state in
VkPipelineRasterizationStateCreateInfo will be ignored and **mus**t be set dynamically with
vkCmdSetLineWidth before any draw commands that generate line primitives for the
rasterizer.

[2018-03-18 02:34] chrisforbes commented on #2429
@mark-lunarg this will require some work in shader_validation -- do you want me to pick that up?

[2018-03-19 12:31] DominikWitczakAMD opened #2498 "GLSL-level texel buffer binding's integerness is not verified against attached buffer view's format"
Say my GLSL shader defines:

[code]

Later, when I create a buffer view I'm going to associate with _tested_array_, I need to specify data format that's going to be used for the reads. Validation layers do not report an error if the format I declare is non-integer.

[2018-03-19 21:32] tobine commented on #2498
You up for this @daveh-lunarg? Please hit up @chrisforbes for questions and push to him if needed.

[2018-03-20 15:59] #2442 closed

[2018-03-21 06:28] ColAngel opened #2502 "vkAcquireNextImage2KHR causes false error messages in further submit and present calls"
If this function is used then vkQueueSubmit throws false error that semaphore which was used in the vkAcquireNextImage2KHR has no way to be signalized and the queue is waiting on it.
Further the vkQueuePresentKHR throws false error message that the image with the index X was not aquired. Tested it with MultiGPU (DeviceGroups) and for single Physical Device. Both have this issue.
However the actual

[2018-03-21 18:13] mark-lunarg commented on #2502
Compatible validation for this API has not yet been implemented.

[2018-03-21 19:24] Tony-LunarG opened #2504 "Objects listed twice in validation error messages"
Recent changes to layer logging have resulted in the object handle being listed twice:

DS(ERROR): **object: 0x191e90f0** type: 6 location: 7822 msg_code: 461375810: **Object: 0x191e90f0** | vkCmdPipelineBarrier(): pImageMemBarriers[0].dstAccessMask (0x1000) is not supported by dstStageMask (0x1). The spec valid usage text states 'Each element of pMemoryBarriers, pBufferMemoryBarriers and pImageMe

[2018-03-21 20:52] MarkY-LunarG commented on #2504
Pull Request #2505 resolves this.

[2018-03-21 21:28] #2424 closed

[2018-03-22 02:03] Qining opened #2506 "Image layout tracking for depth+stencil images at vkCmdEndRenderPass"
Looks like there is bug for the layout transition tracking at vkCmdEndRenderPass. The `finalLayout` is not included in the tracking, so that I keep getting error messages from validation layers like:
[code]
I can get rid of the error by using pipeline barrier to switch the layout and change the `finalLayout` from `VK_IMAGE_LAYOUT_DEPTH_STENCIL_READ_ONLY_OPTIMAL` to `VK_IMAGE_LAYOUT_DEPTH_STENCIL_A

[2018-03-22 14:10] hrydgard commented on #2366
This actually seems to crash hard inside the validation layers now during vkCreateDevice (enabling VK_KHR_push_descriptor without VK_KHR_get_physical_device_properties2), which isn't really better :)

[2018-03-22 15:42] TiemoJung opened #2507 "Validation: using 3d image view as render target does not trigger an error"
Hi,

as the description says, having a 3d image view of a 3d image and using this view as render target does not trigger any errors.

Tested with 1.1.69.0.rc.334

[2018-03-23 03:45] chrisforbes commented on #2506
@Qining we do account for the final layout -- this is the (admittedly slightly misnamed) `TransitionFinalSubpassLayouts` call in `core_validation::CmdEndRenderPass.`

Do you have a test case which demonstrates this?

[2018-03-24 23:46] jherico opened #2511 "Incorrect case"
https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/8d0233f2c8d0f56d092cb2d68a1c48939fe802ac/layers/core_validation.cpp#L4621

Should be `vkDestroyFramebuffer` not `vkDestroyFrameBuffer`

[2018-03-26 22:50] mark-lunarg commented on #2511
Fixed pushed to Master -- Thanks!

[2018-03-26 22:50] #2511 closed

[2018-03-27 15:02] Qining commented on #2506
Thanks for reply, let me see if I can make a test case for this.

[2018-03-27 15:31] msiglreith opened #2515 "CreateInstance warning for apiVersion 0"
Calling vkCreateInstance with apiVersion 0 will trigger a warning in the validation layers.

(source: https://github.com/gfx-rs/gfx/pull/1890#discussion_r177464526)

The Vulkan specification states that:

Therefore, it should be fine to pass 0 here.

[2018-03-27 16:15] tobine commented on #2515
Yes, passing 0 is allowed as you point out. Warnings are there to point out something that may be unintended. If a developer is passing 0 as the API version, it's very likely that this is done unintentionally so the warning is there to encourage them to verify their intent and set an explicit API version if the 0 was unintentional. If the 0 is intended, then ignore the warning. Note the end of the

[2018-03-27 19:06] fduranleau-gl opened #2517 "ABA issue with freeing and allocation of command buffers and destruction of command pools in core validation layer"
We have stumbled recently on a bug in core validation layer. The bug lies in the layer's DestroyCommandPool API entry function. Here is the function:

[code]

The problem is that the command pool's state is erased after destroying the command pool in the next layer while unlocked. After this line executed
[code]
any other thread can allocate any number of command buffers, and it might (and will, w

[2018-03-27 19:20] mark-lunarg commented on #2515
As @dustin-lunarg pointed out, if the layers are interpreting zero as API version 1.1 instead of 1.0, this is a bug.

[2018-03-27 22:37] lenny-lunarg commented on #2476
Resolved via 27157624a7efc98de08c563f5b2c4f2732a68a46 and 8984ee77864cc9f4d8b235262a97d0622a5c9883. See the linked PR for more details.

[2018-03-27 22:37] #2476 closed

[2018-03-28 15:46] DominikWitczakAMD opened #2522 "Transfer ownership is not recognized by core validation layer"
Cmd buf A does the following:

1. Transfer image _X_ to _TRANSFER_DST_OPTIMAL_ layout.
2. (do stuff with _X_)
3. Issue a "release barrier" for image _X_

Cmd buf B does the following:

1. Issue an "acquire barrier" for image _X_
2. (do stuff with _X_)

"Release barrier" is defined as below:

*Source access mask* : _VK_ACCESS_TRANSFER_WRITE_BIT_
*Destination access mask* : _0_
*Source layout*: _VK_

[2018-03-28 16:36] mark-lunarg commented on #2522
This issue is getting tracked in issue #865, but I'll leave it up to @jzulauf-lunarg as to whether he'd like to keep this one open -- this one is more clear.  Maybe close the old one?  @DominikWitczakAMD, John is currently working on adding this validation.

[2018-03-28 16:47] zeux opened #2525 "Validate synchronization correctness"
I'm sure this was discussed many times before, but I want to make sure there's at least a GH issue for this.
Layers currently don't validate correctness of synchronization. I can freely go launch two back-to-back transfers where the second transfer reads data from the first one without any barriers, and this will "work" - validation layers won't complain.

This is a very very very big issue. Vulka

[2018-03-28 16:51] mark-lunarg commented on #2522
See #2015 also.

[2018-03-28 17:48] jzulauf-lunarg commented on #2015
This is different than the other four. The "false positive" just require recognizing that a transfer is occurring and modifying the validation accordingly. This will require tracking state similar to the current IMAGE_LAYOUT tracking.

@chrisforbes do you have another branch for me to steal^Wleverage?

[2018-03-28 21:12] #2429 closed

[2018-03-28 21:12] chrisforbes commented on #2429
Fixed in #2508

[2018-03-28 21:26] tobine commented on #2517
Thanks, @fduranleau-gl I agree with your assessment and proposed fix. I'll create a formal PR and credit you.

[2018-03-28 21:29] greg-lunarg opened #2526 "Fix NonWritable check when vertexPipelineStoresAndAtomics not enabled"
The following Vulkan validation layer error starting popping up on code that previously executed without error:

SC(ERROR / SPEC): object: 0x0 type: 0 msgNum: 15 - Shader requires VkPhysicalDeviceFeatures::vertexPipelineStoresAndAtom
ics but is not enabled on the device
SC(ERROR): object: 0x0 type: 0 location: 1167 msg_code: 15: Object: 0x0 | Shader requires VkPhysicalDeviceFeatures::vert
exPipeli

[2018-03-28 21:40] greg-lunarg commented on #2526
@Tony-LunarG

[2018-03-28 23:42] atomnuker commented on #2482
ping?

[2018-03-28 23:48] atomnuker opened #2527 "Multiplanar aspect flags are still reporting an error"
This is a duplicate of #2378 but because I can't reopen it I'm creating a new one.

The issue is that whenever the aspect flags are checked, the validation layer does not yet recognize the multiplanae aspect flags (VK_IMAGE_ASPECT_PLANE_0_BIT and so on) as valid and prints the following error:

The issue occurs with current git master (37beb71e6fdb90d1bf40089abf98bb3c).

[2018-03-29 00:56] mark-lunarg commented on #2517
@tobine, he has an existing PR, which we've added to.

[2018-03-29 13:13] tobine commented on #2517
@mark-lunarg cool, yeah, I see it now #2518. Thanks, @fduranleau-gl

[2018-03-29 14:25] jzulauf-lunarg commented on #2517
@fduranleau-gl  I'd like clarification on the usage pattern exposing the bug.

If you are saying that during the destruction of a command pool, that command buffers are being allocated from that same pool, that's a spec violation and an incomplete detection our the validation layers part to not report it.

Or... are you saying that when destroying *one* command pool, another is created and command

[2018-03-29 14:35] fduranleau-gl commented on #2517
@jzulauf-lunarg It's exactly the second case you mention that we hit.

[2018-03-29 14:48] jzulauf-lunarg commented on #2517
@fduranleau-gl -- the case starting "Or..." or the case starting "I could also see" ?  (I should have numbered them :) )

Also, was the unique objects layer enabled?

[2018-03-29 15:00] mark-lunarg commented on #2517
Pushed changes to Master.  Thanks a bunch @fduranleau-gl.  I'll close the issue, but you guys can continue with the investigation in this issue.

[2018-03-29 15:00] #2517 closed

[2018-03-29 15:05] fduranleau-gl commented on #2517
@jzulauf-lunarg It would be the "Or...", or a situation like this:

1. Thread 1 destroys a command pool, from which a command buffer with handle value A has been created.
2. Thread 1 unlocks and executes the down-chain call.
3. Thread 2, before thread 1 regains the lock, creates a command buffer from another pool. That command buffer gets handle value A.
4. Thread 1 regains the lock, and removes l

[2018-03-29 15:50] Ekzuzy opened #2528 "Core Validation layer crashes when different render pass is used for drawing than the one provided during pipeline creation"
Specification allows graphics pipelines to be used with various render passes that are compatible with the render pass provided during pipeline creation. Unfortunately, when the original render pass is destroyed after pipeline creation and then another render pass is created (even with exactly the same parameters!!), then crash occurs in VkLayer_core_validation.dll when trying to record a drawing

[2018-03-29 15:59] Ekzuzy commented on #2528
Problem was seen on 1.0.61.1 of Validation Layers but with the latest version it does not occur.

[2018-03-29 15:59] #2528 closed

[2018-03-29 16:12] mark-lunarg commented on #2528
@Ekzuzy -- thanks very much for running this down!

[2018-03-29 17:03] mark-lunarg commented on #2517
@jzulauf-lunarg, Vulkan command buffer objects are dispatchable.  Unique objects wraps only non-dispatchable objects.  So all is right in the world again.

[2018-03-29 18:02] mikes-lunarg opened #2530 "More robust validation of CreateDescriptorUpdateTemplateKHR"
_Issue migrated from https://gitlab.khronos.org/vulkan/LoaderAndValidationLayers/issues/208_

Current validation of CreateDescriptorUpdateTemplateKHR' parameters is not checking the following conditions:

https://www.khronos.org/registry/vulkan/specs/1.0-wsi_extensions/html/vkspec.html#VkDescriptorUpdateTemplateCreateInfoKHR

If templateType is VK_DESCRIPTOR_UPDATE_TEMPLATE_TYPE_DESCRIPTOR_SET_KHR

[2018-03-29 18:30] mikes-lunarg opened #2532 "1.1 subgroup validation?"
_Issue migrated from https://gitlab.khronos.org/vulkan/LoaderAndValidationLayers/issues/204_

So I've been looking at the 1.1 branch and I *think* there aren't any checks for subgroup support?

So I've got a bunch of queries:

* How do I get the `VkPhysicalDeviceSubgroupProperties` via `VkPhysicalDeviceProperties2`? (there seems to be some `layer_data` struct that has some of the features in it, b

[2018-03-29 18:59] karl-lunarg opened #2533 "Repo Closed. See README.md [was: Closing this Repository To Write Access [was: Splitting this Repository]]"
The issue is meant to announce the upcoming split of this repository as well as a place to discuss the split and post news about the split.

For more information about the split, please see this wiki [page](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/wiki/Repository-Split).

Comments and questions should be made to the discussion section of this issue.

[2018-03-29 19:13] alexander-a-kharlamov opened #2534 "Check that VkBufferViewCreateInfo::offset is a multiple of VkPhysicalDeviceLimits::minTexelBufferOffsetAlignment in vkCreateBufferView and report if it's wrong."
VkBufferViewCreateInfo::offset must be a multiple of VkPhysicalDeviceLimits::minTexelBufferOffsetAlignment according to https://www.khronos.org/registry/vulkan/specs/1.0/man/html/VkBufferViewCreateInfo.html.
vkCreateBufferView call returns the a VALIDATION_FAILED error if offset is not a multiple of minTexelBufferOffsetAlignment but doesn't provide any message in the debug output.
The request is t

[2018-03-29 21:08] karl-lunarg commented on #2533
We were having a hard time finding homes for the less obvious components like vulkaninfo, cube, and the mock ICD.
One draft proposal had them all in a new repo KhronosGroup/Vulkan-Utils.
But we changed the draft to try to avoid creating this Vulkan-Utils repo and we had to put vulkaninfo someplace as a result.
We felt that vulkaninfo is a basic, simple, "canonical" app that is a companion to typic

[2018-03-29 22:27] cnorthrop commented on #2533
Thanks, Karl.  I do feel if you are going to go through all this effort, let's get it right.  I was okay with the Vulkan-Utils proposal.  Vulkan-Tools seems like a good idea too.  You're right, the mockICD is a tool as well.

[2018-03-30 14:45] jzulauf-lunarg commented on #1986
Should be fixed by 2521 above

[2018-03-30 14:45] #1986 closed

[2018-03-30 14:45] jzulauf-lunarg commented on #1550
Should be fixed by 2521 above.

[2018-03-30 14:45] #1550 closed

[2018-03-30 14:46] jzulauf-lunarg commented on #865
Should be fixed by 2521 above.

[2018-03-30 14:46] #865 closed

[2018-03-30 14:48] jzulauf-lunarg commented on #2522
Should be fixed by 2521 above @DominikWitczakAMD -- can your verify, or share your test case?

[2018-03-30 15:24] iostrowsINTEL opened #2535 "Validate getter's structure count"
Getter functions like vkGetPhysicalDeviceSparseImageFormatProperties that require querying number of output structures before use should validate requested structure count.

`
If pProperties is NULL, then the number of sparse format properties available is returned in pPropertyCount. Otherwise, pPropertyCount must point to a variable set by the user to the number of elements in the pProperties arr

[2018-03-30 15:38] mark-lunarg commented on #2535
Great suggestion.  Added to the Assistant Layer tracking issue, #1612.

[2018-03-30 15:38] #2535 closed

[2018-03-30 16:58] daveh-lunarg commented on #2498
@tobine, I'm fine with this it on my queue, but there are still ~90 remaining sampler_YCbCr vuids ahead of it.  @chrisforbes if you can get to it sooner, it won't hurt my feelings if you grab it ;).

[2018-03-30 17:02] daveh-lunarg commented on #2482
Queued.

[2018-03-30 18:17] tobine commented on #2533
I support the idea of KhronosGroup/Vulkan-Tools repo for vulkaninfo and mockICD

[2018-03-31 20:42] DominikWitczakAMD opened #2537 "ParameterValidation layer + VK_KHR_descriptor_update_template: Invalid error reported for vkCreateDescriptorUpdateTemplateKHR()"
Spec says the following about VkDescriptorUpdateTemplateCreateInfoKHR::pipelineBindPoint:

[code]

However, for a templateType value of VK_DESCRIPTOR_UPDATE_TEMPLATE_TYPE_DESCRIPTOR_SET_KHR, I'm getting the following error reported at vkCreateDescriptorUpdateTemplateKHR() call time:

[code]

which is plainly wrong.

[2018-03-31 20:44] DominikWitczakAMD commented on #2522
Will do on Weds when I'm back in the office. Thanks!

[2018-04-01 13:27] atomnuker opened #2538 "VK_IMAGE_CREATE_EXTENDED_USAGE_BIT is ignored when creating multiplanar images with unsupported flags"
Creating a multiplane image (for example with a format of VK_FORMAT_G8_B8R8_2PLANE_420_UNORM) with the VK_IMAGE_CREATE_EXTENDED_USAGE_BIT flag and the VK_IMAGE_USAGE_STORAGE_BIT flag reports the following error:

This is technically valid as implementations won't flag the STORAGE bit for multiplane VkFormats (since you can't expose the VkImage as a single image2D), however the EXTENDED_USAGE bit a

[2018-04-02 17:07] jzulauf-lunarg commented on #2458
This is now being tracked in #2533 . Closing this issue to redirect all comments to that one.

[2018-04-02 17:07] #2458 closed

[2018-04-02 23:15] jzulauf-lunarg commented on #2537
This check no longer appears to be present in the parameter_validation_layer (though it is present as of SDK 1.0.68)

[2018-04-03 05:09] TiemoJung opened #2543 "Feature Request: disable removing of blend state info on pipeline create"
Hi,

the situation is as follows.

We create a new graphics pipeline, the fragment shader writes to one or more color outputs. The used pass marks all color attachments as unused via VK_ATTACHMENT_UNUSED. Leaving only depth/stencil to be used.

We always provide the blend state info, even in this case. This works fine, as expected. But if we enable in this case the debug layer, it filters in this

[2018-04-03 13:25] tobine commented on #2543
This is an interesting issue. The code in question is [here](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/scripts/helper_file_generator.py#L858)

We do blast any existing pColorBlendState pointer if rasterization is disabled or if there are no color attachments. The spec justification for this is:

In general we don't overwrite any input state in validation, but I b

[2018-04-03 17:16] mark-lunarg opened #2545 "Refactor Core Validation for Pre/Post validation and state recording"
Tracking issue for APIs that have/have not been refactored to use the pre-post call paradigm.

- [ ] vkAllocateCommandBuffers
- [ ] vkBeginCommandBuffer
- [ ] vkBindBufferMemory2KHR
- [ ] vkBindImageMemory2KHR
- [ ] vkCmdBeginDebugUtilsLabelEXT
- [ ] vkCmdBeginQuery
- [ ] vkCmdBeginRenderPass
- [ ] vkCmdBindIndexBuffer
- [ ] vkCmdBindPipeline
- [ ] vkCmdBindVertexBuffers
- [ ] vkCmdClearImage
- [

[2018-04-03 17:40] #2527 closed

[2018-04-03 22:35] #2515 closed

[2018-04-04 07:10] TiemoJung opened #2546 "ShaderValidation: may has incorrect check for read only buffers"
Hi,

we are getting this error:

Our baseline is DX11 HLSL 5 - it has only support for UAV resources in pixel and compute shaders. We translate the HLSL into GLSL and let glslang do the transformation to Spir-V. We validated the GLSL and it only correctly emits storage objects as readonly for vertex shaders.
So we where surprised to see this error.

Here is an example:
[spir-v dissaembly](https://

[2018-04-04 09:09] DominikWitczakAMD commented on #2537
Excellent, that works for me. Thanks!

[2018-04-04 09:09] #2537 closed

[2018-04-04 10:15] DominikWitczakAMD commented on #2522
Still seeing the error being reported, I'm afraid :-( Can you ping me at (name.surname@amd.com) so that I can email you a repro binary? Thanks.

[2018-04-04 11:39] pppessi opened #2547 "Two image validation issues"
It should probably say `vkCmdCopyImageToBuffer` instead of `vkCmdCopyBufferToImage`.

https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/layers/buffer_validation.cpp#L3933

Another one:

In `vk_format_utils.cpp` there is a map of different formats with byte size, number of channels and format compatibility class. In this map `VK_FORMAT_ETC2_R8G8B8A8_SRGB_BLOCK` has an ele

[2018-04-04 13:09] DominikWitczakAMD opened #2548 "Threading layer: vkResetCommandBuffer() is incorrectly required to have exclusive access to the command pool"
The latest version of the Threading layer, checked out from Git repo earlier today reports the following error if >1 threads call vkResetCommandBuffer() for cmd buffers which have been allocated from the same command pool:

[code]

The only external sync requirement for the vkResetCommandBuffer() entrypoint listed in the spec for the entrypoint in question is:

[code]

[2018-04-04 14:25] chrisforbes commented on #2548
5.2 says:

Command pools are externally synchronized, meaning that a command pool
*must* not be used concurrently in multiple threads. That includes use via
recording commands on any command buffers allocated from the pool, as well
as operations that allocate, free, and reset command buffers or the pool
itself.

[2018-04-04 14:29] DominikWitczakAMD commented on #2548
Ah ha! Would you agree this one is a spec issue then? It seems like the requirement should also be listed in the external synchronization requirements for the entrypoint.

[2018-04-04 15:15] mark-lunarg commented on #2546
@chrisforbes, would you be willing/able to triage this one?

[2018-04-04 17:52] daveh-lunarg commented on #2547
Good catch (x2), @pppessi!

Love these quick & easy issues - wish they all were :)

Fix is incoming.

[2018-04-04 17:59] jzulauf-lunarg commented on #2548
Or potentially is 5.2 overly broad?  If the intent is that CommandPools function as an SBA for command buffer objects that would then alloc/free as needed from some thread local arena (as they are recorded. reset, etc), then the language of 5.2 would be overly broad.  If instead the intent is that CommandPools function no only as the SBA for command buffers, but *also* act as the allocation arena

[2018-04-05 16:29] jzulauf-lunarg commented on #2530
Implemented in PR 2552.

[2018-04-05 16:29] #2530 closed

[2018-04-05 16:37] shannon-lunarg commented on #2107
Fixed in VulkanTools PR [#393](https://github.com/LunarG/VulkanTools/pull/393)

[2018-04-05 16:37] #2107 closed

[2018-04-05 19:55] #2547 closed

[2018-04-05 20:29] tobine commented on #2543
I've looked at this further after having a few work-around attempts fail various tests. The actual issue is [here](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/layers/unique_objects.cpp#L345) in the CreateGraphicsPipelines() function of unique_objects. The issue is that we use the safe_struct wrapper as the local struct to store the unwrapped handles. In doing so, a

[2018-04-05 20:32] polarina commented on #2543
@tobine have you considered fabricating our own `VkPipelineColorBlendStateCreateInfo`, ignoring whatever the applications sends us, and pass that down to the driver when rasterization is disabled?

[2018-04-05 20:38] mark-lunarg commented on #2543
This still feels like the validation layers are getting changed to accommodate a driver bug.

[2018-04-05 23:38] daveh-lunarg commented on #2464
The first will be easy to avoid with the existing work-around which avoids _probably-_ false positives when the EXTENED_USAGE bit is set. The full solution will require an exhaustive search of all compatible formats, unless we can get clever about caching the app's queries.

The second is harder to triage, because the ```VkImageViewUsageCreateInfoKHR``` is only allowed to include a subset of the i

[2018-04-06 10:28] hrydgard opened #2556 "Missing validation: VkWriteDescriptorSet.dstSet != VK_NULL_HANDLE"
When not using push descriptors, setting this field when using vkUpdateDescriptorSets is of course mandatory. Found this one while backporting from push descriptors to normal descriptor usage.

Though, of course, it should be allowed to be null when used in vkCmdPushDescriptorSetKHR.

[2018-04-06 11:47] baldurk opened #2557 "Validation layers don't check for descriptor sets being bound"
At the moment there don't seem to be any warning/error messages for drawing with a pipeline that requires descriptors but having no descriptor sets bound. I know there are complexities with detecting which descriptor sets are statically used in shaders, but hopefully at least something simple can be put in (maybe only as a warning) until a complete detection is added.

You can demo this on the cub

[2018-04-06 12:54] tobine commented on #2543
After further thought, I realized that since the issue only appears with the unique_objects layer, the reasonable workaround is to just run without the unique_object layer.

@TiemoJung are you running with "VK_LAYER_LUNARG_standard_validation" for your instance_layers? Can you instead run with the following in this EXACT order:

[code]

Then point to instance_layers in your VkInstanceCreateInfo.pp

[2018-04-06 12:54] #2543 closed

[2018-04-06 13:49] TiemoJung commented on #2543
Ok, that will do it too, thanks.

[2018-04-06 14:35] tobine commented on #2556
This is VALIDATION_ERROR_15c00280. The Issue appears to be [here](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/layers/object_tracker_utils.cpp#L210) in object_tracker. We only check for the error case when dstSet is not NULL.
@mark-lunarg can you give this to someone?

[2018-04-06 15:47] chrisforbes commented on #2557
This is actually all implemented already -- but seems to be buggy in the case where the CB never bound any descriptor sets at all. Will fix.

[2018-04-06 16:11] mark-lunarg commented on #2556
ICYMI, @jzulauf-lunarg is an actual Hero. 🥇

[2018-04-06 20:49] jzulauf-lunarg commented on #2522
I'm not able to reproduce this issue at this point, but for anyone else seeing this I've add additional logging to the critical paths on this branch [zulauf_release_acuquire_debug_info](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/tree/zulauf_release_acuquire_debug_info)  (yes the branch name has an extra u in acquire... sorry).

As I believe info are not enabled by default you

[2018-04-06 22:08] #2557 closed

[2018-04-06 22:14] chrisforbes commented on #2548
@jzulauf-lunarg I recall discussions about VkCommandPool from very early on where the intent was that you wouldn't share them between threads. I don't think there's any overreach here.

I disagree with shoehorning every piece of spec text into per-entrypoint VUs -- it's a cross-cutting requirement, and 5.2 specifies it fairly precisely. If you wanted to attach a VU tag to 5.2 itself that might be

[2018-04-06 22:14] #2548 closed

[2018-04-06 22:15] chrisforbes commented on #2546
Closing as duplicate of #2526.

[2018-04-06 22:15] #2546 closed

[2018-04-07 17:48] jzulauf-lunarg commented on #2556
Very curious, [parameter_validation](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/layers/parameter_validation_utils.cpp#L2079)  already has this check (since [Aug 17](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/commit/34655dd548a9b171bcee33508932bcc0b46fff11) at least), as I discovered when (in testing for the fix to object_tracker) I add a unit

[2018-04-07 18:04] hrydgard commented on #2556
I run with "VK_LAYER_LUNARG_standard_validation". But I just now realized that I just reinstalled this particular machine and forgot to install the Vulkan SDK :(  I had debugged on another machine earlier which did have working validation so I didn't realize.  Trying with the latest now it does actually catch it. Sorry :(

[2018-04-07 18:04] #2556 closed

[2018-04-10 01:50] jherico opened #2562 "Validation layers cause crash when using vulkan.hpp and the dynamic dispatcher"
Hardware: nVidia 860m
Driver: 378.92
Vulkan SDK: 1.1.70.1

I'm working on some code that uses push descriptors.  As such I'm trying to use the
`vkGetPhysicalDeviceProperties2` function so that I can use populate a `VkPhysicalDevicePushDescriptorPropertiesKHR` structure.  However, while the driver exposes `vkGetPhysicalDeviceProperties2KHR`, it does not expose `vkGetPhysicalDeviceProperties2` (go f

[2018-04-10 14:43] eskilsund opened #2563 "Missing checks for VALIDATION_ERROR_32a00272"
Resetting descriptor pools with in-flight cmdbuffers seems to lack validation and I couldn't find any open issues on this. So here's my attempt at addressing this. (Feel free to reject if this is already tracked somewhere else.)

As seen in layers/core_validation.cpp
[code]
Failing to fence properly before resetting a pool seems like a common application issue so it would be good to get into the c

[2018-04-10 16:25] mark-lunarg commented on #2562
@jherico, I think you're in a murky area of the loader-layer interface here, but there is some weirdness with your particular circumstances that @lenny-lunarg is looking into.

[2018-04-10 16:28] mark-lunarg commented on #2563
@daveh-lunarg, can you take a look at the fix @eskilsund has pointed to?  It looks like it's ready for a PR to me, but you're the expert!

[2018-04-10 16:51] chrisforbes commented on #2546
@mark-lunarg I've got a plan for fixing this now, but have my hands full with another project. How urgent is fixing this?

[2018-04-10 16:54] chrisforbes commented on #2563
I'd say go ahead with creating the pull request, and have the discussion of the details there.

[2018-04-10 17:09] lenny-lunarg commented on #2562
The obvious problem here is that using a null check to determine if you can call into `vkGetPhysicalDeviceProperties2` is completely invalid. The Vulkan spec states

So you have to use `vkGetPhysicalDeviceProperties` to check the device's API version to see if using `vkGetPhysicalDeviceProperties2` is legal.

The reason you can't use a null check for this function is that the function cannot be re

[2018-04-10 17:47] jherico commented on #2562
Actually I was just thinking about this myself and came to a similar conclusion: using a null check to determine if functionality was available was an invalid way of testing for a feature, as opposed to enumerating available extensions, or as you say, checking the device properties.

I've modified my code to do the check thusly:

[code]

... where `context.deviceProperties` is populated using the

[2018-04-10 17:47] #2562 closed

[2018-04-10 20:17] karl-lunarg commented on #2533
Thanks for the feedback.  I've updated the wiki to show the return to using Vulkan-Tools.

[2018-04-11 04:08] chrisforbes commented on #2015
@jzulauf-lunarg I've thought about this a bit, but not got as far as implementing it. I think the solution ought to look a lot like the image layout tracking -- but with the advantage that the number of half-submitted ownership transfers ought to be /really/ small.

[2018-04-12 16:25] daveh-lunarg commented on #2464
The linked PR will avoid false positives mentioned in the first part of the issue, and adds support for a chained VkImageViewUsageCreateInfo struct mentioned in the second part.  It's not clear to me whether this actually fixes the errors of the second part.

[2018-04-12 16:52] daveh-lunarg commented on #2538
With PR #2567 the false error above will be avoided at image creation time and will (potentially) be  flagged at imageview creation time if image and imageview usages don't match.

[2018-04-12 18:13] RCalocaO opened #2568 "VK_LAYER_LUNARG_api_dump: Show Image handle next to ImageView handle"
When showing information for ImageViews (outside of creation, eg vkUpdateDescriptorSets), it would be *extremely* useful to have its associated Image next to it, would simplify searching dumps of more than 1 million lines, eg:

`		pDescriptorWrites[6]: 			const VkWriteDescriptorSet = 0000024297701780:
			sType: 							VkStructureType = VK_STRUCTURE_TYPE_WRITE_DESCRIPTOR_SET (35)
			pNext: 							c

[2018-04-12 20:05] #2464 closed

[2018-04-12 20:05] #2538 closed

[2018-04-12 21:43] Tony-LunarG opened #2569 "ImmutableSampler sample getting unwarranted validation error"
The sample creates a sampler, and uses it as an immutable sampler in a COMBINED_IMAGE_SAMPLER descriptor set layout.  CV correctly puts it into the descriptors_  vector.  Later UpdateDescriptorSets is called, and the write to the descriptor has a VkDescriptorImageInfo.sampler value of 0 that is not ignored and overwrites the good pointer in descriptors_.  At draw time, CV validates the sampler and

[2018-04-13 00:46] zeux opened #2570 "No validation warning for barriers with redundant access flags"
The spec says this:

To me this suggests that, for example, the following barrier:

	dependencies[1].dstStageMask = VK_PIPELINE_STAGE_FRAGMENT_SHADER_BIT;
	dependencies[1].dstAccessMask = VK_ACCESS_COLOR_ATTACHMENT_READ_BIT | VK_ACCESS_DEPTH_STENCIL_ATTACHMENT_READ_BIT | VK_ACCESS_SHADER_READ_BIT | VK_ACCESS_TRANSFER_READ_BIT;

Is something an application "must not specify" since there are no stag

[2018-04-13 16:27] kennyalive opened #2571 "Resource destruction that is referenced by pending command buffer"
Hello,

in the specification for resource destruction we have the following statement (I'll use VkImage as an example):

_All submitted commands that refer to image, either directly or via a VkImageView, must have completed execution_

a) From this follows it is not required that entire command buffer finished execution before deleting resource, it's enough to ensure that the commands of interest

[2018-04-13 16:30] zeux commented on #2570
See the dependency in the original issue; when used as an external subpass dependency it triggers no warnings/errors

[2018-04-13 17:27] chrisforbes commented on #2570
OK, I see what's going on here now. CmdPipelineBarrier etc outside a renderpass validates these masks correctly, but the renderpass path is different and misses it.

[2018-04-13 17:40] zeux commented on #2570
Yeah - sorry, I didn't check this thoroughly; CmdPipelineBarrier does issue an error here, so the issue is only with external dependencies.

[2018-04-14 01:37] jdrouan-goog opened #2578 "loader: Pass the device dispatch table handle to the ICD before CreateDevice"
Our ICD implementation requires that the future address of the dispatch table be in scope during CreateDevice.

[2018-04-14 17:26] polarina commented on #2578
For what purpose does your ICD require this?

[2018-04-14 22:28] polarina commented on #2571
A call to `vkCmdSetEvent` defines an execution dependency on commands that were submitted before it, but it does not define a memory dependency. The device may thus still be using the image after an event signal.

[2018-04-15 08:00] kennyalive commented on #2571
@polarina, that's a good point.

Does the wording '_must have completed execution_' assumes only execution dependency?

[2018-04-15 14:14] kennyalive commented on #2571
In section 2.3.1 Object Lifetime we have more clear statement:

_The following Vulkan objects must not be destroyed while any command buffers using the object are in the pending state:
 ...
VkImage
..._

From it follows that we can not use event status as an indicator that resource can be destroyed - we should wait for entire command buffer.

With everything said above I find this statement from d

[2018-04-15 14:16] #2571 closed

[2018-04-15 22:31] nsubtil opened #2582 "Too many branches"
There are over 200 different branches in this repository, which makes it hard to understand which branches are active.

From a quick look, it seems like most branches simply contain a bug fix or something like that and can probably be removed. Can we get this cleaned up?

[2018-04-16 00:45] #2569 closed

[2018-04-16 00:49] #2172 closed

[2018-04-16 03:37] mark-lunarg commented on #2582
We went through a purge as recently as March (#2450), but there is likely to be at least some new cruft that can go.

[2018-04-16 08:29] cforfang opened #2584 "Missing validation for vkInvalidateMappedMemoryRanges"
Hi, commit 2fabc52a disabled some of the validation for ``vkInvalidateMappedMemoryRanges`` pending discussion in Khronos, but this was never enabled again after the discussion closed.

Could this be re-enabled again? I've some apps struggle with this VU in particular:
[code]

[2018-04-16 13:13] tobine commented on #2582
Currently 109 branches. I just got myself down to 10. @jzulauf-lunarg and @daveh-lunarg look to have a handful each that can be deleted.

[2018-04-16 13:29] krOoze commented on #2582
@mark-lunarg Well there is also old cruft too. Those 2 year old, 1000s of commits behind branches. Unfortunatelly they are not tied to PR, so it is hard to evaluate if they were ever merged, and ready to be deleted....

[2018-04-16 13:47] tobine commented on #2582
@nsubtil note that all work takes place on master branch, and the only other branches of general interest are typically the sdk branches that correspond to SDK releases. All other branches can be ignored unless you know you have a specific interest in one.

We'll get some more branches cleaned up to close out this issue, but given the number of developers and activity in the repo I'm not surprised

[2018-04-16 15:10] jzulauf-lunarg commented on #2569
@chrisforbes  -- thanks for jumping on this! :1st_place_medal:

[2018-04-16 15:39] jdrouan-goog commented on #2578
Our platform requires this the way it is implemented. We think this is a relatively small change that should be compatible with the current ecosystem of ICDs.

cc: @jfroy

[2018-04-16 18:00] nsubtil commented on #2582
Thanks, that's a sizable improvement.

Still, having 100+ branches means it's hard to find the useful branches. Ideally we would have only active branches in the repo.

Is there a reason we can't do fork-and-pull? That tends to solve the problem quite nicely, plus it removes the need to prune dozens of branches every now and then.

[2018-04-16 18:02] krOoze commented on #2582
@nsubtil Thinking the same way :) That was answered in #2450.

[2018-04-16 18:08] nsubtil commented on #2582
#2450 indicates some internal CI that can't cope with pull requests --- could we address that? Most common CI solutions seem to integrate well with GitHub and can cope with pull requests just fine.

[2018-04-16 18:37] cdwfs commented on #2582
I just deleted a handful of my older branches as well. Down to 91!

[2018-04-16 19:13] nsubtil commented on #2582
@cnorthrop can you clarify the statements around CI being a blocker for push-pull? Is the current model by design, or is it a side-effect of a technical issue around CI?

[2018-04-16 19:48] cnorthrop commented on #2582
Our internal CI supports testing branches for pre-commit build/test, but only from this repo, not downstream user repos.  It is not tied to the Github pull request process.  We only actively track master otherwise.

[2018-04-16 20:10] lenny-lunarg commented on #2578
You can see the linked PR for an explanation of why I don't want to pass the entire dispatch table to the ICD, but is there any reason why you actually need the dispatch table? Generally, it's much easier to just pass function pointers to the `vkGet*ProcAddr` functions. Would this still address your needs or is there some reason that you actually need the dispatch table.

I still find it odd that

[2018-04-16 20:12] karl-lunarg commented on #2582
Another factor:

If "internal CI" is changed to be able to process GitHub pull requests from downstream repos (in order to make upstream branches unnecessary), then that would require the internal CI status to be reflected back up into the GitHub Pull Request "Completed Checks" panel.  Like the existing Travis-CI and AppVeyor checks in this panel, there would need to links back to the internal CI

[2018-04-17 14:56] lucferron opened #2587 "vkCmdClearAttachments rect validation errors when CB->createInfo.level != VK_COMMAND_BUFFER_LEVEL_PRIMARY"
There is a regression when validating vkCmdClearAttachment rects and the command buffer node isn't created with VK_COMMAND_BUFFER_LEVEL_PRIMARY.

Most likely, you will receive the following error: "vkCmdClearAttachments(): The area defined by pRects[%d] is not contained in the area of the current render pass instance.",

The rects pointer just gets passed to the lambda and won't necessarily contai

[2018-04-17 21:02] ianelliottus commented on #2578
I just started looking at this.  I will try to get some additional info to see if I can help.  I will follow-up in the PR.

[2018-04-17 21:30] #2570 closed

[2018-04-18 10:04] DominikWitczakAMD opened #2590 "Duplicate image memory barriers are not reported."
The following command does not raise validation errors, in spite of duplicate image memory barriers being specified ([0] = [2], [1] = [3]):

[code]

[2018-04-18 12:25] #2587 closed

[2018-04-18 13:46] aguaviva opened #2591 "VL not reporting when a VkSubpassDependency is needed in a downsampling pass"
This happened when generating all mipmap chain elements from a specific render target. This requires a series of back to back passes where the COLOR_ATTACHMENT_OPTIMAL of the current pass becomes the SHADER_READ_ONLY_OPTIMAL of the next.

 I will update the bug as soon as I can attach a repro case.

[2018-04-18 14:09] aguaviva commented on #2591
Hi Mark, what is the best way to provide you a repro case (I wouldnt want to make it public right now), if you have a way I can provide you the repro case right now.

[2018-04-18 14:11] mark-lunarg commented on #2591
@aguaviva, if it it is not too large, you can email it directly to mark@lunarg.  If too big for email, I can arrange something on LunarXchange.

[2018-04-18 14:13] lucferron commented on #2587
Thank you for fixing the issue so quickly.

[2018-04-18 14:14] aguaviva commented on #2591
sure, let's use the LunarXchange thing

[2018-04-18 16:58] jekstrand opened #2592 "update_external_sources has invalid glslang SHA1"
Running update_external_sources.sh fails with the following

    fatal: reference is not a tree: 3bb4c48cd95892a5cfcd63df20fcc47fd51c97a0

[2018-04-18 17:25] greg-lunarg commented on #2592
This is working on Linux for me and passes Travis. What environment are you running this in?

[2018-04-18 17:32] mark-lunarg commented on #2591
@aguaviva, to generate the invite, I'll need a valid email address from you.  If you're uncomfortable including that here you can email it directly to me.

[2018-04-18 21:17] jekstrand commented on #2592
I just cloned into a different directory and now it works. I don't know why it wasn't working before.

[2018-04-18 21:18] #2592 closed

[2018-04-20 09:13] SteveHill-BRCM opened #2597 "VK_KHR_display extension tracking of VkDisplayKHR and VkDisplayModeKHR objects"
When using the direct display extension, the validation layer does not add display and display mode objects to its maps when generated via:

vkGetPhysicalDeviceDisplayPropertiesKHR() and vkGetDisplayModePropertiesKHR()

resulting in validation errors when using these objects in later calls.

[2018-04-20 09:34] Jasper-Bekkers commented on #1880
It's been a while and it looks like VK_EXT_debug_utils (which I'm assuming is the right extension) has been out for a while too. What's the status of the error messages that need conversion?

[2018-04-20 14:02] mark-lunarg commented on #1880
@Jasper-Bekkers, we're going to need help with identifying the error messages that need conversion.  It is impractical (at least at this time) to convert all of the log_msg calls -- but we will certainly work to cover the ones where it'd provide the most benefit.

[2018-04-20 14:14] Jasper-Bekkers commented on #1880
Have any been covered at all? Like I mentioned before, one could easily go over the ~160 or so instances of PRIxLEAST64 and patch them by hand. This is - other then vague / unclear messages - probably the number one productivity killer in the Vulkan ecosystem so it's sad to see such a response.

[2018-04-20 14:34] mark-lunarg commented on #1880
@Jasper-Bekkers, I apologize -- my response was relating to outputting multiple objects to the debug callback.  We have already begun an effort to revamp log_msg() which would automatically provide the labeling functionality along with many other improvements, see PR #2475.  It is coming!

[2018-04-20 16:15] Tony-LunarG commented on #2584
Fixed with PR #2595

[2018-04-20 16:53] gwihlidal opened #2598 "Including useful information in various messages"
There are a number of messages which could (I think) easily include more information/context about what has occurred. Many messages will just print out verbatim spec, and leave finding out what values, etc.. were provided that caused an error up to the user (often requiring a lot of digging app-side).

As an example:
[code]
This check will have compared the image layouts in order to perform this v

[2018-04-20 17:43] Brisse89 opened #2600 "Vulkan apps default to my secondary GPU, performance issue"
Hi!
Not sure if this is the right place. I was redirected here after contacting Feral Interactive support. I'll just copy/paste what I wrote to them. I think it will explain the issue perfectly well.

![skarmbild_fran_2018-04-20_10-28-21-2](https://user-images.githubusercontent.com/10871070/39065674-dcfc165a-44d2-11e8-99bd-e2d8cf00cd50.png)

[2018-04-20 22:33] krOoze commented on #2600
Vulkan API does not really prescribe any specific order of the physical devices. The games and apps should simply be a bit more smart advising the better option to users &mdash; and, well, remember the choice.

I bet the order is simply the one found in the [discovery folders](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/loader/LoaderAndLayerInterface.md#icd-discove

[2018-04-21 00:30] bradgrantham opened #2602 "Should "actual + rdur" be "desired + rdur" in cube.c ActualTimeLate()?"
https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/826d9699aa66007e729c0649b283038a676d61d1/demos/cube.c#L572

[2018-04-21 08:01] Brisse89 commented on #2600
This is what Feral support said about how they choose GPU

In this case, both of the GPU's are identical, with the same amount of VRAM. I'd also like to point out that OpenGL applications do not have this issue and picks the primary GPU by themselves.

[2018-04-23 04:52] mark-lunarg commented on #2602
@mikes-lunarg, this related to your cube glitches maybe?

[2018-04-23 05:51] leigh123linux commented on #2600
Vulkan uses the first working config loaded, it's the program/'driver vendors'/distro to choose which is used.

renaming the vendor provided amd driver file will make it load first

example:
[code]

[2018-04-23 10:50] Brisse89 commented on #2600
@leigh123linux
I think you misunderstood. This isn't a case of different vendors, such as if I had an Intel iGPU (which I don't) and additional discreet graphics card. This is about having multiple discreet graphics cards of the same vendor and the same type, and for some reason, Vulkan runs on the headless card, which it shouldn't.

I guess I should bring this up with Mesa developers instead?

[2018-04-23 14:14] Brisse89 commented on #2600
Mesa bug report here: https://bugs.freedesktop.org/show_bug.cgi?id=106187

[2018-04-23 14:17] mdiluz commented on #2600
Just to say here - as in the freedesktop report - the failure to remember the selected GPU is an app issue and will be resolved there.

I don't have a fixed opinion on whose role it is to ensure the right GPU is default here though, @krOoze maybe be right that this is really an ecosystem question as it does touch quite a few parts of the pipeline.

[2018-04-23 14:42] mikes-lunarg commented on #2602
@mark-lunarg I don't think it is related.  ActualTimeLate() is part of the VK_GOOGLE_display_timing demo embedded within cube, which my desktop system does not support.

[2018-04-23 19:43] #2584 closed

[2018-04-23 22:44] jfroy commented on #2578
I am helping @jdrouan-goog on this PR. We think the change we're making here will be transparent to all existing ICDs because of the established rules for scanning and parsing extension structures, e.g. ignore and skip what you do not recognize.

Without going into all the technical details and motivations, we are building a virtual ICD that forwards a portion of its work to a "delegate" ICD. As p

[2018-04-23 22:51] jeremyk-lunarg opened #2605 "LunarXchange issue #761 - vkGetImageSparseMemoryRequirements2 crashes when querying the count"
Copied from LunarXchange [Issue-761](https://vulkan.lunarg.com/issue/view/5ade136de46ffe75aa6ffe23):

If i call vkGetImageSparseMemoryRequirements2(device, &info, &cnt, nullptr) with cnt = 0 to get the count of items returned, the validation layers crash in core_validation.cpp:4135 in PostCallRecordGetImageSparseMemoryRequirements2. The reqs parameter is my nullptr, but the req_count parameter is

[2018-04-23 23:39] lenny-lunarg commented on #2578
The problem I have with passing the dispatch table to the ICD isn't about using the pNext chain for this purpose &mdash; it's that the dispatch table is an internal struct. As such, no attempt is made to preserve compatibility because it is never used in an interface. Preserving compatibility would be possible, but would definitely be an inconvenience, as the items in that struct get reordered occ

[2018-04-24 09:07] DominikWitczakAMD opened #2607 "Threading layer: Race condition in the layer causes incorrect "object simultaneously used in thread .. and thread .." errors to be reported"
Consider the following scenario:

1. Thread A calls vkDestroyBuffer()
2. Thread B calls vkCreateBuffer()

It is legitimate for the driver to return the same handle if the calls are executed in a serialized manner, in order: A followed by B.

The validation layer chain does some additional chores after VK impl returns execution flow from vkDestroyBuffer(), before passing control back to the app. Ho

[2018-04-24 09:08] DominikWitczakAMD commented on #2607
I have a repro for this if that would be helpful.

[2018-04-24 11:19] DominikWitczakAMD opened #2608 "core_validation::PostCallRecordFreeMemory() crashes at vkFreeMemory() call time"
This is only seen happening when multiple (4 in this case) threads (each using its own device created using the same shared Vulkan instance) do Vulkan stuff:

![image](https://user-images.githubusercontent.com/17761066/39183853-b1ee9ad6-47c1-11e8-9f87-730734d867b7.png)

![image](https://user-images.githubusercontent.com/17761066/39183917-ebe51ab2-47c1-11e8-82fe-3f0f8ddecdee.png)

No validation err

[2018-04-24 17:13] jzulauf-lunarg commented on #2608
I can see a race for two threads freeing the same memory on the same device, where one thread would end up with a pointer to a DEVICE_MEM_INFO erased by another thread -- though that would violate the "Host Synchronization" for vkFreeMemory.  I'll patch that a push that for review and test.  I don't see anyway two threads accessing two different devices could do the same thing however.

[2018-04-24 18:40] DominikWitczakAMD commented on #2608
Exactly, I'd assume that such condition would be prepended with a validation error, telling the same mem block is about to be released for the second time. I'm not getting any such error. In fact, I'm not getting any errors at all, apart from the crash.

Please ping me when the patch lands so I can give it a go. If the crashes are still there afterward, I can provide you with a repro so you can ha

[2018-04-24 22:23] jzulauf-lunarg opened #2613 "Validation error during pipeline creation for VK_KHR_shader_draw_parameters with Vulkan 1.1"
From LunarXchange  [#762 ](https://vulkan.lunarg.com/issue/view/5adf900a663151661d478183)

It looks like the promoted extension list is incomplete in codegen.

[2018-04-24 22:43] jzulauf-lunarg commented on #2608
Created WIP branch with two commits.  One adds defensive/logging code for detect races and not dying, and the other plugs a potential hole in the threading layers logging (at some performance cost for singly threaded applications).

https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/tree/zulauf_free_mem_crash_2608

[2018-04-25 05:14] cdwfs opened #2614 "dualSrcBlend device feature is only checked if alpha blend factors use DSB"
in validate_dual_src_blend_feature() (core_validation.cpp), there's a to make sure the dualSrcBlend device feature is enabled if one of the VK_BLEND_FACTOR_SRC1_* factors are used. However, only the src/dst alpha factors are checked; color factors must be checked as well. I'll fix this momentarily.

[2018-04-25 07:36] DominikWitczakAMD commented on #2608
Excellent. I'll get back to you later today with further feed-back.

[2018-04-25 08:40] DominikWitczakAMD commented on #2607
Forgot to mention: if the error is ignored, the layer first does an assert(0) and then crashes afterward due to a NPE.

[2018-04-25 09:28] DominikWitczakAMD commented on #2608
OK, I think I know what's cracking here. This issue appears to be directly related to the other one I also reported yesterday (https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/issues/2607).

I've modified my framework to:

1) Printf TID + mem handle at mem alloc time
2) Printf TID + mem handle at mem free time

Here's what I'm getting right before the new checks you added yesterday

[2018-04-25 16:02] nikitablack opened #2616 ""Cannot read invalid region of memory" when using external memory."
Hello. When I'm using a `VkDeviceMemory`  with `VkImportMemoryFdInfoKHR` I'm getting an error:

In case if memory created with a flag `VK_MEMORY_PROPERTY_HOST_VISIBLE_BIT` I have to make a dummy call to `vkMapMemory()` and `vkUnmapMemory()` to make this warning disappear. I didn't try to solve when the flag is `VK_MEMORY_PROPERTY_DEVICE_LOCAL_BIT`, but obviously mapping/unmapping will not work her

[2018-04-25 16:26] chrisforbes commented on #2607
How are you stacking up the layers for this? CV etc relies on unique_objects to guarantee that we don't see reuse of nondispatchable handles.

[2018-04-25 18:50] karl-lunarg commented on #2600
@Brisse89   Thanks for raising this issue and running it past the Mesa folks.   As others have said, the Vulkan loader is operating within the specifications here.  In this particular case, there is one driver reporting two physical devices and the driver is deciding the order of the devices in the list it returns.  One could argue that the driver *could* figure out which physical device is primar

[2018-04-25 19:41] DominikWitczakAMD commented on #2607
Fair point. IIRC, I used alphabetic ordering when typing all the custom paths to json files in the registry so that would mean unique_objects is loaded before core_validation. I'll get back to you on this tomorrow, I'm OoO already.

As a side point, are you considering adding some sort of a requirements chain to the layers? Issues like these are pretty hardcore to nail down if you're not knee-deep

[2018-04-25 19:47] chrisforbes commented on #2607
You should already be getting such a warning, at least for CV misordered wrt UO.

The standard_validation pseudo-layer enables the layers in the order that is known to work.

[2018-04-25 19:52] jzulauf-lunarg commented on #2608
It's the same class of issue as #2607. I've updated the branch s.t. the free/allocation race is removed.

The other cause here is that "unique_objects" isn't enabled, and there are likely an even larger set of elements in this class for races that can occur when unique objects is disabled. (essentially any free/alloc, destroy/create pair where the driver is reusing handles)

I'll put together a PR

[2018-04-25 19:58] krOoze commented on #2600
@karl-lunarg I am just gonna be a jerk, and go ahead and create one...

[2018-04-25 19:59] krOoze commented on #2600
@Brisse89 Ups, sorry. I will merge my Issue with your then...

[2018-04-25 20:06] karl-lunarg commented on #2600
Thanks!

[2018-04-25 20:06] #2600 closed

[2018-04-25 21:20] jzulauf-lunarg commented on #2366
PR [2586](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/pull/2586) fixes this.

[2018-04-25 21:20] #2366 closed

[2018-04-25 22:07] karl-lunarg commented on #2582
It's been about 10 days and we're still at about 90 branches.

I collected the "owners" of the branches with:

[code]

I scraped the email addresses using this:

[code]

And then I sent them all an email with the results of the first command attached, asking them to clean up any unneeded branches.

I think that this is going to be the best we can do for now.

There is a lot of friction with going

[2018-04-25 22:07] #2582 closed

[2018-04-26 00:45] #2504 closed

[2018-04-26 12:59] mark-lunarg commented on #2608
@DominikWitczakAMD, I'd suggest we try one more thing, perhaps removing everything from your layer list *except* for standard validation.  Don't have it handy, but the loader may process requested layers and 'standard_validation' in some non-obvious order.  Your optimal order is _either_ standard_validation, OR, {"VK_LAYER_GOOGLE_threading", "VK_LAYER_LUNARG_parameter_validation",
"VK_LAYER_LUNARG

[2018-04-26 13:36] DominikWitczakAMD commented on #2608
Requesting only standard_validation does not appear to cause the loader to load any layers into process space.

On the other hand, if I use the list @mark-lunarg  suggested, the errors are gone. A question that arises at this point is how can a Vulkan application determine the right order, in which validation layers installed on the platform should be requested at instance creation time?

Until no

[2018-04-26 14:35] jzulauf-lunarg commented on #2590
Can't find anywhere in the spec that duplicated barriers are not allowed, though neither are contradictory ones (imagine if 0 and 2 specified different layout transitions, or specified overlapping sub-resources with different layout transitions, or queue ownership or ...).

However, in order to handle duplicate barriers (especially ones with layout transitions) would be likely to cause driver over

[2018-04-26 14:53] DominikWitczakAMD commented on #2590
Assuming X != Y, in a scenario where layouts X and Y correspond to different image data layouts, duplicate barriers would likely introduce data corruption, wouldn't they?

[2018-04-26 14:54] DominikWitczakAMD commented on #2608
I'll have a look at this tomorrow, thanks.

[2018-04-26 14:57] mark-lunarg commented on #2061
This, or something similar, gets a +1 from Hai.

[2018-04-26 16:26] jzulauf-lunarg commented on #2590
Opening an issue with the working group.  I can't see how duplicate (or contradictory) barriers could be valid, but I'd like guidance as to the correct valid usage.

[2018-04-26 19:47] #2482 closed

[2018-04-26 19:54] daveh-lunarg commented on #2563
PR #2566 is merged so I guess this issue should be closed.

[2018-04-26 19:54] #2563 closed

[2018-04-26 20:15] atomnuker opened #2619 "Creating multiplanar image views with multiplanar formats prints incorrect errors"
Attempting to create image views with multiplanar VkFormats (to use in converting samplers, for example NV12 to RGBA) prints the following error messages:

The spec says that to create multiplanar VkImageViews you need to OR all aspect flags applicable to the format you're trying to create an imageview for and use the original image format.

This should be addressed by the image being created with

[2018-04-27 11:20] DominikWitczakAMD opened #2621 "No error reported for a buffer->image copy op which exceeds target mip's extents"
Consider a copy op which:

* targets a BC1-compressed image mip of size 5x3x1
* uses start offset of 0x0x0
* has extents of 8x4x1

No error is reported by the layers in this scenario, even though for this specific use case where start offset is located at zero and the app intends to fill the whole mip with data, it should specify a copy region of size 5x3x1.

Extents of 8x4x1, despite being aligne

[2018-04-27 14:36] mark-lunarg commented on #1074
@mdinkov, not sure yet -- we need to first arrive at a solid solution.  This is a grey area not yet covered by the Vulkan spec or the canonical Loader/Layer interface.  None of the solutions are particularly appealing but we plan to address it (or at least, work around it), likely in the next or next-next SDK.

[2018-04-27 14:47] tobine commented on #2621
Seems like this is VALIDATION_ERROR_18e00158 which DB claims a check for but may be incomplete.

[2018-04-27 15:38] mark-lunarg commented on #2621
@daveh-lunarg, Images!  Extents! Offsets!  MipLevels!  Just sayin'.

[2018-04-27 15:47] mark-lunarg commented on #2591
For tracking, including some side-band information applicable to the issue:

Raul kindly provided a repro case, I have this squirreled away on LunarShare for anyone that needs/wants it.  Accompanying information:

I just uploaded a repro case, it is a build of AMD Vulkan’s framework, it comes with 3 exes.
- SampleVK_0_subpass.exe, this exe doesn’t use any subpasses and it shows corruption on AMD
-

[2018-04-27 16:38] #2613 closed, assigned to jzulauf-lunarg

[2018-04-27 20:26] daveh-lunarg commented on #2619
Yep, I just added that error message.  The multi-plane Hydra bites me again...

[2018-04-27 20:29] daveh-lunarg commented on #2621
@mark-lunarg, Ugh.  I wish there was a more _expressive_ emoticon available.

[2018-04-27 21:34] atomnuker commented on #2619
Thanks for dealing with all the issues I report, and sorry for bothering you.

[2018-04-28 12:16] Themaister commented on #1074
Also ran into this issue when using VK_EXT_debug_marker with RenderDoc and having layers enabled.

[2018-04-29 00:45] lawrencem99 opened #2622 "Cannot coexist with glslang in the same Cmake project."
I'm testing the waters for an idea to allow the loader/validation library to coexist side-by side as sub directories in the same CMake project.

Currently I don't believe this is possible because this library re-defines the glslang libraries (please feel free to correct me on this).

It's a nice model for me because then I can work with the loader and glslang as first class citizens in CLion and n

[2018-04-29 15:52] gwihlidal opened #2623 "Error updating external sources if VS 2017 can't be located"
`update_external_sources.bat` attempts to locate Visual Studio with some PATH checks in `determine_vs_version.py`, and this fails on machine with only VS 2017 installed:

[code]
[code]

However, running cmake directly from the same terminal, and specifying VS works fine:
[code]

It seems like the VS locator should either be replaced with relying on cmake itself to find Visual Studio, or use vswher

[2018-04-29 17:54] mark-lunarg commented on #2623
These are great suggestions -- I've never been a fan of that script though I think it might have at least one side-purpose.  Either way, it's possible we could deprecate it or at least avoid using it for the main build.  This is great timing, the repo structure and CMake files are getting a thorough scrub and cleanup.  Thanks!

[2018-04-29 21:08] gwihlidal commented on #1074
I just hit this issue again, too (using VK_EXT_debug_marker)

[2018-04-30 13:30] #2614 closed

[2018-04-30 16:55] shannon-lunarg commented on #2483
Fixed with PR #2617.

[2018-04-30 16:55] #2483 closed

[2018-04-30 19:00] jherico opened #2624 "No warning before a crash if pipeline layout has _no_ descriptor sets, but the shader declares uniform inputs"
I'm working on a shader where the inputs are declared like so:

[code]

[2018-04-30 19:05] chrisforbes commented on #2624
Yes, we should be detecting this case.

[2018-04-30 21:23] #2608 closed, assigned to jzulauf-lunarg

[2018-05-01 12:59] gwihlidal commented on #1074
Note, this also crashes other tools like Nvidia NSight

[2018-05-01 15:01] mark-lunarg commented on #2622
@lawrencem99, is this the information you needed?  In any case, the ability to use your own copy of glslang will be improved in the near future.

[2018-05-01 15:43] karl-lunarg commented on #2448
I have a new validation layer test written for this.  Working on the validation layer checks now.

@DominikWitczakAMD, the layers don't currently analyze the Indirect flavors of Draw and DrawIndexed.  Are you concerned at all about these Indirect versions?

[2018-05-01 15:56] lawrencem99 commented on #2622
Basically I think this is a special case where the LVL and glslang/spirv tools are subdirectories in the same cmake project, I'll just make a PR to illustrate better if I get the time.

[2018-05-01 15:56] #2622 closed

[2018-05-01 20:54] tiago-rodrigues opened #2626 "Descriptor layout and update after bind validation issue"
Hi,

I'm having the following error, when creating a pipeline layout which does not specify VkDescriptorSetLayoutBindingFlagsCreateInfoEXT:
"Error Code 266344388: vkCreatePipelineLayout(): sum of storage image bindings among all stages (1) exceeds device maxDescriptorSetUpdateAfterBindStorageImages limit (0). "

It looks like some HW is quite limited on 'maxDescriptorSetUpdateAfterBindStorageImage

[2018-05-01 21:09] jeffbolznv commented on #2626
Hi Tiago,

This code is all protected by "if (dev_data->extensions.vk_ext_descriptor_indexing)" so the extension should be enabled, and if it's enabled then it doesn't make sense for that limit to be zero. Can you confirm whether this is happening on a driver that claims to support descriptor indexing, and that the limit it reports is actually zero? Or, there might be a problem with how the extens

[2018-05-02 16:32] jzulauf-lunarg commented on #2015
@chrisforbes -- okay I'll start on it.

[2018-05-02 16:35] #2616 closed

[2018-05-02 16:52] mark-lunarg commented on #1074
In work, should have a PR up shortly.

[2018-05-02 20:46] t-chaik opened #2629 "vkEnumeratePhysicalDevices reports duplicates"
On my system, `vkEnumeratePhysicalDevices` reports two (identical) physical devices while, obviously, my machine, a laptop with an Intel HD Graphic 502 integrated graphics processor, running Fedora 27 and Mesa 17.3.6, only has one. Attached is the complete `vulkaninfo` output running with `VK_LOADER_DEBUG=all`.

The problem seems to be that the same ICD manifest file gets loaded twice, from both:

[2018-05-02 20:48] t-chaik commented on #2629
If this is confirmed and this kind of de-duplication welcome, I can work on a fix.

[2018-05-02 22:49] lenny-lunarg commented on #2629
This may be identical to #2331, but I need to look into it a little to be sure.

I believe that what's going on is that you probably have a trailing slash in either `XDG_DATA_DIRS` or `XDG_CONFIG_DIRS`, and that the loader mistakes the files as being different as a result. The easiest solution would probably be to make the loader strip out redundant info from the search paths. That's assuming that

[2018-05-02 23:04] t-chaik commented on #2629
Definitely the same problem. I'll try to find some time to propose a fix next week. I guess you can close that bug as duplicate of #2331. Thank you!

[2018-05-02 23:51] chrisforbes opened #2631 "Remove all mentions of 'global descriptor indices' from error messages"
A single global space is a LVL-created fiction. All our error messages should be in terms of Vulkan spec concepts -- in this case, the 3-level set/binding/arrayelement space.

[2018-05-03 10:16] PVRDevTech opened #2632 "vkDestroyFence validation fails after vkDeviceWaitIdle call if no vkWaitForFences is called"
SHORT DESCRIPTION - REPRODUCTION
==========================
Application appears to have no other errors. There are two sets of fences synchronising command buffers submissions and command buffer presentation. When cleaning up exiting the application:
* Call ``vkDeviceWaitIdle``. Do *not* explicitly wait for any fences
* Destroy the objects (including the ``vkDestroyFence``)

RESULT (ACTUAL)
======

[2018-05-03 13:48] PVRDevTech commented on #2632
Additional info
==========
I also tried just querying the fence status before destroying:
* vkDeviceWaitIdle
* vkGetFenceStatus
* vkDestroyFence

This also fixes the issue, which reinforces my previous assumption that the layers just have the wrong idea about the fences. At this point I would guess that just updating all fences as signalled in vkDeviceWaitIdle should be enough to fix this.

[2018-05-03 13:57] tobine commented on #2631
I believe all of the offending messages are in [ValidateDrawState](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/layers/descriptor_sets.cpp#L629) function. Agree that this should just reference the array offset into that descriptor, if any.

[2018-05-03 19:48] jzulauf-lunarg commented on #2015
The bug as written has a smaller scope than "validating that acquire operations have valid preconditions" -- which would be a large task.  Effectively the request is:

The spec is somewhat unclear on what "matching" means.  [For context, doc issue 347](https://github.com/KhronosGroup/Vulkan-Docs/issues/347) Early forms of the spec stated that the "same" barrier had to be submitted to both releasin

[2018-05-03 22:36] krOoze commented on #2015
Well it does not say "matching" at all. It says:

My interpretation is that any _release op_ must have an _acquire op_ eventually. And that any _acquire op_ must only be executed when _release op_ already was executed.

What do you mean "if applicable"?

I think it does **not** formally say they are ignored. Though considering `*StageMask` value is ignored, they are IMO indeed meaningless. And the

[2018-05-04 02:33] chrisforbes opened #2638 "Add missing subpass structure checks"
I've run into a bunch of issues recently where attachments are used in invalid combinations (same attachment multiple times in one subpass by accident...).

Most of these don't have VUs, but we should still have the checks.

[2018-05-04 02:36] chrisforbes commented on #2591
@mark-lunarg can you share how this downsample and blur are being achieved in terms of renderpass/subpass structure? This is tripping my spidey-sense.

[2018-05-04 12:03] jzulauf-lunarg commented on #2015
@krOoze  -- you're right the spec doesn't say "matching" and earlier version of the spec said "same" -- though it does describing as being in *two*  parts (a matched set one might say).

My "if applicable" means "for image barriers".

The *AccessMasks are ignored for the purposes of checking it an acquire correlates to a release, as are *StageMask.  They aren't required to match between the barrie

[2018-05-04 12:44] krOoze commented on #2015
Me too I guess. The one exception of shared layout transition between the two ownership transfer barriers points that there may be some restrictions.

The spec though mixes "resource" and "subresource" often. And it is not clear if by "subresource" they mean the exactly same one, or if it is like "coffee" (i.e. any part of the coffee is also the coffee). To me it feels the intention is the release

[2018-05-04 13:34] #2448 closed

[2018-05-04 13:42] cdwfs opened #2639 "SetDesiredFailureMsg() doesn't handle the same message added twice"
I recently hit a few cases writing unit tests where the same error is emitted 2+ times by a single API call. I tried adding multiple calls to `SetDesiredFailureMsg()` with the same VUID, but everything after the first occurrence was still treated as an unexpected error. I'm not sure if this is the expected behavior or not; @chrisforbes was surprised to hear it didn't work, but if this is an intent

[2018-05-04 14:12] fduranleau-gl opened #2640 "Image layout validation incorrect when recording command buffers out of submission order"
Image layout transitions from render passes are checked at command recording time. However, if two render passes are recorded in different command buffers in parallel (in different threads; this is our use case), then image layout transition tracking in this manner is no longer valid, because recording order might not be the same as command buffer submission order. Actually, even in a single threa

[2018-05-04 14:13] ianelliottus commented on #2602
@bradgrantham , @mark-lunarg , and @mikes-lunarg , I'll take a look at this (sounds like code that I wrote).

My understanding is that Keith Packard wrote VK_GOOGLE_display_timing support for at least one Mesa Vulkan driver (paid for by Valve).  I think it's for AMD hardware on Linux, but I'm not certain.

[2018-05-04 14:26] ianelliottus commented on #2602
@bradgrantham you are correct that there is a bug.  As @karl-lunarg described, #2637 is a fix that we should take.

[2018-05-04 14:29] jzulauf-lunarg commented on #2640
@fduranleau-gl  -- if you have a repro case it would help.

[2018-05-04 14:30] #2602 closed

[2018-05-04 14:31] mark-lunarg commented on #2626
@tiago-rodrigues, from @jeffbolznv's comment, it seems like this might be a driver issue, zero is not a valid minimum for this limit if enabled.  If you feel comfortable with this, please feel free to close this issue.  Thanks!

[2018-05-04 14:36] fduranleau-gl opened #2641 "Providing stack trace in messages when validation is delayed"
We know that some validation can not be done immediately when recording a command (e.g. tracking image layout). So some of them are deferred at submission time. However, if we hit an error (or a warning) there, then we lose the context from where the offending command comes.

So, a nice (and non-intrusive) feature that would be very practical is if, for such deferred validation, information about

[2018-05-04 14:40] tiago-rodrigues commented on #2626
Hi Mark,

I think this is a validation issue exposed by a driver issue. I still think the validation is not doing the right thing. The validation code is indeed protected by "if (dev_data->extensions.vk_ext_descriptor_indexing)", but as it stands, the validation code assumes "VK_DESCRIPTOR_SET_LAYOUT_CREATE_UPDATE_AFTER_BIND_POOL_BIT_EXT" is set. My initial report is for a descriptor set that has

[2018-05-04 14:53] jeffbolznv commented on #2626
The UpdateAfterBind limits are supposed to count sets created with or without VK_DESCRIPTOR_SET_LAYOUT_CREATE_UPDATE_AFTER_BIND_POOL_BIT_EXT set. e.g.

[code]

[2018-05-04 15:53] mark-lunarg commented on #2641
Thanks @fduranleau-gl!

[2018-05-04 18:12] chrisforbes opened #2645 "Fix unexpected error in CreatePipelineCheckShaderCapabilityExtension2of2"
[code]

This may be a limitation of the current SPIRV-Tools, but needs some investigation.

[2018-05-04 18:16] #1074 closed

[2018-05-04 18:16] #2314 closed

[2018-05-04 18:26] mark-lunarg opened #2646 "Code-Gen all implicit VUs"
There are ~700 implicit VU checks that remain unimplemented or at least unidentified in the database.  These need to be covered by PV and OT codegen.

Many if not most of these look to consist of validating elements of extension structs that only exist in pNext chains.

This is important since new extension validation requires COMPLETE-level validation, and these checks should all be performed aut

[2018-05-04 18:33] daveh-lunarg commented on #2619
Found the invalid logic that assumed that if MUTABLE was set at image creation then the imageview would be of a different format, which isn't necessarily true. @atomnuker, it's no bother. Inserting the multiplane validation is proving to be complicated and (demonstrably) error-prone, so I appreciate having the real-world implementation feedback!

BTW, as I understand EXTENDED_USAGE it's only inspe

[2018-05-04 19:47] chrisforbes opened #2648 "Add validation support for VK_ANDROID_external_memory_android_hardware_buffer"

[2018-05-04 19:49] #2597 closed

[2018-05-04 19:57] chrisforbes commented on #2645
This shader needs to express the ShaderViewportIndexLayerNV capability, which it doesn't.

[2018-05-07 08:06] DominikWitczakAMD commented on #2448
@karl-lunarg: I'm not exactly concerned about the indirect variants at this point *but* if we have a gap here, it wound be useful to have it patched up as well :)

[2018-05-07 17:16] #2619 closed

[2018-05-07 17:32] tobine opened #2652 "Initial image layout not correctly validated"
In analyzing InvalidImageLayout test with @Whenning42 he highlighted what appears to be a fundamental issue in how initial image layouts are treated in validation.

First some spec background. According to section [11.4 Image Layouts](https://www.khronos.org/registry/vulkan/specs/1.1-extensions/html/vkspec.html#resources-image-layouts):

Just above that text, in the same section, two conditions of

[2018-05-07 23:58] daveh-lunarg commented on #2136
I don't grok this completely but I think it's (at least partially) fixed by PR #2408.  I'm closing it based on that  general intuition alone.  @DominikWitczakAMD , if it reappears please re-open this issue or create a new one and assign to me.

[2018-05-08 12:53] fduranleau-gl commented on #2640
Sorry for the delay to replay, I had to dig up in our codebase's history to try to find the exact case. But while doing so and digging into and experimenting more with validation layers and trying to understand better what they do, I just came to realize that what I report here is no issue at all. The problem is something else. So I must apologize for reporting this too eagerly. I am closing this

[2018-05-08 12:53] #2640 closed

[2018-05-08 13:32] fduranleau-gl opened #2653 "Incorrect image layer validation with secondary command buffers"
We had this situation where we used an image in a render pass both as a depth attachment and as shader resource. The render pass set the image's layout to VK_IMAGE_LAYOUT_DEPTH_STENCIL_ATTACHMENT_OPTIMAL, but the same image was used in a descriptor with layout VK_IMAGE_LAYOUT_DEPTH_STENCIL_READ_ONLY_OPTIMAL. So obviously, we had image layout conflicts. However, commands for the render pass were re

[2018-05-08 13:38] DominikWitczakAMD commented on #2448
Frankly, it's going to be a nightmare. :-( Even if the buffers used to host dispatch/draw call args used host-coherent mappable memory, the layers would still have a hard time with cases where a single cmd buffer does the following:

1. Stash cmd buffer args into a buffer using a dispatch/draw call.
2. Issue an indirect dispatch/draw call that consumes data generated in step 1.

The layer would ne

[2018-05-08 13:40] tobine commented on #2653
@jzulauf-lunarg this replaces #2640

[2018-05-08 13:42] fduranleau-gl commented on #2653
Indeed, I forgot to mention that.

[2018-05-08 16:05] chrisforbes commented on #2653
Even without the layout conflict, this seems likely to not be valid; see this bit of 7.3:

[code]

[2018-05-08 16:41] danginsburg opened #2654 "VK_EXT_debug_utils - missing object names in cases where they could be added"
I've hooked up my engine to VK_EXT_debug_utils.  For a while I have been using debug_marker extension with Renderdoc to name resources including images, buffers, and shader modules.  I noticed after hooking up to VK_EXT_debug_utils that there are cases where object names could easily be provided for shader modules, but are not done.  For example:

[code]

Looking at where these messages originate

[2018-05-08 16:50] MarkY-LunarG commented on #2654
Since this is a validation layer item, I'm assigning it to @mark-lunarg, he can re-assign it as necessary.  Thanks @danginsburg for the suggestion.

[2018-05-08 17:26] daveh-lunarg commented on #2136
Jumped the gun closing this one - found a problem with recording 3D image layout via a 2D imageview.  Re-opening and will close with a PR.

[2018-05-08 17:55] fduranleau-gl commented on #2653
Right, I did miss that part of the spec. The situation comes from a sample using our engine that worked fine with GL and Metal. We hit this while porting to Vulkan (we would need to use an input attachment and multiple subpasses). That being said, the problem remains. I still expect to get an error to be reported when I use a secondary command buffer, whether that error is a conflict of layout or

[2018-05-08 22:22] tobine opened #2657 "Script to summarize CI test results across all device profiles"
Currently there are a number of tests (10ish) that are skipped on all device profiles in CI. The current giant scrawl of results across 7 device profiles makes it difficult to recognize gaps like this.
To simplify test result analysis, I'm recommending adding a script that will parse the results across all device profiles and then print a summary for each test that tells how many times it passed a

[2018-05-08 22:37] cdwfs opened #2658 "VK_IMAGE_CREATE_EXTENDED_USAGE_BIT not referenced in VU checks"
I don't have a specific error in mind here, but it seems alarming that VK_IMAGE_CREATE_EXTENDED_USAGE_BIT isn't used in any image / image view validation checks.

For reference, here's the entirety of what the spec says about this bit:

Definition:

Before VUs for VkImageCreateInfo:

Based on that second quote, it sounds like the bit should be used to select which usage flags are checked further d

[2018-05-08 23:38] daveh-lunarg commented on #2658
I'm a bit confused by this.  There was some minimal support for EXTENDED_USAGE as of PR #2567, but it looks like it was stripped out by the 1.1.73 header change PR #2585.  Looking into it.

[2018-05-09 08:20] NorbertGarnysAMD opened #2659 "Loader 1.1.73 - Null pointer dereference in loader_read_json_layer()"
Following code in loader_read_json_layer() (loader.c:2840 and more)
[code]
can result in reading from 0x0 when cJSON_Print() return null pointer which is possible as it uses dynamic allocation internally.
This can be triggered with dEQP-VK.api.object_management.alloc_callback_fail.instance.

[2018-05-09 09:37] DominikWitczakAMD opened #2660 "Releasing a fence, whose payload has been exported to an external handle using reference transference and later imported to >=1 fences, does not trigger any warning"
Releasing such a "master" fence whose payload is being used by other active fence instances within a process renders remaining fences either hopelessly useless (in case of permanent import) or useless until reset (in case of temporary import). In case of the former, this probably deserves a warning.

[2018-05-09 10:00] neXyon opened #2661 "Validation Layer error for geometry shaders with the VK_NV_geometry_shader_passthrough extension enabled"
I get the warning

[code]

during the call to `vkCreateShaderModule` when I use a geometry shader with

[code]

and I have the extension `VK_NV_geometry_shader_passthrough` enabled. The compiled shader then contains the PassthroughNV (5250) decoration in accordance with https://www.khronos.org/registry/spir-v/specs/1.0/SPIRV.pdf which is seen as invalid.

Everything works fine, but the warning sho

[2018-05-09 11:56] fduranleau-gl commented on #2641
There certainly is a cost. Maybe it could be an opt-in feature?

[2018-05-09 16:44] chrisforbes commented on #2661
Yes, this needs a bug filed in SPIRV-Tools.. we'll likely have some tidying up in LVL to do after SPIRV-Tools fixes their side though, so keep this bug open also.

[2018-05-09 16:51] chrisforbes commented on #2591
@aguaviva if that was directed at me, the mail didn't show up...

[2018-05-09 17:01] neXyon commented on #2661
Ok, I opened an issue there as well: https://github.com/KhronosGroup/SPIRV-Tools/issues/1553

[2018-05-09 17:27] mark-lunarg commented on #2591
@chrisforbes, I have the email.  If @aguaviva says it's OK I will forward it, or he can resend it to you.  Either way, I am swamped for the next week or so (sorry!).

[2018-05-09 20:47] tobine opened #2663 "Add Mock support for gpdp2 functions that are now core"

[2018-05-10 00:47] cdwfs opened #2665 "Validate non-attachment uses of attachment image memory"
The spec states in [section 7.3 Framebuffers](https://www.khronos.org/registry/vulkan/specs/1.1-extensions/html/vkspec.html#_framebuffers):

This requirement is not currently enforced by the validation layers, and the resulting bugs can be quite time consuming to track down.

A decent (but certainly non-exhaustive) start would be to add a check to ensure that none of the images bound as descriptor

[2018-05-10 16:40] Tony-LunarG opened #2667 "CMake errors building LVL"
There are CMake errors that result from CMake looking for pthread_create and secure_getenv in build/CMakeFiles/CMakeError.log.  While these don't prevent anything from building, when things do go wrong they are sometimes a distraction from the real issue.  We have had them reported in multiple issues, most recently in VulkanSamples, as the cause of compile failures, when the real cause was somethi

[2018-05-10 16:45] Tony-LunarG commented on #2667
Logfile from building today's master.
[CMakeError.log](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/files/1992458/CMakeError.log)

[2018-05-10 17:10] #2331 closed

[2018-05-10 17:10] #2629 closed

[2018-05-10 17:10] #2659 closed

[2018-05-11 07:02] neXyon commented on #2661
The issue in SPIRV-Tools has been fixed already.

[2018-05-11 07:28] AndreasReiten opened #2669 "Using the new subgroup extensions in Vulkan 1.1 causes validation error"
Alongside the Vulkan 1.1 core subgroup functionality, a new GLSL extension GL_KHR_shader_subgroup was introduced. Using any functionality from this extension results in this validation layer error message upon shader creation with vkCreateShaderModule:

However, shaders using subgroups still seem to work correctly. I have confirmed that subgroup extensions are supported by my Vulkan logical device

[2018-05-11 16:42] Whenning42 opened #2670 "Validation layers print errors when creating a device using supported device features from extensions"
Creating a device with supported physical device features added by extensions prints errors. It looks like the validation layers are currently only tracking physical device features returned from a call to vkGetPhysicalDeviceFeatures, and so the layers think any physical device features added by extensions are unsupported.

An example of this is that running the following code using the testing fr

[2018-05-11 16:55] #2136 closed

[2018-05-11 16:59] mark-lunarg commented on #2533
**UPDATE:**
This repository is slated to **close for write access** on **Sunday, 5/13/2018**.

- Existing **Issues** will be migrated to the appropriate follow-on repositories (Vulkan-Tools, Vulkan-Loader, or Vulkan-ValidationLayers).
- Any open **pull requests** will need to be manually moved after Sunday Morning.  Each PR owner will also be notified separately.

[2018-05-11 19:23] danginsburg opened #2672 "VK_EXT_debug_utils implementation has threading bug(s)"
Using VK_EXT_debug_utils with dota I am frequently getting stuck in an infinite loop inside of vkCmdBeginDebugUtilsLabelEXT and vkCmdEndDebugUtilsLabelEXT.  It is intermittent, and when it happens, the call stack looks something like this:

[code]

In object_tracker.cpp, the global lock is released before calling EndCmdDebugUtilsLabel.  That function does find/insert into report_data->debugUtilsCm

[2018-05-14 04:01] mark-lunarg commented on #2533
UPDATE:
This repository is now read-only.  Issues have been migrated to the follow-on repositories listed below.  Pull Requests in this repository will need to be resubmitted in the new repositories.

- Vulkan-Headers
- Vulkan-Loader
- Vulkan-ValidationLayers
- Vulkan-Tools

[2018-05-14 14:42] mark-lunarg commented on #1250
This issue will be Migrated to the Vulkan-Tools repo.  Closing.