[2017-05-01 23:25] jjulianoatnv commented on #1726
Also, I'm unclear if the IHV's ICD failed to init, or if the ICD is missing from the file system yet the registry key and/or .json is still present. Both failure modes are possible.

[2017-05-01 23:39] MarkY-LunarG commented on #1726
@jjulianoatnv, I believe #1681 should resolve the 2 items you explicitly mentioned.  Also, I believe the logic is already in place to do the same for layers.

I have seen cases where the ICD fails to handle the calls properly if both the JSON and library file are present, but nothing actionable here for now.

[2017-05-02 13:49] tobine commented on #1724
Yes, these are a bit outdated and come from the time when all layers were separate.
DS = Draw State
DL = Device Limits
MEM = Memory

We'll soon have string-based unique IDs that may make sense here in addition to unique enum. Those may make sense in this field.

I'll discuss this with LunarG and we'll work out something more sane.

[2017-05-02 16:30] #1655 closed

[2017-05-02 21:50] lenny-lunarg commented on #1662
As far as I can tell, this appears to be a driver bug. As the error message indicates, the problem is that `vkCreateSwapchainKHR` is returning the error `VK_ERROR_INITIALIZATION_FAILED`. The failure is occuring in the driver, which passes the failure to the loader in `terminator_CreateSwapchainKHR` and the loader just propagates the error back to the program.

This could still be a loader bug if t

[2017-05-02 21:50] #1662 closed

[2017-05-03 13:37] vliaskov commented on #1679
Yes, it looks like a radv bug, and not a loader bug. Stack with master vulkaloader segfaults at same location as before (in radv driver):

 (gdb) bt
#0  0x000000000001e006 in ?? ()
#1  0x00007fffedcc7e42 in radv_lookup_entrypoint (name=<optimized out>) at radv_entrypoints.c:933
#2  0x00007ffff796e2bb in loader_scanned_icd_add () from /home/vliaskovitis/Vulkan-LoaderAndValidationLayers/loader/libvu

[2017-05-03 14:55] #1712 closed

[2017-05-03 21:03] lenny-lunarg commented on #1707
Like you said, `VKstatic.1.lib` is a statically linkable version of the Vulkan loader. Unfortunately, we don't have much documentation on the static version of the loader. This is because in general it's far better to use the dynamic loader. The dynamic loader will find new extensions as they are released, and will get bug fixes over time. On top of that, Vulkan compatible drivers install the dyna

[2017-05-03 22:02] gigadude commented on #1707
Thanks for the info, I ended up dynamically loading the vulkan-1.dll myself. We have a situation where a client dll supports multiple APIs and we don't want to force an app which is not using Vulkan to require the loader dll. It would be nice if there was a statically-linked shim version of vulkan-1.lib which dynamically loaded the newest compatible vulkan-1.dll on first use.

[2017-05-03 22:04] MarkY-LunarG commented on #1602
Ok.  I added it directly to the source file (not via CMAKE) in commit 44a918406c3baebe4e3ab911f91cf4d13642ea67.  This should resolve your last issue.

[2017-05-03 22:04] #1602 closed

[2017-05-04 05:31] 10110111 commented on #1602
Thanks, it did resolve it.

As for why some platforms require it while others don't, this mess seems to be the fault of the standard committee: see the comment thread to [this answer at StackOverflow](http://stackoverflow.com/a/8132440/673852).

Most recent glibc doesn't require this macro, while my 2.14.1 does.

[2017-05-04 15:33] nvining-work commented on #1693
Attached. FYI someone else in the team hit the same issue over here with vkGetInstanceProcAddr() and vkCreateXcbSurfaceKHR not being hooked correctly unless we made the same change.

[test_case_layer3.tar.gz](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/files/976675/test_case_layer3.tar.gz)

[2017-05-04 18:25] MarkY-LunarG commented on #1693
Thanks, I'll take a look at it today.

[2017-05-04 18:29] cdwfs opened #1736 "VkPipelineTessellationStateCreateInfo sType is not validated"
I expected to find a validate_struct_type() for it in parameter_validation.h, but no such luck. It looks like other optional pipeline state structs (like pDepthStencilState) are handled manually in parameter_validation.cpp; should I add checks for tessellation state there as well, or would it be better to fix the codegen script?

[2017-05-04 18:37] tobine commented on #1736
My recommendation is adding manual check in parameter_validation.cpp

[2017-05-04 19:05] cdwfs commented on #1736
Oops, please disregard, it's already there. Nothing to see here.

[2017-05-04 19:05] #1736 closed

[2017-05-04 19:59] lenny-lunarg commented on #1714
As far as I can tell, the loader seems to be fine for remote desktops. I tried debugging this, and I'm seeing the exact same error you reported, but the error is coming from the Nvidia driver. As a result, I can't really debug past physical device enumeration so I can't guarantee that everything else will work. But the immediate issue you reported is coming from the driver. If you can find a drive

[2017-05-04 20:17] danginsburg commented on #1714
@jjulianoatnv Would you be able to look at this?

[2017-05-04 22:28] jjulianoatnv commented on #1714
@danginsburg Yes, I'll take a look from inside the NV ICD.

[2017-05-04 23:46] lenny-lunarg commented on #1707
Generally, the idea is that `vulkan-1.dll` is already supposed to be the component that's responsible for loading the Vulkan functions, so adding another library into the process would be redundant. If you want to dynamically load `vulkan-1.dll`, you can do that, you'd just have to manually load each function's address as [described here](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationL

[2017-05-04 23:46] #1707 closed

[2017-05-05 13:53] mark-lunarg commented on #1612
From @Tony-LunarG: Assuming that the 99% common workflow is [BeginCommandBuffer; write commands to command buffer; EndCommandBuffer], it would be nice to warn developer if the code is recording two command buffers simultaneously. Would also need to validate assumption about workflow. Note that it needs to be thread smart since we expect multiple threads to be recording multiple command buffers sim

[2017-05-05 14:34] baldurk opened #1739 "Validate that codeSize is a multiple of 4 for SPIR-V"
Unless the application is using `VK_NV_glsl_shader` (which hopefully no-one is, but it's easy to handle if they do) the `VkShaderModuleCreateInfo::codeSize` member should be a multiple of 4, since it's a byte count of a stream of 32-bit words.

It would also be nice to validate that the SPIR-V is legal too, but that's obviously a larger task.

[2017-05-05 14:41] krOoze commented on #1683
#1738 and #1727 also remove from `swapchain` layer.
Not much more to go...

[2017-05-05 15:49] #1411 closed

[2017-05-05 17:46] mark-lunarg opened #1741 "Validation complains if descriptor sets containing only immutable samplers are not updated"
Consider the case where a descriptor only has immutable samplers, and a descriptor set is still created because it's required even though it doesn't need any updates as it doesn't describe any bindings and all the samplers are immutable and specified in the layout.  Validation currently complains (incorrectly so) that the descriptor set is not written/updated before use.

[2017-05-05 19:30] MarkY-LunarG commented on #1693
Commit 2bf5906ac1244fc9ab9b294845f59c0b51389f44 should fix your issues with the loader.

As a word of caution, I still believe that you need to at least expose "vkGetDeviceProcAddr" from your vkGetInstanceProcAddr call because a layer above yours may call that.  A layer should use the chain info passed to it during vkCreateDevice, but I don't think we can guarantee that will be the case. I checked

[2017-05-05 19:30] #1693 closed

[2017-05-05 19:31] MarkY-LunarG commented on #1726
@nsubtil, have you verified that the fix for #1681 either did or did not fix your issue?

[2017-05-05 19:34] MarkY-LunarG commented on #1679
Ok.  I'll close this now.  There was an issue where an invalid driver install could cause problems (Issue #1681).  But that was fixed and so I think the remaining issue is a RADV bug.  Please feel free to re-open this if you discover otherwise.

[2017-05-05 19:34] #1679 closed

[2017-05-05 21:35] nvining-work commented on #1693
Marvelous. Thanks - and yeah, that one makes sense, just not the "I have to hook myself" bit. :)

[2017-05-05 21:43] #1709 closed

[2017-05-08 17:47] chrisforbes commented on #1739
We already pass the module through the SPIRV-Tools validator. It looks like we lost the multiple of 4 size validation when we put that in, and they can't implement it on their side, since they take the size as a count of words rather than of bytes. Can put that back in on our side.

[2017-05-08 20:19] #1741 closed

[2017-05-08 21:14] lenny-lunarg commented on #1661
Sorry for the delay in getting to this, but this is now fixed in commit 69677ced237b0d6c0f651cc7a0e2a9b3c648f1dd.

The problem was actually that the instance extension dispatch table was missing any commands from device extensions. But any device command that uses a physical device as the dispatchable object is treated by the loader as an instance command. As a result, any physical device commands

[2017-05-08 21:14] #1661 closed

[2017-05-09 11:38] tjaalton opened #1747 "demos/smoke should check for libvulkan.so.1 instead of libvulkan.so"
This would allow installing it along with the library, without the development symlink.

[2017-05-09 19:05] MarkY-LunarG commented on #1620
Meta-layer support is now in as of commit 227aa781e1bd1c485332025c2fc32fb88a15c2fb.  We chose not to do a different folder `MetaLayers` because we wanted to support both `ImplicitLayers` and `ExplicitLayers` meta-layers.  These changes also include support for nested meta-layers, however, I've only tested one meta-layer inside another (so one level deep).

[2017-05-09 19:05] #1620 closed

[2017-05-09 21:06] krOoze opened #1752 "Layers show false-positive when using VK_REMAINING_MIP_LEVELS"
Layers are issuing false positive error when using `VK_REMAINING_MIP_LEVELS` on `vkCreateImageView`:

I am already working on a PR for this...

[2017-05-10 17:13] mark-lunarg commented on #1739
Fix pushed to Master -- Thanks for the report!

[2017-05-10 17:13] #1739 closed

[2017-05-10 17:33] chrisforbes opened #1754 "Housekeeping: split up layer_validation_tests.cpp"

[2017-05-10 17:37] jeremy-lunarg commented on #1754
Any thoughts/opinions on the dissection?

[2017-05-10 18:25] MarkY-LunarG commented on #1307
Transferring from Karl to Lenny.

[2017-05-10 18:48] martty opened #1756 "Execution of secondary command buffer in the initial state crashes validation"
If you allocate and execute a secondary command buffer without ever recording into it, the validation code looks into VkCommandBufferInheritanceInfo inside the VkCommandBufferBeginInfo during vkCmdExecute without checking the pointer for null (core_validation.cpp:9457), causing a crash.

Per the spec: "Any given element of pCommandBuffers must be in the pending or executable state.", so this is de

[2017-05-10 18:50] MarkY-LunarG commented on #1675
I am not seeing the behavior you're talking about here:

buf_size -= 5;
// This prints 'hous', which is correct.
printf("%s\n", a.buffer1);

If I do this:
[code]
I correctly get "INFO" printed out.  Additionally, if I concatenate the messages, they still appear correct.

[code]

For example:
[code]

[2017-05-10 19:33] MarkY-LunarG opened #1757 "Make sure VLs report proper EXT_debug_report revision"
EXT_debug_report has been updated.  Make sure we properly report the valid version of the extension that we support in all layers (including the JSON files).

[2017-05-10 20:02] chrisforbes commented on #1754
I was going to start with:

- ErrorMonitor on its own.
- CreatePipeline* (all the SC checks) together in their own file

[2017-05-11 15:24] MarkY-LunarG commented on #1757
FYI, I looked, and the Spec is at version 5, but the spec registry lists it at version 4.  I'm going to resolve that first, and then I'll update this.

[2017-05-11 15:26] MarkY-LunarG commented on #1726
@nsubtil , I plan on closing this issue next week if I don't hear back from you.  I believe all these issues are resolved, but I would like to hear back from you just to be sure you're not continuing to have problems.

[2017-05-11 21:30] #1720 closed

[2017-05-11 22:06] MarkY-LunarG commented on #1757
Fixed with commit 574b9590001be3e2d34c70c8def30a952a6d5492.

[2017-05-11 22:06] #1757 closed

[2017-05-12 17:05] #1747 closed

[2017-05-15 16:15] mark-lunarg commented on #1756
@martty  -- what version of the layers are you using (from an SDK maybe)?  I tried a test case and get a validation error that says I have to call EndCommandBuffer on the secondary CB before calling CmdExecuteCommands (and no crash).  This is on Master.  I'll look into adding a null ptr check in any case.

[2017-05-15 16:30] martty commented on #1756
Thanks for looking into it. It is on Master, but it seems since then the line numbers moved, I am sorry for linking it incorrectly. The crash happens on https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/f25d461667ca2db55147d2be49f179945edf24db/layers/core_validation.cpp#L9568 .
Does the Primary CB have an active RenderPass? I seems to me from the code that the dereference is on

[2017-05-16 02:24] cdwfs opened #1770 "is_extension_added_token() is true for all VK_*_MAX_ENUM values"
The parameter_validation layer uses is_extension_added_token() checks for inputs larger than ExtEnumBaseValue to see whether an enum value was added by an extension (and can thus safely be outside of [VK_xxx_BEGIN_RANGE  ... VK_xxx_END_RANGE]. However, the special value VK_xxx_MAX_ENUM is always defined to be 0x7FFFFFFF, and is thus treated as an extension-added token. This means MAX_ENUM can be p

[2017-05-16 12:27] krOoze opened #1771 "Failing tests"
I have a few tests that are failing on my platform:
Intel i5-3340, Windows 10 Pro N 1703 x64, AMD R9 280X 17.5.1

I build like this (from VS2017 developer prompt):

    update_external_sources.bat --all
    build_windows_targets.bat 64

When I run `build/tests/run_all_tests.ps1`:

1) I get only some 38 tests, not "all". Apparently only `vk_loader_validation_tests`

2) I get
[code]

When I run `VUL

[2017-05-16 14:54] mark-lunarg commented on #1770
This came up yesterday in a user complaint about validation.  I would vote for some kind of easy fix to start with just to have the thing sooner rather than later.

[2017-05-16 15:11] cdwfs commented on #1770
Okay, I'll submit a PR this morning.

[2017-05-16 19:05] MarkY-LunarG commented on #1726
Just fixed another issue with a bad driver install discovered by Pierre-Loup @ Valve.  We had been using dlopen with RTLD_LAZY which would not validate all the ICD symbols at load time.  This resulted in the loader failing at an un-recoverable time.  Based on his suggestion, we've switch to RTLD_NOW to resolve this.  All fixes are in as of commit 0345b8925d79e175a000ff7c87b7a82bd5e91ff0.  I'm clos

[2017-05-16 19:05] #1726 closed

[2017-05-16 21:28] randomascii commented on #1675
In your first example with "INFO" I agree that that code will work fine. However any *subsequent* use of that strncat pattern will fail, because (assuming a four-byte buffer)  that code leaves cmd_line_size set to 0xFFFFFFFF, meaning that subsequent calls to strncat are unbounded.

Now I know that you'll say that having a four-byte buffer is the problem. Sure. But my point is that your use of strn

[2017-05-17 00:10] gwihlidal commented on #1549
Any update on this? We're hitting this error in many of our shaders.

[2017-05-17 08:02] huhtanen opened #1778 "VkCommandBufferInheritanceInfo not allowed to have NULL VkFramebuffer"
Vulkan spec explicitly allows the 'framebuffer' member of VkCommandBufferInheritanceInfo to be VK_NULL_HANDLE, but debug validation layers seems to assert that it is not null.

Latest Vulkan spec (1.0.49) has this to say about VkCommandBufferInheritanceInfo structure:

However, in below code snippet validation layer seems to assert that the 'framebuffer' member is not NULL:

The above snippet was

[2017-05-17 16:56] Dolphiniac opened #1780 "Validate resetting a secondary command buffer before the primary buffer is submitted"
Hi, I just spent a few days chasing down a bug with the lovely folks making RenderDoc.

The issue was that I had recorded secondary command buffers for draw commands, called vkCmdExecuteCommands with my primary buffer, but before I submitted the primary buffer, I reset and re-recorded in the executed secondary buffers.

More specifically, I did a depth prepass with the secondary buffers, then call

[2017-05-17 20:32] jeremy-lunarg opened #1781 "VkLayerTest.VALIDATION_ERROR_01412 fails on AMD"

[2017-05-17 21:43] lenny-lunarg commented on #1714
@jjulianoatnv, have you had a chance to look into this yet? I'd like to close this issue, but I'm not confident that we won't discover loader issues once the driver issue I described above is fixed. As a result, I'd like to get a driver that is working so I can verify that the loader is behaving

[2017-05-17 21:56] krOoze commented on #1781
I also list this issue in #1771.

[2017-05-18 00:04] chrisforbes commented on #1780
Reproduced this:

We're very noisy about this if you just call BeginCommandBuffer the second time, but it's masked if you explicitly reset the command buffer first.

[2017-05-18 00:16] chrisforbes commented on #1780
WIP test case in `rerecord` branch. This is bringing various bits of bad behavior out of the woodwork.

[2017-05-18 15:33] mark-lunarg commented on #1756
Fixed by PR #1773.  Thanks @martty for the report and information!

[2017-05-18 15:33] #1756 closed

[2017-05-18 16:04] mark-lunarg commented on #1780
@chrisforbes, is it against the spec to reset a secondary CB (or do anything else to it) before submitting its primary CB?  If this is going to be a warning/perf warning it should be consolidated with the issues in the Assistant Layer #1612.  CmdExecuteCommands says that all secondary CBs must be in pending or executable state, but I'd assumed that was at submit-time.

[2017-05-18 16:31] tobine commented on #1780
I believe the validation hole here come from this language in 5.1. Command Buffer Lifecycle section of spec:

We should be invalidating the PrimaryCB at the time the secondary is reset, but don't currently do that.

That fix, in isolation, is straightforward, but @chrisforbes is correctly noting that this bug highlights some further limitations in how modifications to secondary command buffers pro

[2017-05-18 16:44] mark-lunarg commented on #1780
👍

[2017-05-18 17:23] lenny-lunarg commented on #1675
I see two basic claims that you're making:
1. The code could create a buffer overflow
2. The calls to `strncat` add very little, compared to calling `strcat` instead

On the first issue, I disagree. Provided that the buffer `cmd_line_msg` is larger than about 40 bytes (the length of all of the strings, combined), there is no way that this could overflow. Since the buffer is 512 bytes and this valu

[2017-05-18 17:33] randomascii commented on #1675
I'm glad we are in agreement, more or less.

I'd say that the calls to strncat (with the exception of the last one) currently add nothing, rather than very little, but that's just quibbling. I am philosophically opposed to using strncat in such a way, but not opposed enough to create a PR to use strncat 'safely' (such that the code work regardless of buffer size), so I'll shut up now.

[2017-05-18 19:24] #1675 closed

[2017-05-18 20:32] #1778 closed

[2017-05-18 21:38] chrisforbes commented on #1780
@mark-lunarg I've added some more of the untangling work to the `rerecord` branch. We're still not invalidating the primary when the secondary is reset/invalidated, but some of the surrounding mess is getting clearer.

[2017-05-18 23:20] polarina opened #1787 "Memory leaks in vkCreateInstance with standard validation layer enabled"
The following program demonstrates memory leaks in vkCreateInstance when VK_LAYER_LUNARG_standard_validation is enabled.

Tested against official Linux build of VulkanSDK 1.0.49.0 on Debian Stretch. When `enabledLayerCount` is set to to zero in the sample program, no leaks are detected by either Valgrind or LeakSanitizer.

With Valgrind:
Compile: `gcc vkleak.c -lvulkan -g`
Run: `valgrind ./a.out`

[2017-05-19 02:08] #1780 closed

[2017-05-19 15:28] mark-lunarg commented on #1771
@MarkY-LunarG, I believe Jeremy is looking at the 01412 failure but you guys can have the other two.

[2017-05-19 16:01] #1752 closed

[2017-05-19 16:45] mark-lunarg commented on #1682
Hey @mikedilger, tried to build this morning but no joy.  There seem to be a lot of moving parts here and to simplify thing maybe we could try one of these options:  1) get us a 'simple' straight Vulkan app that exhibits the issue, i.e., without the intermediate libraries; 2) Add a case to vk_layer_validation_tests that shows the problem; or 3) send us a trace and/or api_dump of  working and faili

[2017-05-19 16:57] chrisforbes opened #1788 "Housekeeping: Fold CV DRAW_DATA tracking into CB bound objects mechanism"
Currently we have parallel mechanisms here.

[2017-05-19 17:00] lenny-lunarg commented on #1787
I'm reassigning this to @jeremy-lunarg  because it looks like the leak is happening in the layers. I replaced `vulkaninfo.c` with your code since I didn't feel like compiling a separate program and then ran the program with

[code]

This gives the output:

[code]

The first leak appears to be a driver issue, which is why I see it and this wasn't reported by @polarina. But the leaks after that are

[2017-05-19 17:41] #1632 closed

[2017-05-19 17:52] #1770 closed

[2017-05-19 19:18] krOoze commented on #1771
Nr. 4 possibly a driver bug? It crashes inside driver, and If I change
[code]

to
[code]

then it works fine.

I don't see anything wrong with the original. In spec 13.1.4. Combined Image Sampler the last paragraph seems to explicitly allow it.

[2017-05-19 19:33] MarkY-LunarG commented on #1771
Created a fix for the loader issues in #1792.  The layer issues are in another bug so once the PR passes the checks I'll commit can close this issue.

[2017-05-19 19:34] MarkY-LunarG commented on #1771
@krOoze, have you run your shader issue through SPIR-V validator?  I would open a new issue for this, and include a callstack to the failure.  We do very limited SPIR-V work in the layers (none in the loader) so it's likely a driver bug, but I can't say without more info.

[2017-05-19 19:44] chrisforbes commented on #1771
4 looks like a driver bug. The spec explicitly allows this.

Mark, we run the shader module through the validator at CreateShaderModule
time, so anything it can find should be reported by the layers.

On Fri, May 19, 2017 at 12:34 PM, Mark Young <notifications@github.com>
wrote:

[2017-05-19 19:56] MarkY-LunarG commented on #1771
Ok.  I just pushed a fix for the loader bug.  @mark-lunarg, was everything else covered by another issue?

[2017-05-19 20:34] jeremy-lunarg opened #1793 "Setting VK_ICD_FILENAMES causes environment variable path test failure"
If I set `VK_ICD_FILENAMES` (e.g. `/etc/vulkan/icd.d/nvidia_icd.json`), then the Environment Variable Path Test in `run_loader_tests.sh` will fail. I don't believe this is intended behavior, but I may be mistaken.

[2017-05-19 20:44] krOoze commented on #1771
@MarkY-LunarG I still get nr. 2 even after that commit

yes, tried that also. It compiles, and the human readable form does look to me like some amalgamation of Sampler and Sampled Image examples from the spec.

[2017-05-19 23:19] krOoze commented on #1771
Nr. 2 possibly also driver bug.
The driver seems to return `VK_SUCCESS` with `count=0` from `vkEnumeratePhysicalDevices` when alloc inside it fails.

[2017-05-22 10:22] MaciejJesionowskiAMD opened #1797 "get_format_type() doesn't handle S8_UINT"
I think there's an error in get_format_type() function in core_validation.cpp. For stencil-only format it resolves to a floating-point format type rather than an uint. It leads to this error message:

Looks like none of the utility functions in there take S8_UINT into account.

[2017-05-22 11:31] scyganINTEL opened #1798 "buffer_validation: wrong vkCmdClearAttachment [baseArrayLayer, baseArrayLayer + layerCount] range validation"
This is a validation check from master version of buffer_validation.cpp:
[code]
The `if`-condition is wrong, it interprets [baseArrayLayer, baseArrayLayer + layerCount] as if counted from the layer 0 of VkImage. However spec says:

This check should be re-formulated, to check if both `pRects[j].baseArrayLayer` and `pRects[j].baseArrayLayer + pRects[j].layerCount -1` are less than `create_info.subr

[2017-05-22 19:27] daveh-lunarg commented on #285
These checks are in validation with PR #1796, and are mip-level aware.

[2017-05-22 19:27] #285 closed

[2017-05-22 21:49] daveh-lunarg commented on #1797
Fixed in PR #1802.

[2017-05-22 21:49] #1797 closed

[2017-05-23 00:05] mikedilger commented on #1682
I've just stripped out the networking stuff and the unused 'sarek' and 'siege-gui' crates, in order to get closer to "A simple straight Vulkan app".

I fixed the compilation issue (ring crate was yanked due to a security issue).
I think it should work again.

How do I get an api dump?  I remember doing that once, but google is being especially unhelpful right now.

[2017-05-23 15:42] daveh-lunarg commented on #1798
Agreed, and nice catch!  Fixed in PR #1803.

[2017-05-23 15:42] #1798 closed

[2017-05-23 16:16] mark-lunarg commented on #1682
@mikedilger , thanks for the update -- we have been able to reproduce the issue here.  Trying to rule out driver issues first.  So far, it seems we only get visible output with no layers, or with just parameter_validation.

[2017-05-23 17:02] mark-lunarg commented on #1682
@mikedilger, we duplicated the behavior on an Intel system, so it's less likely to be a driver issue. Our next two cool ideas were that it might be a thread synchronization problem -- can you combine your window and graphics threads to see if that makes a difference?  And we are unable to tell if XInitThreads was called before XOpenDisplay, which could be very important.  Let us know and we'll go

[2017-05-23 19:07] ratchetfreak opened #1807 "Give error when requesting device extensions on instance creation and vice versa"
It's a pretty common mistake I see by newcomers.

[2017-05-23 21:03] mark-lunarg commented on #1807
Added to existing placeholder issue #1612.  Thanks!

[2017-05-23 21:03] #1807 closed

[2017-05-23 22:27] daveh-lunarg commented on #286
It looks like this check is in place, in buffer_validation.cpp.  VU 01184.

[2017-05-23 22:27] #286 closed

[2017-05-24 19:22] mark-lunarg opened #1810 "Add Validation Checks for Extension Dependencies"
Many extensions require that other extensions must be enabled.  Add validation checks to enforce these requirements.

[2017-05-24 20:44] mark-lunarg commented on #1810
This is in-work.

[2017-05-24 22:53] chrisforbes opened #1812 "VkLayerTest.CopyImageTypeExtentMismatch dies if KHR_maintenance1 is not supported"
Like so:

[code]

Blindly including the extension string causes device creation to fail, and things go poorly after that.

[2017-05-24 23:48] mikedilger commented on #1682
I've combined the graphics and window threads.  That did not make a difference.

I've updated to the newest `winit` crate as it had some x11 related bugs, but it made no difference.

As for XInitThreads and XOpenDisplay, the code in winit looks like this:
[code]

[2017-05-25 16:23] mark-lunarg commented on #1682
@mikedilger, bummer.  To speed things up and get some smarter folks involved, can you please add @jeremy-lunarg and @Tony-LunarG to your private repo?

[2017-05-25 17:20] chrisforbes opened #1817 "Tests: make spirv assembler available"
There are a number of interesting spirv cases which glslang doesn't generate, but other toolchains can be expected to. We need to be able to write some tests in spirv assembly to exercise these.

[2017-05-25 17:23] chrisforbes commented on #1812
Either:
- create another device for the test guts, which tries to enable the extension iff we've established that it exists, (preferred?) or

- Split the KHR_maintenance1 cases into a separate test where they can be skipped together if the extension isn't supported.

[2017-05-25 20:56] mikedilger commented on #1682
done

[2017-05-26 23:03] jeremy-lunarg commented on #1682
Interesting. If I set breakpoints on both occurrences of get_physical_device_properties, I can make known bad configurations behave correctly. And, coincidentally, I noticed in api-dumps of known good configurations that there are three calls to get_physical_device_properties (as opposed to two). Getting closer...

[2017-05-27 00:28] chrisforbes opened #1827 "Tests: fix general confusion about supported vs enabled extensions"
Various tests check for the physical device supporting an extension to gate some piece of logic, but don't bother to actually enable it.

[2017-05-27 00:29] chrisforbes commented on #1812
Possibly ties into #1827 a bit

[2017-05-27 06:12] mikedilger commented on #1682
I shouldn't have been calling it twice, and I just pushed a commit to call it only once.  I can't test it because I'm on FreeBSD at the moment.

[2017-05-27 16:47] mark-lunarg commented on #1827
I am actually fixing this now.  Added validation for enabled extensions and now get 500+ unexpected errors in the LVT.

[2017-05-29 23:07] daveh-lunarg commented on #1812
The intention here was as Chris' first bullet: check for existence of KHR_maintenance1, enable it if offered, and modify the test behavior to match.  This test fails on our Android farm just as Chris listed above. I talked to Cody before pushing the PR, and thought I understood that the test was passing on Google's farm, so assumed it was a local issue here. The check/enable code comes verbatim fr

[2017-05-29 23:38] chrisforbes commented on #1812
`Maintenance1Tests` worked because it skipped the test completely before trying to use the device it failed to create.

[2017-05-30 15:07] cnorthrop commented on #1812
The test is failing on Ubuntu using mesa, not Android.  LunarG should probably hook that up.  Paging @Tony-LunarG.

[2017-05-30 16:20] daveh-lunarg commented on #1812
Ok.  It's still not clear to me why it works in Maintenance1, because the CreateDevice() in InitFramework() happens the same way in both.  But, it's not integral to this test so I'm just going to remove it for now to close this issue.

And do some more thinking about how to deal with extension-specific testing...

[2017-05-30 19:11] MarkY-LunarG commented on #1649
Fixed with commit db3f7b829bf5bb5e5288b48e9578663e1dfd8306.

[2017-05-30 19:11] #1649 closed

[2017-05-30 20:43] daveh-lunarg commented on #1812
Should be resolved with PR #1831.

[2017-05-30 20:43] #1812 closed

[2017-05-30 21:57] cnorthrop commented on #1812
Yes, the test passes on mesa now.  Although it crashes in the driver later in VkPositiveLayerTest.ClearDepthStencilWithValidRange, which @chrisforbes has already debugged.

[2017-05-31 10:56] RippeR37 commented on #1685
@jeremy-lunarg I was using standard LunarG meta-layer in 1.0.42.2 VulkanSDK so I assume it is.
I didn't use any dynamic state there, it was simple demo.

Maybe at least warn if `*Count` is bigger then 0 and pointer to array is `nullptr`? If indeed standard is allows such usage, maybe it really is a drivers fault. Though I don't think that using it that makes any sense, so warning might be a good o

[2017-05-31 20:40] #1810 closed

[2017-06-02 09:33] qnope commented on #1146
That is why I open this issue aejsmith ;)

[2017-06-02 09:50] aejsmith commented on #1146
Right, but the later comments seem to imply that the validation layers shouldn't be warning any more. But, a git build as of 2 days ago still warns, so I was looking for some clarification.

[2017-06-05 22:44] daveh-lunarg commented on #1827
Just put up PR #1843 that at least partially addresses this issue.  I don't think it helps with Mark's 500+ errors.

[2017-06-05 22:59] mark-lunarg commented on #1827
The errors manifested if you tried to verify at getprocaddress time, which is a bad idea.  Shifted to doing this at entrypoint-call-time.

[2017-06-06 02:20] mikedilger commented on #1682
Any progress?

I think get_physical_device_properties() would have been called on each physical device in a loop, and then prior to my last commit, one more time in the renderer for setting up the memory allocator.  With 2 devices, you would expect 3 calls from only 2 code points.

If breakpoints themselves can cause rendering to come back, ... maybe it is a memory alignment issue?

What I notice

[2017-06-06 23:02] mikedilger commented on #1682
When it doesn't render, I noticed in the api_dump the results from getPhysicalDeviceMemoryProperties() are quite different - instead of mostly being HOST_COHERENT and HOST_CACHED bits, its mostly DEVICE_LOCAL and LAZILY_ALLOCATED.  I thnk there is a bug in there somewhere.

[2017-06-06 23:53] jeremy-lunarg commented on #1682
I have spent a decent amount stumped on this one. :weary:

I did several diffs using api_dump and ltrace. Also did some heap checking with Valgrind. Everything "appears" reasonable. Then, I tried the layers with the demos that come with vulkano. They worked as expected. My gut feeling is there's some memory stomping going on your application. But, of course, now that I say that we'll probably find

[2017-06-07 00:00] jeremy-lunarg commented on #1682
This ended up being my inexperience with Rust debugging. Not a real observation. Sorry about that.

[2017-06-07 00:07] mikedilger commented on #1682
Thanks Jeremy and Mark for looking into this. I've been rebuilding my engine, partly because of this bug, partly to switch to a different system level library (dropping ash, choosing vks... still not using vulkano as it's still too immature) and also I know vulkan better now.

So maybe this just remains a mystery for now (until I get curious again).

[2017-06-07 00:08] jeremy-lunarg commented on #1682
I'm still curious. :wink:

[2017-06-07 01:01] chrisforbes opened #1846 "Bad memory behavior in ExceedMemoryAllocationCount"
Valgrind is very unhappy about this test:

[code]

[2017-06-07 19:21] chrisforbes commented on #1846
Possible that this was a driver issue. The machine I saw it on was running nvidia-367.55; after updating it to nvidia-381.22, valgrind is clean.

[2017-06-07 19:33] mark-lunarg commented on #1846
@chrisforbes, I think there **is** an issue -- this tests loads a layer containing an extension, and the loader has been relying on some extremely sketchy assumptions which break down in this corner-case.  It dies every time in some 32-bit environments and is indeterminately failing on even 64-bit builds.  Anyway, it is a loader issue and @lenny-lunarg is looking at it.

[2017-06-07 20:22] chrisforbes commented on #1846
Alright then, reopened :)

[2017-06-07 20:25] mark-lunarg commented on #1683
@chrisforbes, if this is in progress please let me know.  I'd rather kill this layer than to update the procmap stuff, if that's alright.

[2017-06-07 20:35] MarkY-LunarG commented on #1683
We really can't just remove a layer anymore, can we?  I thought this was something Karl brought up, if an application calls an old loader and attempts to use VK_LUNARG_standard_validation, it will look for this layer because that was hard-coded in the older layer.  So, we need to keep a stub around just for that.  We can remove it from the new VK_LUNARG_standard_validation.json files, though.  Tha

[2017-06-07 20:43] mark-lunarg commented on #1683
I don't see why swapchain is materially any different than mem_tracker, shader_checker, device_limits, image, draw_state, or param_checker.

[2017-06-07 21:10] lenny-lunarg commented on #1846
To elaborate on what @mark-lunarg said, we found a loader issue in this test, where unknown physical device extensions rely on the compiler performing tail call optimizations, and the compiler wasn't performing that optimization, even when set to perform all optimizations. This was definitely the problem on Windows 32-bit, and it wouldn't surprise me if your problem is the same. But I'll look into

[2017-06-07 21:28] krOoze opened #1848 "layers: Code should adhere to RAII"
There's bunch of memory management problems (#1787) and reviewing maze of raw news and deletes is nontrivial (#1841) for puny humans.

I think the layers should make use of the advantages (modern) C++ has to offer and try a RAII approach.
It may also potentially help with making the locking of the layer state more systematic.

I want to experiment with this myself, so I would appreciate informatio

[2017-06-07 21:50] chrisforbes commented on #1848
@krOoze no objections. Very slowly heading in that direction already-- feel free to speed it up.

[2017-06-07 21:52] chrisforbes commented on #1683
This is only a problem if people are mixing loader & bundled layers from different sources. This shouldn't really happen. Would be different if we were talking about breaking third-party layers.

[2017-06-07 22:19] tobine commented on #1848
@krOoze I'd classify the "design and concerns that lead to the current approach" as "get as many checks in and working as quickly as possible prior to Vulkan 1.0 release." :)

As @chrisforbes said, work is slowly proceeding to clean things up. Any assistance in this area is welcome and encouraged.

BTW, thanks for all of your contributions of both issues and PRs thus far, it's a great help.

[2017-06-08 14:28] Tony-LunarG commented on #1846
That looks like the same valgrind error I was getting during initial development on Linux, but it was accompanied by an access violation, which  @MarkY-LunarG fixed.  Apparently fixing the access violation did not fix the write/read that valgrind was upset with.

[2017-06-08 21:38] wobakj commented on #1580
This issue can be closed. I now realized that it was caused by an incorrect automated building of the DescriptorSets in my application.

[2017-06-08 23:16] karl-lunarg commented on #1669
Closing due to inactivity.

[2017-06-08 23:16] #1669 closed

[2017-06-09 01:24] chrisforbes commented on #1580
You may have had another issue with your code, but we're still doing the wrong thing in validation with specialization. This is still on my plate.

[2017-06-09 15:14] TiemoJung opened #1851 "core validation: possible image state false positive"
Hi,

we just changed some stuff in our renderer to take advantage of not needing to transfer images to their use state if the operation would replace the complete content of that image anyways. But the layer complains about the wrong layout. In our specific case, we copy our backbuffer color image into the swapchain image. The swapchain image is kept as is after it was acquired. After the copy ope

[2017-06-09 16:42] chrisforbes commented on #1851
I believe this is your bug.

Even if you don't care about preserving contents, a subresource must be transitioned to the layout you use it under. If you don't need to preserve the contents, it's always valid to specify `VK_IMAGE_LAYOUT_UNDEFINED` as the previous layout, which should make the actual cost of the transition very small, but you must still do it:

If you disagree, point me at the spec

[2017-06-12 17:18] #1851 closed

[2017-06-12 17:21] TiemoJung commented on #1851
I think you are correct.

[2017-06-12 17:28] TiemoJung opened #1860 "request: more detailed error messages for image layout validation"
Hi,

while i was debugging our changes to our image state tracking system, i had a hard time figuring out which image mipmap level and/or array layer was not it the expected state, as the error message only lists the image aspect (as number, the name of that flag instead would be nice and consistent with the rest) and the current layout and the source layout of the barrier.
It would be helpful to

[2017-06-13 19:24] Tony-LunarG commented on #1781
Now it appears to be 14a004dc

[2017-06-13 19:31] #1683 closed

[2017-06-13 20:18] mark-lunarg opened #1869 "DescriptorSets: Use shared_ptr for DescriptorSetLayout data instead of copies"
DescriptorSets need access to DSLayout state, which was handled via pointers (problematic if DSLayouts were destroyed) but is now handled by making copies of the DSLayout data for each descriptorSet.  This could be better managed by using shared_ptrs.

[2017-06-13 21:56] chrisforbes commented on #1546
Addressed by #1870

[2017-06-13 21:59] chrisforbes opened #1871 "SC: correctly assign locations in complex cases"
Spec says:

[code]

We're not quite doing this -- glslang doesn't generate all of these cases.

[2017-06-14 14:44] mark-lunarg commented on #1682
Closing for now.  @mikedilger, if you come across a solid repro case just reopen this puppy and we'll get right on it.  Thanks!

[2017-06-14 14:44] #1682 closed

[2017-06-14 18:50] chrisforbes commented on #1600
Doesn't repro with current layers. Reopen if you need this looked at some more.

[2017-06-14 19:09] #1546 closed

[2017-06-15 17:31] lenny-lunarg commented on #1846
@MarkY-LunarG fixed this today with commit d660c139f540f669a964a4466f709a7cd777333e. The problem was a memory allocation of the wrong size.

[2017-06-15 17:31] #1846 closed

[2017-06-16 11:20] jozefkucia opened #1878 "tests: vkvalidatelayerdoc.sh hardcodes path to the layer directory"
`vkvalidatelayerdoc.sh` assumes that a build directory is located in a direct subdirectory of the repository root. It is a bit inconvenient because it prevents from running all tests easily when a directory structure is different.

[2017-06-16 11:42] Jasper-Bekkers opened #1880 "Add a way to name objects for validation messages"
Hi,

Right now often you'll get validation errors like this `Cannot submit cmd buffer using image (0x9a) [sub-resource: aspectMask 0x1 array layer 0, mip level 0], with layout ...`. In our engine we have a policy of naming all objects we create for debugging purposes so it would be extremely useful to pass these along to the validation layers for easier debugging so we can get a message like `Cann

[2017-06-16 15:52] tobine commented on #1878
Yeah, I don't like this assumption. Submitted #1883 to disable doc val from run_all_tests scripts temporarily until I have a better solution for running doc val from a build.

[2017-06-16 16:07] cdwfs commented on #1771
I just independently hit Nr. 3 (14a004dc) and I think I found the cause. The test tries to generate an invalid vertex attribute offset of limits.maxVertexInputAttributeOffset+1, but the AMD driver reports maxVertexInputAttributeOffset as 0xFFFFFFFF. It turns out zero is a perfectly valid offset :)

I'll submit a PR shortly that fixes that (and a couple other VU errors in that test that weren't bei

[2017-06-16 16:10] cdwfs commented on #1781
I'm submitting a fix for this shortly; see discussion on #1771.

[2017-06-16 16:15] #1827 closed

[2017-06-16 18:03] chrisforbes opened #1888 "SC: let go of the big validation lock while doing analysis"
This cripples attempts by game engines to do their pipeline creation in parallel on multiple threads

[2017-06-18 22:07] pavolzetor opened #1889 "No warning if using VK_SAMPLER_ADDRESS_MODE_MIRROR_CLAMP_TO_EDGE without enabling VK_KHR_sampler_mirror_clamp_to_edge"
Present in 1.0.51 with VK_LAYER_LUNARG_standard_validation.

[2017-06-19 11:33] sashinde opened #1890 "Building on ARM fails with latest code"
There are errors while building loader and tools for ARM architecture.

The error are introduced with commit: 1b88cb983ece32b88bea4d5ee5b107e53705a226 which has x86 specific code and not available for ARM.

By reverting 1b88cb983ece32b88bea4d5ee5b107e53705a226, I'm able to build loader 1.0.51 properly.

Please fix this.

[2017-06-19 16:54] lenny-lunarg commented on #1890
What command line instructions are you using to build for ARM? The goal in that commit was to leave behind the old C code, and to enable it if the platform wasn't x86. So it sounds like the configuration isn't working, but to address it I need to know how you're building the repo.

[2017-06-19 22:28] tobine commented on #1869
I'll take this @mark-lunarg
Lemme know if you are already into development and want to keep it, otherwise I'll proceed.

[2017-06-19 23:06] Tony-LunarG opened #1894 "Cube built for XLIB gets seg fault at exit"
Call to XCloseDisplay seg faults.  Cubepp too. Build with -DDEMOS_WSI_SELECTION=XLIB
 run and then hit esc to reproduce

[2017-06-19 23:49] mark-lunarg commented on #1869
No! Forge ahead.

On Jun 19, 2017 4:28 PM, "Tobin Ehlis" <notifications@github.com> wrote:

[2017-06-20 10:30] DominikWitczakAMD commented on #1650
Ha, I was just intending to report this bug as well :-)

[2017-06-20 14:11] mark-lunarg commented on #1894
@Tony-LunarG, can you assign this one please?

[2017-06-20 17:31] #1894 closed

[2017-06-20 17:37] karl-lunarg commented on #1894
http://www.xfree86.org/4.7.0/DRI11.html suggests that the (GL, but Vulkan here) can register a callback with Xlib.  When the application calls XCloseDisplay, this callback is called and will segfault if the driver had already been unloaded, which could happen when the Vulkan instance is destroyed. Fix is to destroy the instance after cleaning up the display connection.

I also added a build/test o

[2017-06-20 20:08] mark-lunarg commented on #1889
Fixed by PR #1896.

[2017-06-20 20:08] #1889 closed

[2017-06-20 20:34] Tony-LunarG commented on #372
I believe that with the addition of the device_profile_api layer and an example of its use in ExceedMemoryAllocationCount, that this issue is complete and the layer is available for any future tests that can use it.

[2017-06-20 20:34] #372 closed

[2017-06-20 22:52] #1878 closed

[2017-06-20 22:53] #1869 closed

[2017-06-20 23:17] leigh123linux commented on #1890
1.0.51 built ok on linux arm

https://koji.fedoraproject.org/koji/buildinfo?buildID=908767

[2017-06-21 15:43] lenny-lunarg commented on #1890
The commit mentioned by @sashinde was actually put into master just after we branched for the 1.0.51.0 SDK (because we foresaw potential problems). As a result, the error happens with code still using the 1.0.51 header, but it's really from after the SDK. Building from the `sdk-1.0.51.0` tag shouldn't have the commit in it, which may be the reason why fedora had no trouble with arm.

In any case,

[2017-06-21 21:19] daveh-lunarg commented on #1376
I believe this issue will now be caught by validation, as of PR #1829.  Closing.

[2017-06-21 21:19] #1376 closed

[2017-06-22 08:15] kyrios123 opened #1909 "CMake generation code fails since commit 227aa78"
Since commit 227aa78, the CMake generation code fails on my computer:
[code]
It's obvious I missed something but I can't find what... anyone could help me please ?

[2017-06-22 12:37] DominikWitczakAMD opened #1910 "core_validation + VK_KHR_maintenance1: No warning reported if a 2D image view backed by 3D image is put into a descriptor set"
This is forbidden as per the following language in the "Valid Usage" section for VkDescriptorImageInfo

* pname:imageView must: not be 2D or 2D array image view created from a 3D image

[2017-06-22 13:58] RCalocaO opened #1911 "Crash inside object_tracker"
SDK 1.0.51.0

It will crash here on UpdateDescriptorSets() trying to dereference pTexelBufferView when it's NULL.

[2017-06-22 14:07] MarkY-LunarG commented on #1909
You would get these errors if the projects for each of the layers failed to build the corresponding layer library and then the dependency check attempted to connect to those libraries.  The actual generated Cmake output files should be identical to before.

1. Have you wiped out your build folder and started again?
2. Is this Linux or Windows?  I'm building on Linux and Windows 64 with no issue.
3

[2017-06-22 14:09] karl-lunarg commented on #1909
Did you issue the CMake command from the top level directory?  It sort of
looks like you issued it from the layers directory.

It may also be helpful to post the CMake command you used.

On Jun 22, 2017 1:15 AM, "Pierre-Yves" <notifications@github.com> wrote:

[2017-06-22 14:12] #1781 closed

[2017-06-22 14:28] cdwfs commented on #1771
The fix for Nr. 3 is now in master (#1886 -- involved multiple VU errors and a driver bug, whee!)

[2017-06-22 14:53] RenatoUtsch opened #1912 "Add warning when a parameter of vkCmdDispatch is 0"
I'm currently getting images from the swapchain, drawing to them with a **compute** shader and sending them for presentation. When I first implemented this, my application would inexplicably **freeze** my windowing system, and there were no messages from the validation layers to help me discover the problem. I initially thought I was transitioning the swapchain images wrongly, but after some hours

[2017-06-22 15:13] RenatoUtsch commented on #1912
I can implement this and submit a pull request if it sounds a good idea.

If I'm not mistaken, it would just be needed to add checks in this function, right?
https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/d2ecdb33a78ea2a0a8f868497448d0df627fc5ac/layers/parameter_validation.cpp#L3454

[2017-06-22 15:18] tobine commented on #1912
This sounds like a good idea to me. Yes, the code you flagged in parameter_validation.cpp would be a good place to add the warning. Here's an [example warning](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/d2ecdb33a78ea2a0a8f868497448d0df627fc5ac/layers/parameter_validation.cpp#L3388) from that same file.

[2017-06-22 17:35] chrisforbes commented on #1912
:+1: from me. I think you want to report that crash to your driver vendor too though; that sounds completely broken.

[2017-06-22 19:03] RenatoUtsch commented on #1912
Yeah. I'll try to narrow it out first though. My first guess is that trying to call vkQueueWaitIdle() on a queue where I dispatched a compute shader with a work group count of 0 makes the device freeze and I lose connection to it device.

[2017-06-23 07:42] kyrios123 commented on #1909
@MarkY-LunarG
1. Yes, build folder was wiped out
2. Linux x86_64
3. Actually I'm building a Vulkan package and I'm getting the SPIRV tools & headers from another package. I updated that package just before building with the latest available release/commit just before building Vulkan, so I know it is up-to-date but now you point this out, I guess this is where I should look for.

@karl-lunarg
Yes I

[2017-06-23 15:37] karl-lunarg commented on #1909
If I issue the exact same cmake command you give, I get the same result you posted.

If I add `-H. -Bbuild`  (the specification of the out-of-build build folder being the important item here), then cmake completes OK.

Any chance you somehow forgot to specify the build dir?

[2017-06-24 06:34] leigh123linux commented on #1890
@lenny-lunarg I still can't reproduce any build issues building git snapshot of https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/commit/1b88cb983ece32b88bea4d5ee5b107e53705a226

https://koji.fedoraproject.org/koji/taskinfo?taskID=20134740

[2017-06-24 07:05] leigh123linux commented on #1890
@lenny-lunarg  Building the latest git fails on all non x86 builds with ASM errors.

https://koji.fedoraproject.org/koji/taskinfo?taskID=20135113

buildlogs for failed builds

https://leigh123linux.fedorapeople.org/pub/buildlogs/vulkan/

[2017-06-24 15:45] kyrios123 commented on #1909
@karl-lunarg Thanks! This was indeed the problem.
The issue can be closed.

[2017-06-25 19:43] #1909 closed

[2017-06-26 15:28] RCalocaO opened #1914 "Potentially invalid fence warning"
Trying to delete a fence I had been using with vkAcquireNextImageKHR, and after calling vkDestroySwapchainKHR, and trying to delete the fence, I get

I would expect I don't have to wait for the fence as I deleted the swapchain?

[2017-06-27 14:14] MarkY-LunarG commented on #1612
Idea: Detect case of LVL issue #1917 and warn.

[2017-06-29 12:16] MaciejJesionowskiAMD opened #1922 "CMake out of tree build has errors"
This started happening a few days ago. My compilation is failing with this error:

This is on Windows. I like to build the loader and layers with CMake without using the provided scripts:

1. I create a separate build directory, not inside the source tree.
2. I set it up with: cmake -G "Visual Studio 14 Win64" PATH_TO_SOURCE
3. Then I simply build with: cmake --build . -- /m

The problem is the sc

[2017-06-29 17:31] rockyrhodes commented on #1890
The problem is that on some arm systems the test "if (CMAKE_ASM-ATT_COMPILER_WORKS)" passes.  ${CMAKE_SYSTEM_PROCESSOR} should also be verified to match "i.86" before utilizing the x86 asm code.

[2017-06-29 18:36] danginsburg opened #1924 "Improve output of VkPhysicalDeviceFeature struct error"
With the new device simulation layer, it will be common to get errors like this:

While calling vkCreateDevice(), requesting feature #21 in VkPhysicalDeviceFeatures struct, which is not available on this device.

This is not as helpful as a message as it could be.  Basically this is a feature request to do what is in the TODO line here:

https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLa

[2017-06-29 19:04] Tony-LunarG commented on #1880
Addressed by  1f53907

[2017-06-29 20:04] Jasper-Bekkers commented on #1880
Does this also fix up all validation warnings to print the named object
instead of the id?

On Thu, Jun 29, 2017, 21:04 Tony-LunarG <notifications@github.com> wrote:

[2017-06-29 20:14] Tony-LunarG commented on #1880
It does to an extent.  Anything logged through debug_report_log_message will prepend a string "SrcObject name = <name of the primary object>".  Other objects referenced in the message will still only have their handles printed.

[2017-06-29 20:30] Jasper-Bekkers commented on #1880
Cool, that's already a pretty nice improvement over what was done before. Though it was something that you could easily do app side as well by just keeping the name somewhere and matching it against the object passed back to you in the debug callback.

However the other objects referenced in the message are also very important (case in point: the message that started this big report), so I would l

[2017-06-29 21:53] lenny-lunarg commented on #1890
I don't entirely like the `${CMAKE_SYSTEM_PROCESSOR}` fix because means you can't build on one architecture, for use on another. I've pushed a fix to a branch on this repo called `lenny_asm_archs` (commit 0f32cbc3cc1875a3a4137b8684644703b0eb354a). This change runs the assembler on a small test file, and checks if that succeeded to determine whether or not the assembler is suitable. My only real co

[2017-06-29 22:26] leigh123linux commented on #1890
@lenny-lunarg

lenny_asm_archs https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/commit/0f32cbc3cc1875a3a4137b8684644703b0eb354a builds on all arch

https://koji.fedoraproject.org/koji/taskinfo?taskID=20254509

[2017-06-30 13:06] sl1pkn07 commented on #1922
same here in linux box

[2017-06-30 22:27] lenny-lunarg commented on #1890
This issue should now be resolved on master via the pull request shown above.

[2017-06-30 22:27] #1890 closed

[2017-07-01 17:47] grim210 opened #1926 "Some comments in C header files are not C-style"
To be able to compile my Vulkan project with GCC flag -std=c90, all comments in the vulkan header files must conform to using C-style comments.  Comments that
`// look like this`
will not compile.  However, if they
`/* look like this */`
it will compile perfectly.  My use case is probably rare, but compiling with clean C90 makes me feel warm inside.

[2017-07-01 18:47] mark-lunarg commented on #1926
@grim210, outside of the loader, we don't have a bunch of these files.  Can you enumerate the ones that are giving you trouble?  Our coding standards enforce //-style comments universally, except in copyright notices or file headers and currently make no exceptions for the older C standards.

[2017-07-01 19:45] MarkY-LunarG commented on #1926
Some of the files aren't owned by us, the come from Khronos.  The others, as @mark-lunarg points out, is based on our coding standard.

Looking at the top-level CMakeLists.txt file, -std=c99 should be automatically set.  Are you not using CMake?

[2017-07-03 15:11] mark-lunarg commented on #1880
@Jasper-Bekkers, this family of capabilities is meant to be addressed through a new debug report extension which is currently under development.  It will allow the output of multiple objects through the main interface (among many other things).  This change is what we can reasonably do in the short-term.  Thanks for prodding us to get this in!

[2017-07-03 15:37] mark-lunarg commented on #1926
As I mentioned in the PR, I'm closing this issue for now, at least until the main Vulkan working group updates their header files.

[2017-07-03 15:37] #1926 closed

[2017-07-03 22:22] mark-lunarg commented on #1922
Hey @MaciejJesionowskiAMD, @sl1pkn07, can you guys give this a quick checkout?

[2017-07-04 08:09] MaciejJesionowskiAMD commented on #1922
Yep, it's working again, thanks.

It would also be awesome if there was an option to choose which arch and config is built for dependencies with update_external_sources.bat. For example, to only build x64 Debug. This isn't a big deal, but saves time and space on a clean checkout.

[2017-07-04 20:52] #1922 closed

[2017-07-04 20:54] mark-lunarg commented on #1922
@MaciejJesionowskiAMD, yeah, the amount of time it takes to run that script on Windows drives me crazy.  Thanks for checking out the PR!

[2017-07-04 21:06] Themaister opened #1931 "Disregard missing fragment outputs if colorWriteMask == 0"
I have a render pass with 4 color attachments, and the shader only writes to location = 0.
colorWriteMask is 0xf for attachment 0, and colorWriteMask is 0 for the others, so it does not matter if the shader does not write.

[code]

[2017-07-06 08:08] TiemoJung commented on #1914
Is your chain of commands like this?:
1. acquire swapchain image and passing fence with it
2. delete swapchain
3. delete fence

If yes, it would be probably best to wait first for the fence and then delete anything.

Besides that, using a fence to sync an swapimage is not optimal, using a semaphore is always preferable.

[2017-07-06 15:49] tobine commented on #1931
@chrisforbes seems like a false positive? Took a look at code and my initial thought is potentially pass pPipeline ptr to validate_fs_outputs_against_render_pass() and provide an early out based on attachement colorWriteMask. Assigning to you for analysis and fix as appropriate.

[2017-07-06 16:44] chrisforbes commented on #1931
Indeed, we should be taking the mask into account here. I will fix this soon.

[2017-07-06 21:23] tobine commented on #1687
This is VALIDATION_ERROR_1b80093a, implemented [here](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/layers/core_validation.cpp#L6207).

[2017-07-06 21:23] #1687 closed

[2017-07-07 09:50] marco-we opened #1933 "Enabling both VK_KHR_maintenance1 and VK_AMD_negative_viewport_height at the same time does not fail validation"

[2017-07-07 09:54] marco-we commented on #1933
Enabling both VK_KHR_maintenance1 and VK_AMD_negative_viewport_height at the same time does not fail validation.

It should according to the valid usage section of **VkDeviceCreateInfo**:

[2017-07-07 13:56] tobine commented on #1933
This is VALIDATION_ERROR_056002ec, needs to be implemented.

[2017-07-07 15:54] tobine commented on #1404
#1934 addresses my initial concern. I looked at the follow-on request from @punkUser which is a bit trickier. @chrisforbes can you take a look? One possibility I was looking at was to refactor descriptor_type_match() in shader_validation.cpp to use a utility function that would return a vector of acceptable VkDescriptorType values to compare descriptor_type against. The utility function could then

[2017-07-09 20:31] DragoonX6 commented on #1544
@karl-lunarg Updated it with a new PR #1923. Please review it.

[2017-07-10 20:29] chrisforbes commented on #1888
Fixed.

[2017-07-10 20:29] #1888 closed

[2017-07-11 08:54] jlegg0 opened #1937 "Implement VUID-VkImageViewCreateInfo-image-01014 validation check"
Several validation checks for vkCreateImageView are not currently implemented, among them is VUID-VkImageViewCreateInfo-image-01014:

On all of the 3 Vulkan implementations I checked, this would make creation of an FORMAT_R8G8B8A8_SRGB view of a FORMAT_R8G8B8A8_UNORM image created with with VK_IMAGE_USAGE_STORAGE_BIT invalid, but the validation layer did not report an issue.

[2017-07-14 10:20] Breush opened #1941 "Assertion failed for descriptor set draw with destroyed image view state"
I had a segfault only when validation layers were enabled.
I dug and found out what was the problem.

## Steps to reproduce
- Create a descriptor set for a set layout with one binding of combined image-sampler ;
- Update the descriptor set with a valid ImageView + sampler ;
- Create the command buffers, bind the descriptor set, make a draw command, submit, and ensure everything works fine ;
- Dest

[2017-07-17 15:11] #1933 closed

[2017-07-17 15:12] mark-lunarg commented on #1933
@marco-we, the fix has been pushed to Master -- thanks for opening the issue!

[2017-07-17 16:52] #1941 closed

[2017-07-18 18:22] chrisforbes opened #1947 "Support KHR_storage_buffer_storage_class in SC"
- `descriptor_type_match` needs to consider storage class of the declared variable, not just aspects of the type.
- `mark_accessible_ids` needs to consider the new `StorageBuffer` storage class.

[2017-07-19 14:57] tobine opened #1951 "Finish CmdPipelineBarrier validation"
Tracking issue to complete the VUs for vkCmdPipelineBarrier. These are the explicit VUIDs that are currently marked not implemented in VU DB:

- VALIDATION_ERROR_1b800932
- VALIDATION_ERROR_1b800934
- VALIDATION_ERROR_1b800936
- VALIDATION_ERROR_1b800938
- VALIDATION_ERROR_1b80093c
- VALIDATION_ERROR_1b800940
- VALIDATION_ERROR_1b800942
- VALIDATION_ERROR_1b800944

[2017-07-20 20:11] #1931 closed

[2017-07-20 21:44] mattst88 opened #1956 "Writable and executable sections in libvulkan.so"
Gentoo's package manager warns:

 * QA Notice: The following files contain writable and executable sections
 *  Files with such sections will not work properly (or at all!) on some
 *  architectures/operating systems.  A bug should be filed at
 *  https://bugs.gentoo.org/ to make sure the issue is fixed.
 *  For more information, see:
 *
 *    https://wiki.gentoo.org/wiki/Hardened/GNU_stack_quicks

[2017-07-20 22:15] lenny-lunarg commented on #1956
The pull request I created that just referenced this issue should be a fix for your problem. I ran `scanelf` as the article you linked shows, and the problem appears to be resolved. Do you have any other way I can verify that the problem is resolved, or is running `scanelf` good enough?

[2017-07-20 22:59] mattst88 commented on #1956
Nope, that's works great.

Thanks for the really quick turn-around!

If you want, feel free to add a

Tested-by: Matt Turner <mattst88@gmail.com>

tag to your commit.

[2017-07-21 18:56] lenny-lunarg commented on #1956
The fix is now on master as commit 75645294adadeac5779e7939a4637e5ed256f9db.

[2017-07-21 18:56] #1956 closed

[2017-07-21 18:57] #1378 closed

[2017-07-21 20:15] tobine commented on #1951
Need to handle/test cases where barrier appears in a secondary command buffer

[2017-07-23 01:47] puleglot opened #1962 "Assembler test fails for 32-bit x86 target on 64-bit host"
Recently introduced try_compile test (a7100321f4e86fb9df397996e4be28f490818885) doesn't work for 32-bit x86 target on 64-bit host. I export "ASFLAGS=--32" variable, "--32" is being added to the linker flags and test fails.
[code]
With --debug-trycompile cmake option I get this:
[code]
My cmake version: 3.7.2.

[2017-07-24 19:18] #1910 closed

[2017-07-25 07:09] DominikWitczakAMD commented on #1910
Thanks, Chris! This is much appreciated :-)

[2017-07-25 13:09] DominikWitczakAMD opened #1967 "Validation layer: Load / store ops are not verified at vkCreateRenderPass() call time"
Seems like a trivial omission.

[2017-07-25 13:43] tobine commented on #1967
Generated parameter_validation.h verifies that the loadOp and storeOp values are valid enums.
These are VUIDs VALIDATION_ERROR_0080c201 & VALIDATION_ERROR_0082e401.

Is this what you're referring to?
Here's the code:

`skipCall |= validate_ranged_enum(layer_data->report_data, "vkCreateRenderPass", ParameterName("pCreateInfo->pAttachments[%i].loadOp", ParameterName::IndexVector{ attachmentIndex }),

[2017-07-25 16:04] #1924 closed

[2017-07-26 00:11] cdwfs opened #1971 "VU checks for vkGetQueryPoolResults() in CV are incorrect (and slow)"
The checks in core_validation for vkGetQueryPoolResults():
- are too overzealous (reporting errors for usages not marked as invalid in the spec, such as retrieving the results of an unissued query with the WITH_AVAILABILITY flag set and the WAIT flag cleared)
- have ambiguous/duplicated report messages (same message for unavailable-and-unissued and unavailable-and-in-flight)
- have no VUIDs
- are,

[2017-07-26 20:10] mark-lunarg commented on #1967
Assigning @tobine until @DominikWitczakAMD answers -- if work needs to be done I'll reassign.

[2017-07-27 07:05] DominikWitczakAMD commented on #1967
Let me re-check with the latest version from the headline branch. I'm pretty sure core the version of core validation layer I'm using at the moment did not catch this.

[2017-07-27 07:32] DominikWitczakAMD commented on #1967
Ah, gotcha! These errors are covered by parameter validation layer which I hadn't enabled when I ran into this issue. After including it in the layer chain, the error is indeed reported. Apologies for the false alarm!

[2017-07-27 07:32] #1967 closed

[2017-07-27 07:39] DominikWitczakAMD opened #1973 "Core validation: Value assigned to the location decoration is not checked against (physical device::maxVertexOutputComponents / 4)"
We recently received a bug report from ISV, which - after closer inspection - revealed that validation layers apparently do not check if the location decoration value specified in a SPIR-V blob exceeds the maximum number of output components in the VS shader stage reported as supported for a physical device that the shader module is used against.

In specific, let's consider the following:

[code]

[2017-07-27 17:36] chrisforbes commented on #1973
This check is not yet implemented. The spec is slightly vague on how this restriction works -- is it a restriction on the number of distinct locations that may be used on an interface (but leaving the choice of which integers to use arbitrary), or is the intent that all location values used must be below the limit?

[2017-07-28 05:54] DominikWitczakAMD commented on #1973
In our case it's the latter. Not sure about the others.

[2017-07-28 08:43] krOoze commented on #1771
I no longer get # 4 with master and latest drivers.

[2017-07-28 13:12] RCalocaO commented on #1914
Thanks, I will confirm. We use a fence since we sometimes need to control the locked framerate.

[2017-07-28 14:06] cdwfs commented on #1771
Ah, great! I was just able to reproduce # 4 a couple days ago with the 17.4.4 Windows driver, but it looks like there was a new driver drop later that day that I missed. I'll confirm when I next have access to that system.

[2017-07-28 21:44] #1951 closed

[2017-07-31 18:24] chrisforbes commented on #1973
@DominikWitczakAMD I think that interpretation is reasonable, and I will use it when implementing the validation check, but we should get a spec wording tweak to make it absolutely clear.

[2017-08-01 23:11] thiagomacieira opened #1978 "Crash on vulkaninfo by loading libvulkan_radeon on an Intel GPU"
When I run vulkaninfo, it crashes:
[code]
The backtrace points to libvulkan loading the Radeon driver:
[code]
My system has an Intel GPU:
[code]
The Intel driver is installed:
[code]
Both files drivers are installed due to a dependency in package management, but clearly the Radeon one should not be used. The driver should validate that it is in the correct HW and bail out if not.

[2017-08-01 23:18] thiagomacieira commented on #1978
Also submitted at the radeon driver: https://bugs.freedesktop.org/show_bug.cgi?id=102010.

I don't know what is at fault: whether it's libvulkan for loading the wrong driver, or the driver for failing to properly bail out, or both for there not being a mechanism to bail out in the first place.

[2017-08-02 09:24] danielmaciel opened #1980 "Validation for VK_KHR_PUSH_DESCRIPTOR_EXTENSION_NAME seems broken"
When using 'VK_KHR_PUSH_DESCRIPTOR_EXTENSION_NAME', I get an Object Tracker error:

"ObjectTracker(ERROR): object: 0x0 type: 24 location: 186 msgCode: -1: Invalid DescriptorSet Object 0x0. (null)"

My guess is I get that error for not specifying a Descriptor Set in the conventional way, instead pushing a descriptor write using the aforementioned extension.

The funny thing is, if I do not call vkC

[2017-08-02 09:31] danielmaciel commented on #1980
(I'm using the latest code downloaded from the git repository)

[2017-08-02 14:53] thiagomacieira commented on #1978
SUSE developers think the problem is actually a bug in glibc: the LLVM dependencies in the Radeon driver are causing the dynamic loader confusion.

https://bugzilla.opensuse.org/show_bug.cgi?id=1022156

[2017-08-02 16:09] lenny-lunarg commented on #1978
The main problem does appear to be in `libvulkan_radeon.so` (or the libraries that it loads). The loader has to load every ICD that is presented to it. Even if a driver doesn't have any physical devices associated with it, the loader can't know that until it loads the driver, so the problem here isn't from loading the wrong driver &mdash; that's intentional. If the driver can't be used on the syst

[2017-08-02 19:09] thiagomacieira commented on #1978
`LD_BIND_NOW=1` does solve the problem. This does indeed look like a dynamic linker bug.

[2017-08-02 20:54] lenny-lunarg commented on #1978
Alright, then I'm going to close this issue. We've actually had this problem before, where a driver doesn't resolve it's symbols properly. We changed the loader to resolve all symbols at one point (commit a480e11deebf69a1b1dfebccd5314492409db601), but we had to revert that later (commit 18ef0ba5c47c214bb4c040c4ccaf9afd025fe25d) when it became apparent that we wanted the improved performance. As a

[2017-08-02 20:54] #1978 closed

[2017-08-02 21:40] thiagomacieira commented on #1978
No problem. This looks like a glibc bug anyway. OpenSUSE devs are looking into it.

There are two other workarounds available (which just goes to show that the bug is elsewhere).

[2017-08-03 22:02] Tony-LunarG commented on #1911
So are you saying that for a descriptor of type UNIFORM_TEXEL_BUFFER or STORAGE_TEXEL_BUFFER, you pass NULL for pTexelBufferView and the layers crash?  If so, before the crash do you see an error message from ParameterValidation explaining that pTexelBufferView must not be NULL?

[2017-08-04 10:42] fredrikzetterman opened #1982 "Incorrect validation error using 2D array textures"
When trying to use vkCmdCopyBufferToImage to update individual array images in a VK_IMAGE_TYPE_2D image array, I get the following error:

"pRegion[0].imageExtent (w=40, h=64, d=1) dimensions must be even integer multiples of this command buffer's queue family image transfer granularity (w=8, h=8, d=8) or offset (x=0, y=0, z=0) + extent (w=40, h=64, d=1) must match the image subresource extents (w

[2017-08-06 20:53] Themaister opened #1986 "Changing image layouts in release/acquire image barriers triggers false positives."
When using two queues with different families, it is possible to trigger a misleading error about image layouts.

E.g. in a TRANSFER queue
[code]
this signals a semaphore which graphics waits on, and needs to do the same layout transition. The transition only actually happen once according to spec.

Graphics:
[code]
The acquire barrier triggers an error where the command buffer expects TRANSFER_DS

[2017-08-07 18:58] jengelh opened #1989 "cmake fails to heed pkg-config include path 2"
Issue #1444 is back. Tried to build 1d0d15580070ae778c8a1f0c26cf023af8f5ef4a .
[code]

[2017-08-08 08:01] dor666 opened #1991 "VK_DBG_LAYER_ACTION_BREAK not working"
Enabling VK_DBG_LAYER_ACTION_BREAK didn't worked for me.
Also I don't see it used in sources.

[2017-08-08 15:47] yvt opened #1992 "layers: Incorrect handling of consecutive descriptor updates"
The validation layer `VK_LAYER_LUNARG_core_validation` currently handles consecutive descriptor updates incorrectly.

As of b87dda8, this validation layer accepts consecutive descriptor updates. However, it does not update the internal state correctly, and causes false positives/negatives in later calls.

For example, let's say you have a descriptor set with the following layout:

|             |

[2017-08-08 15:59] tobine commented on #1992
Thanks, @yvt Great write-up! The bug is [line 612](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/layers/descriptor_sets.cpp#L612) where "di" param to WriteUpdate doesn't take into account consecutive update roll-over. I'll fix this.

[2017-08-08 17:56] chrisforbes commented on #1986
Looking into this as already investigating some other bad behavior in the same area.

[2017-08-08 17:56] jjulianoatnv commented on #1714
Sorry, I got busy then forgot to look into this. I do plan to look into it during the next couple weeks, and I'll report back here after I have some concrete info.

[2017-08-08 18:12] johnzupin commented on #1989
Did PR #1461 ever fix your issue from before? It looks like that fix was removed in a latter commit some time ago probably by accident.

I was unable to replicate the issue on Fedora but I currently don't have OpenSUSE system, assuming you're still using that OS.

Can you try this [patch](https://patch-diff.githubusercontent.com/raw/KhronosGroup/Vulkan-LoaderAndValidationLayers/pull/1461.patch) fr

[2017-08-08 19:38] jengelh commented on #1989
Yes, PR #1461 had fixed it. Commit 15c47bd3 (sdk 1.0.41 if I am not mistaken) builds without any additional modifications:
[code]
That was for a C++ file. asm_offset.c is a C file. Maybe that makes a difference with cmake?

[2017-08-08 23:10] Tony-LunarG commented on #1980
I believe this to be fixed with PR #1993, commited earlier this afternoon

[2017-08-08 23:17] johnzupin commented on #1989
It looks like #1461 fix was removed at https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/commit/7b06221f2c4cb2205e0363afe1ce59b81aa144a1#diff-af3b638bc2a3e6c650974192a53c7291. If that was your fix for OpenSUSE then we should pull that back in.

It looks like your issue #1444 is the same problem you're are having now that was fixed by #1461

[2017-08-08 23:38] jengelh commented on #1989
I can confirm. Applying 8bf8992ececd9149e6ad6d70d52a4a90d6a87976 once again fixes the issue.

[2017-08-09 11:00] Jasper-Bekkers commented on #1880
@mark-lunarg what's the status of that new extension?

[2017-08-09 15:20] mark-lunarg commented on #1880
Still winding it's way through Khronos towards ratification.  Hey @Jasper-Bekkers, if you compile a summary of the messages you'd like to see reworked, we can probably get that done sooner rather than later.  Even after the new extension becomes available work will still need to be done to expand the message output and have neither the bandwidth nor inclination to reformat every validation layer e

[2017-08-09 15:45] Jasper-Bekkers commented on #1880
I just did a quick few greps through the code base and it looks like PRIxLEAST64 might be the best indication of what to replace (there are some false positives when printing sizes / alignments instead of object IDs). This yields about ~160 results, which TBH it a lot less then I expected.

I'm fine with this issue staying open until all (or most) of these are fixed. If at some there is an easy re

[2017-08-09 19:09] #1992 closed

[2017-08-10 20:20] #1991 closed

[2017-08-10 20:21] mark-lunarg commented on #1991
@dor666, give the latest Master another shot.

[2017-08-10 20:26] mark-lunarg commented on #1986
Duplicate of #865? Will leave them both open for now since @chrisforbes bit.

[2017-08-10 22:53] RCalocaO commented on #1911
Yes you are correct.

[2017-08-10 22:53] #1911 closed

[2017-08-11 06:24] dor666 commented on #1991
Wow, that was fast. Thanks Mark :)

[2017-08-11 09:04] jozefkucia opened #2000 "False validation errors for VK_KHR_push_descriptor"
Validation layers produce `VkPipeline 0x10 uses set #0 but that set is not bound` errors for push descriptor sets. See  #1999 for a test case which reproduces the issue.

[2017-08-15 22:12] chrisforbes commented on #1914
Closing as WAI -- you must not delete the fence when there is an operation in flight which will signal it.

[2017-08-15 22:12] #1914 closed

[2017-08-16 21:13] jjulianoatnv commented on #1714
This seems possible. We implemented preliminary support in the Vulkan beta driver 382.96 which was just published to https://developer.nvidia.com/vulkan-driver.

There are some known issues:
- Might crash during window resize.
- Might crash if RDP session is established while app is already running.

Not sure yet if there are driver bugs here, only app bugs, or some of each.

[2017-08-16 21:14] jjulianoatnv commented on #1714
No changes to the loader were needed.

[2017-08-16 21:26] lenny-lunarg commented on #1714
That's good news to hear. Since it sounds like the loader is working fine with remote desktops I'm going to close this issue. If anyone finds issues with the loader or validations layers on remote desktops, feel free to open a new issue for that specific problem.

[2017-08-16 21:26] #1714 closed

[2017-08-18 00:13] danielmaciel commented on #1980
That fixed it for me. Thanks!

[2017-08-18 14:01] #1980 closed

[2017-08-20 01:29] karl-lunarg opened #2014 "Layers do not report missing memory transition for getting query pool results"
Obtained from the 2017 LunarG Ecosystem Survey

[2017-08-20 23:14] haasn opened #2015 "Missing error when inserting a queue family ownership acquisition operation without preceding release"
By [spec](https://www.khronos.org/registry/vulkan/specs/1.0/html/vkspec.html#synchronization-queue-transfers), it's required to submit two image barriers when moving a resource allocated with VK_SHARING_MODE_EXCLUSIVE from one queue family to another - one defining a “release” operation and the other defining an “acquire” operation.

However, in my current code, I noticed that I never fire a “rele

[2017-08-21 09:56] haasn opened #2016 "Missing error when freeing a renderpass that was used to create active framebuffers"
In this sequence of events:

1. `vkCreateRenderPass(..., &dummyPass);`
2. `vkCreateFramebuffer(..., {... .renderPass = dummyPass }, &framebuffer);`
3. `vkDestroyRenderPass(..., dummyPass);`
... later
4. `vkCreateRenderPass(..., &realPass);`
5. `vkCmdBeginRenderPass(..., { .renderPass = realPass, .framebuffer = framebuffer });`

I get a segfault in libnvidia-gl.so. I'm not entirely sure if this is

[2017-08-21 10:31] cforfang commented on #2016
Based on the discussion in issue #516 I think what you're doing is valid and that is an NVIDIA bug.

[2017-08-21 10:38] haasn commented on #2016
Okay. What's the status quo of vendor bugs in the layers? Do you bother printing a debug message in cases where code is technically correct but is known to crash on some platforms, or is that considered out-of-scope of the validation layers?

[2017-08-21 11:23] haasn commented on #2016
Cross-posted to https://devtalk.nvidia.com/default/topic/1022963/linux/vulkan-driver-segfaults-on-spec-compliant-call-sequence/

[2017-08-21 14:24] mark-lunarg commented on #2016
@haasn, we don't do any vendor-specific stuff in the layers (thank goodness).  Will close this for now, reopen if the focus shifts back to validation.  Thanks!

[2017-08-21 14:24] #2016 closed

[2017-08-21 21:53] stroyan commented on #2014
Looking at that part of the spec, it seems that API-Samples/occlusion_query/occlusion_query.cpp example should use vkCmdPipelineBarrier after vkCmdCopyQueryPoolResults before mapping the destination buffer.  I think it could be done in the submit_info[0].pWaitDstStageMask.  But a distinct vkCmdPipelineBarrier would be better for copying example code from.

[2017-08-21 22:32] mark-lunarg commented on #2014
@Tony-LunarG!  Please add Mike's comment to your list...

[2017-08-21 22:43] johnzupin commented on #1989
I was able to reproduce this error on openSUSE. Created PR #2018 to reintroduce this fix.

[2017-08-21 23:47] pdaniell-nv commented on #2016
@haasn what driver version were you using? We recently fixed a bug in our driver related to this. The fix isn't yet available in a general-release driver, but it is in the latest Vulkan beta driver, if you want to try it out: https://developer.nvidia.com/vulkan-driver.

[2017-08-22 03:09] haasn commented on #2016
@pdaniell-nv Apologies for not specifying. I was using 384.59-r1.

[2017-08-22 10:35] adam-sawicki-amd opened #2019 "vkCreateDescriptorSetLayout Crash - Heap Corruption"
When validation layer is enabled, vkCreateDescriptorSetLayout crashes when specific input is provided.

[code]

Complete Visual Studio 2015 project reproducing the issue: https://amd.box.com/s/wmfxs7mqdecbxhlvepl3js57tn01r127

The input structure seems valid. With validation layer disabled the program works correctly. No validation layer message is posted before this crash.

Crash itself:
Messageb

[2017-08-22 11:01] XProger commented on #2019
Can't reproduce on my environment: OS = Windows 7, GPU = AMD Radeon R9 390x, graphics driver = 17.20.1035, Vulkan SDK = 1.0.57.0

[2017-08-22 11:05] adam-sawicki-amd commented on #2019
After some testing I can see that the problem happens on Windows 10 only and not on Windows 7. Tested on various GPUs, both AMD and NVIDIA.

[2017-08-22 16:28] zeux opened #2020 "Please remove "any subsequent sets were disturbed by newly bound pipelineLayout" warning"
We - among many other Vulkan developers - are getting this warning in our code:

It happens when we use a pipeline/pipeline layout with two sets, and then switch to a different pipeline layout that just uses set #0. The layers complain about the incompatibility and the fact that set #1 is disturbed by the new binding, however I don't intend to actually use set #1 anyway.

From what I understand, t

[2017-08-22 17:33] pdaniell-nv commented on #2016
@haasn thanks for the follow-up. Driver 384.59 has the bug I was thinking of that's now fixed in the beta driver. A general-release driver with the fix should be coming out soon.

[2017-08-22 18:00] gwihlidal commented on #2020
+1 to remove - this warning is pretty useless (at least for us).

[2017-08-22 18:09] Themaister commented on #2020
+1, I find the warning more harmful than the problem it tries to warn about.

[2017-08-22 18:18] punkUser commented on #2020
+1 kill with fire please.

[2017-08-22 20:15] tobine opened #2022 "Note disturbed descriptors when unbound set used"
We had a previous perf warning for disturbed descriptors, along with associate test. Developers didn't like this perf warning (See #2020 ) so we removed it. As an enhancement, track disturbed descriptors and if a disturbed descriptor is used while unbound, note that it's unbound due to previously being disturbed.

[2017-08-22 20:36] #2020 closed

[2017-08-22 22:11] zeux commented on #2020
Thank you!

[2017-08-25 09:09] gwihlidal commented on #1880
+1 - this would be great to have!

[2017-08-28 02:10] Evelyn6 opened #2034 "Need validation layer to add redundancy check for vulkan states."
Such as vertex buffer states: If a test has many draw,  each draw binds the same vb info, only startVertex and startInstance have difference. Therefore, need skip the redundant vertex buffer modification. But Vulkan driver won't to do redundancy check. Can Validation layers report  a new perf warning for the redundancy states so that application developers can do better?

[2017-08-28 15:41] mark-lunarg commented on #2034
Adding this to the Assistant layer housekeeping task, #1612.

[2017-08-28 15:41] #2034 closed

[2017-08-28 17:12] quixoticaxis opened #2035 "VK_ERROR_OUT_OF_HOST_MEMORY when extent is not specified for vkCreateSwapchainKHR"
I'm new to Vulkan API and I was going through [Vulkan Tutorial](https://vulkan-tutorial.com/Drawing_a_triangle/Presentation/Swap_chain). In order to show how validation layers can help, the author recommends:

but when I do not specify extent for vkCreateswapchainKHR, the call fails with

instead of notifying me that I use some extent not equal to current.

I'm using Windows 10 Enterprise on i5 66

[2017-08-28 17:56] chrisforbes commented on #614
Fixed by various changes around 15 August.

[2017-08-28 17:56] #614 closed

[2017-08-29 07:52] DominikWitczakAMD opened #2037 "Core / Parameter Validation: Identity swizzle requirement is not checked for framebuffer attachments"
In the Valid Usage section for VkFramebufferCreateInfo, we have the following language:

``
Any given element of pAttachments must have been created with the identity swizzle
``

However, no error is raised by either of the layers if a non-identity swizzle is specified for image views that are later requested to be treated as attachments at FB create time.

[2017-08-29 08:12] DominikWitczakAMD opened #2038 "Core Validation: No error reported for a missing subpass->external dependency"
Let X be an universal queue (ie. a queue coming from a queue family that supports both compute and graphics ops).

Now, let's consider two command buffers:

1) Command buffer A which uses a renderpass with a single subpass. Within the subpass, a draw call is issued which triggers fragment shader invocations. The invocations use image store ops to write data to an image. The last command recorded t

[2017-08-29 11:25] quixoticaxis commented on #2035
Do you need any additional info from me?

[2017-08-29 15:08] mark-lunarg commented on #2035
@quixoticaxis, this should be OK for now -- we use the <incomplete> label for validation holes, i.e., the _validation_ is incomplete.  Outside of bugs these get the highest priority.

[2017-08-31 12:36] rob-avalon commented on #1714
Apologies if this is no longer the place to discuss this, but I'm still experiencing this issue and I was confused about where to bring it to Nvidia's attention.

I'm using Vulkan SDK: 1.0.57.0, and Nvidia beta driver: 382.96, Windows 10, and a GeForce GTX 980 Ti card.

Even this trivial program returns VK_ERROR_INITIALIZATION_FAILED from vkEnumeratePhysicalDevices

[code]

[2017-08-31 17:25] pdaniell-nv commented on #1714
I apologize, there was a mistake in the 382.96 release that kept RDP working on some GPUs, including the GTX 980. The next release should have RDP support.

[2017-08-31 20:11] #2000 closed

[2017-09-01 19:44] johnzupin commented on #1989
Merged the fix back in

[2017-09-01 19:44] #1989 closed

[2017-09-01 23:28] chrisforbes opened #2045 "Core Validation: CmdPushDescriptorSetWithTemplateKHR not tracked properly"
We're now more or less correct for CmdPushDescriptorSet, but not for the template variant.

[2017-09-02 12:37] sl1pkn07 opened #2047 "vulkan-icd-loader can't handle duplicate entries in XDG_DATA_DIRS"
Downstream bug:

https://bugs.archlinux.org/task/55312

i'm not sure if is problem of KDE or vulkan-icd-loader

greetings

[2017-09-03 14:15] qnope opened #2048 "Image in Shader Read Only Optimal layout could be used in a general layout through a Descriptor Set"
I have an image in the `VK_IMAGE_LAYOUT_SHADER_READ_ONLY_OPTIMAL` layout and when I am using it in a DescriptorImageInfo with a layout `VK_IMAGE_LAYOUT_GENERAL`. It is a mistake but Validation Layers don't tell me anything.

[2017-09-04 13:29] tobine commented on #2048
This should cause a PERF WARNING. We check the descriptor image layout at draw time [here](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/layers/descriptor_sets.cpp#L523). LAYOUT_GENERAL acts like a wildcard, though, and won't cause an error when matched with any other layout type, just a perf warning [here](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLa

[2017-09-04 13:51] cforfang commented on #2048
Shouldn't it be an error since the actual layout for the image (``VK_IMAGE_LAYOUT_SHADER_READ_ONLY_OPTIMAL`` in this case) doesn't match what the descriptor says it will be (``VK_IMAGE_LAYOUT_GENERAL``)?

Referring to this line from the spec for ``VkDescriptorImageInfo``:

imageView at the time this descriptor is accessed

[2017-09-04 14:16] tobine commented on #2048
@cforfang I believe the spec language there is overly restrictive and needs to be updated. I need confirmation, though. @chrisforbes thoughts?
I believe there used to be spec language that explicitly said that GENERAL matched any layout but I don't see it now so I'm either making it up or it's been changed. Validation has definitely always matched GENERAL with any other layout type so if there's b

[2017-09-04 19:39] chrisforbes commented on #2048
@tobine I suspect we're just broken here. GENERAL matches all types of device /access/, but the layout in the descriptor must match the layout of the resource at draw time. Will dig into this tomorrow.

[2017-09-04 21:04] chrisforbes commented on #2015
@mark-lunarg, this looks like it fits into the ownership transfer tracking fixes I proposed a short time ago. Will fix as part of that work.

[2017-09-05 02:08] kristan2016 opened #2050 "Invalid DisplayKHR Object"
When I enabled the layer named "VK_LAYER_LUNARG_standard_validation", the ObjectTracker reported  the error information as below:
[code]
and then the application crashed.
After If I disabled the layer "VK_LAYER_LUNARG_standard_validation", the application executed successfully.

[2017-09-05 14:22] courtney-g commented on #2050
I recommend you check your use of DisplayKHR objects. Just because an application works, doesn't mean that it is free of issues.
If you set up a VkDebugReport object you could set a breakpoint in your callback and see where the layers think there is an issue. Hopefully that will help you isolate the problem or put together a bug report for the validation layers.

[2017-09-05 20:29] qnope commented on #2048
I did another test today.
If the current layout is TRANSFER_DST, if you want to read it via a DescriptorImageInfo with a layout "SHADER_READ_ONLY" or "GENERAL", the layers do not tell anything as well...

Test done on Windows 10 and NVIDIA 970M GTX if it is usefull. V

[2017-09-06 10:17] kalmiya opened #2051 "Filtering extensions, NVidia 385.41 and VK_KH(R/X)_external_memory_capabilities"
Afaik recently VK_KHX_external_memory_capabilities was 'promoted' to VK_KHR_external_memory_capabilities.

As a result NVidia updated their graphics driver to 385.41, so what I see is our game won't find "VK_KHX_external_memory_capabilities" anymore ( which is required by the Oculus 1.17 SDK) and it crashes.
At the same time Oculus - depending on that extension - needed to update their SDK. Which

[2017-09-06 15:23] courtney-g commented on #2051
Only Instance extensions are filtered. That's because instance extensions generally need help from the loader to do what's needed. E.g. an instance extension could operate on all devices. Where is the code to iterate over all devices? Only place is the loader.

[2017-09-06 15:56] lenny-lunarg commented on #2047
Do you know what version of the loader was being used in this bug report? The loader should remove double-counted ICDs, starting with commit 5d74c0d5f69d4c2ce4107f11461837b6f5b6fabb (and as far as I can tell, that functionality is still working). This commit was in SDK 1.0.57.0, but not in anything before that, so I wouldn't be surprised if everyone in that thread is using a loader that doesn't ha

[2017-09-06 16:11] sl1pkn07 commented on #2047
if you say is fixed in 1.0.57.0, this version is landed two days ago (https://git.archlinux.org/svntogit/packages.git/commit/trunk?h=packages/vulkan-loader-layers&id=612372c443a5094a1fa4d8ee686fcabed2bca347). but im not total sure (not is my bugreport).

the previouis version is 1.0.54.0 (https://git.archlinux.org/svntogit/packages.git/commit/trunk?h=packages/vulkan-loader-layers&id=af38335681d380

[2017-09-06 16:21] lenny-lunarg commented on #2051
Like @courtney-g said, instance extensions don't work without loader support because there's no way to automatically figure out how to reconcile the different physical devices. The theory behind these extensions was that KHX extensions were experimental extensions that should not be used in production code, so no one should ship anything that uses them. But people used KHX extensions in production

[2017-09-06 16:48] lenny-lunarg commented on #2047
The output that you posted looks to me like it's working properly. It shows that it found each layer manifest three times. It's skipping each file twice, and is loading each file once. Also, since this got updated in Arch on Sept 4, but the bug report and comments are dated to Aug 27-31, I think the issue has been solved.

I'm going to close this issue. If you find out that there's still problems

[2017-09-06 16:48] #2047 closed

[2017-09-06 17:00] sl1pkn07 commented on #2047
but like i say, only have only one

[code]

[code]

[2017-09-06 17:12] lenny-lunarg commented on #2047
The loader finds the same directory three times, and as a result finds each file three times. It finds the directory twice from `XDG_DATA_DIRS` because it's given twice in that variable. Furthermore, the loader searches `/usr/share/vulkan/...` even if `XDG_DATA_DIRS` isn't set to that directory. This is why it finds everything the third time.

The code that prevents the same layer from being loade

[2017-09-06 17:43] sl1pkn07 commented on #2047
tnx for the info

greetings

[2017-09-06 17:54] Jasper-Bekkers opened #2053 "Validation layer doesn't catch missing transition for vkCmdCopyQueryPoolResults"
This rule appears to slip through the validation layer causing incorrect timestamp query results on at least AMD hardware.

Could be a duplicate of #2014

[2017-09-07 13:55] jjulianoatnv opened #2060 "windows vulkanrt-installer needs to be signed with SHA-2 (not just SHA-1)"
This issue requests that the vulkanrt-installer exe, as well as the .exe and .dll files contained within the installer package, be signed using a SHA-2 certificate.

Currently the vulkanrt-installer is only SHA-1-signed. Due to weak security of SHA-1 certificates, Windows is migrating toward a future where SHA-1 is distrusted throughout Windows in all contexts. On Windows, the vulkanrt-installer i

[2017-09-07 13:56] jjulianoatnv commented on #2060
Win7 support poses an interesting problem for display drivers, which I think may get installed onto a Windows 7 OS before the OS has pulled from Windows Update the patch that adds SHA-2 support.  The vulkanrt-installer gets installed as part of IHV display driver packages. There is a concept called "dual signing" that affects kernel display drivers, where the file is signed with both SHA-1 and SHA

[2017-09-07 14:07] jjulianoatnv commented on #2060
I edited the description explicitly request that SHA-2 signing apply to both the installer .exe and the files contained within (exe and dll files). The older description text mistakenly forgot to make a claim on the files contained within.

[2017-09-07 14:57] Jasper-Bekkers opened #2061 "Validation layer proposal"
A while ago I built a small class that does a vkCmdFillBuffer with a unique ID to a cpu visible buffer, for every marker I have in my code.

That way when I get a DEVICE_LOST message, I can peek in the cpu visible buffer and print the last marker I crossed.

I figured it might be a nice feature to have in a validation layer.

[2017-09-07 15:00] jjulianoatnv commented on #2060
We think that dual-signing is required. Here is some info on dual-signing that may be helpful:

- For DigiCert : https://www.digicert.com/code-signing/code-signing-dual-signing-sha256-sha1.htm
- For Symantec Certificate: https://knowledge.symantec.com/support/code-signing-support/index?page=content&id=INFO2274&pmv=print&actp=PRINT

[2017-09-07 15:16] karl-lunarg commented on #1612
Idea: #2061 - Add a layer that writes a unique ID to a CPU-visible buffer whenever a marker is encountered.  After a GPU crash, the buffer can be examined to see the last ID written.

[2017-09-07 15:17] karl-lunarg commented on #2061
Added to #1612

[2017-09-07 15:17] #2061 closed

[2017-09-07 15:17] chaoticbob commented on #1880
+1 comes up pretty frequently in discussions

[2017-09-08 12:09] Jasper-Bekkers opened #2063 "Validate against VkPhysicalDeviceLimits"
Please add validation for a bunch of these since some devices have very low limits and it looks like currently none of these are checked.

[code]

[2017-09-08 14:46] Themaister opened #2064 "vkEnumerateInstanceExtensionProperties cannot be called from CreateInstance in a layer"
I am trying to write a Vulkan layer which injects functionality which requires particular extensions from an ICD.

The application might not enable those extensions, so I am trying to add those extensions in the layer's CreateInstance when going down the chain.

To do this robustly, I need to query that the extensions actually exist before calling pfnNextGetInstanceProcAddr. However, querying vkEn

[2017-09-08 14:52] MarkY-LunarG commented on #2064
This is currently "as designed".  The original intent was this information was queried by the desktop loader from the layer JSON files.  However, we are investigating the usefulness of this.

[2017-09-08 14:56] Themaister commented on #2064
Similar for vkEnumerateDeviceExtensionProperties in CreateDevice.

[2017-09-08 14:56] Themaister commented on #2064
The current workaround is dlsym(RTLD_DEFAULT, ...)

[2017-09-08 15:00] Themaister commented on #2064
Actually, it's not ... vkEnumerateInstanceExtensions deadlocks in libvulkan.so. Probably some global lock is taken in vkCreateInstance and in vkEnumerateInstanceExtensions as well.

[2017-09-08 15:01] MarkY-LunarG commented on #2064
I'm not sure why dlsym changes would make it work.  The `vkEnumerateInstanceExtensionProperties` extension should be implemented by the loader and ICDs only and you shouldn't attempt to try to call the ICD function directly.  We're looking into a more proper way to do this.  However, I don't see why `vkEnumerateDeviceExtensionProperties` shouldn't work by default.  I've assigned Lenny this issue,

[2017-09-08 15:10] Themaister commented on #2064
Yeah, dlsym(RTLD_DEFAULT) actually didn't work, so please disregard that.

What I tried was dlopen("libvulkan.so") directly, then call into vkEnumerateInstanceExtensionProperties, which deadlocked.

[2017-09-11 08:13] adam-sawicki-amd commented on #2019
Is there any update on this?

[2017-09-11 14:31] mark-lunarg commented on #2050
Closing this for now as there is no action required.  @kristan2016, if you find an issue with the layers or the loader please reopen this issue.  Good luck with your application.

[2017-09-11 14:31] #2050 closed

[2017-09-11 14:53] mark-lunarg commented on #2019
All updates will show up here.  @adam-sawicki-amd, I pulled your repro project (thanks for this BTW!) and with Top-of-tree loader and layers I do not get any crashes.  There is a single validation error on shutdown saying a DSLayout object hasn't been destroyed but that's not relevant to your issue.  This is with an Nvidia GPU running Windows 10 (please let me know if program output or other info

[2017-09-12 20:21] lenny-lunarg commented on #2060
We've updated our internal build process to take all of the files that were being signed with SHA-1, and also sign them with SHA-256. This means that all dll and exe files in the runtime (and SDK, for that matter) should be dual signed. This will apply to all future SDK releases.

[2017-09-12 20:21] #2060 closed

[2017-09-13 12:53] adam-sawicki-amd commented on #2019
On Windows 10, Radeon RX 480, latest driver 17.9.1, latest SDK 1.0.57.0, the crash still occurs on my machine.

I cloned and built validation layers myself, from latest code on master branch and pointed VK_LAYER_PATH to them. Crash still occurs. In Debug version, I can see following call stack:

Crash occurs in this line:

[code]

`pImmutableSamplers` points to 0xdddddddddddddddd, which indicates

[2017-09-13 13:20] adam-sawicki-amd commented on #2019
I found and fixed the bug. Basically assignment operator is missing in structure `safe_VkDescriptorSetLayoutBinding`, which is especially important because you use it with STL, which copies the object many times.

Just add following method:
[code]

Please check if other structures need similar fix as well.

See also: http://en.cppreference.com/w/cpp/language/rule_of_three

[2017-09-13 13:47] jjulianoatnv commented on #2060
Using a (private) alpha SDK that was built using the new signing method, I verified that the new signature look good and that they seem to adequately address this issue.  Thanks for the quick action on this issue.

[2017-09-15 20:49] mark-lunarg commented on #287
Fixed by PR #1957.

[2017-09-15 20:49] #287 closed

[2017-09-15 20:50] mark-lunarg commented on #412
@chrisforbes, is this one baked?

[2017-09-15 20:52] mark-lunarg commented on #438
This document has been superseded and no longer exists.  Closing for now.

[2017-09-15 20:52] #438 closed

[2017-09-15 20:58] mark-lunarg commented on #640
@daveh-lunarg pushed changes, and along with the Maintenance1 extension changes this is now settled and handled correctly.

[2017-09-15 20:58] #640 closed

[2017-09-15 21:10] chrisforbes commented on #412
Not fully. The swapchain -> CV merge was completed some time ago, and we track the acquired bit now on images, but we don't complain about misuse.

[2017-09-15 21:20] mark-lunarg commented on #699
The referenced valid usage checks are complete.

[2017-09-15 21:20] #699 closed

[2017-09-15 21:22] mark-lunarg commented on #711
This work has been completed.

[2017-09-15 21:22] #711 closed

[2017-09-15 21:24] mark-lunarg commented on #802
@chrisforbes, was this by chance covered by PR #2004 or maybe a related change?

[2017-09-15 21:25] chrisforbes commented on #802
This is done, closing.

[2017-09-15 21:25] #802 closed

[2017-09-15 21:28] mark-lunarg commented on #802
Sweet!  Thanks.

[2017-09-15 21:30] chrisforbes commented on #2048
I looked into this the other day, and I understand the breakage properly now. When this is the first use of the image subresource in a CB, we mishandle the layout matching requirement - we can't do the 'prompt' check at recording of the draw; and then we fail to record the requirement into the CB so we also miss it at execution time.

This is a symptom of some bigger mess around layout tracking th

[2017-09-15 21:51] mark-lunarg commented on #948
This has been fixed.  @heeen, please reopen if you still experience related problems.  Thanks!

[2017-09-15 21:51] #948 closed

[2017-09-15 22:01] mark-lunarg commented on #1425
This issue has been resolved.

[2017-09-15 22:01] #1425 closed

[2017-09-15 22:28] tobine commented on #2048
Still a long way off from overhaul of layout tracking. Still possible to integrate with mem access code but after reviewing layout code I was a bit too optimistic in potential ease of this integration. Also Mem access tracking still needs plenty of work and no hope for near-term solution down this path. More duct tape and bubble gum may be best hope for fixing this issue in a reasonable timeframe.

[2017-09-16 21:14] baldurk opened #2070 "Core validation crashes accessing renderpass info after destruction"
In `ValidatePipelineDrawtimeState` in [core_validation.cpp](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/layers/core_validation.cpp#L1098-L1103) there's code to check renderpass compatibillity between the currently active renderpass and the renderpass used to create the pipeline, if they're not the same:

[code]

But this crashes if `GetRenderPassState` returns `NUL

[2017-09-17 05:21] haasn opened #2071 "Oversealous warning on vkGetPhysicalDeviceSurfacePresentModesKHR"
In this code:

[code]

I get an error as follows:
[code]

But I believe common sense dictates that the number of supported swapchain modes can never exceed the number of swapchain modes. I think this warning is a bit too aggressive in cases like these.

[2017-09-17 05:22] haasn commented on #2071
To clarify, the expected behavior would be for this layer check to look at the contents of `*pPresentModeCount`, and only warn if it's lower than `VK_PRESENT_MODE_RANGE_SIZE_KHR`.

[2017-09-18 19:36] #2070 closed

[2017-09-18 19:38] tobine opened #2074 "Write test to verify no pipeline state / renderpass lifetime issues"
See #2070
Need an LVL test that uses a pipeline after its renderPass has been destroyed to verify no issues in validation.

[2017-09-18 22:32] chrisforbes opened #2075 "No errors produced for using extension dynamic states without extension enabled"

[2017-09-18 22:33] chrisforbes commented on #2075
VK_DYNAMIC_STATE_VIEWPORT_W_SCALING_NV etc

[2017-09-19 00:12] ioquatix opened #2076 "Memory leak in createImage"
When running with validation layers on, and the llvm address sanitizer, I get the following

[code]

There are other reports too - it's proportional to the number of frames rendered. No other issues reported by validation layers, and no memory leak when validation layers are disabled.

[2017-09-19 13:16] krOoze commented on #2071
Problem with common sense is that it is wrong more often than not.
Firstly you should not be using `VK_PRESENT_MODE_RANGE_SIZE_KHR`. TMK it is deprecated. And always was non-standard anyway.
Secondly it is defined as `VK_PRESENT_MODE_RANGE_SIZE_KHR = (VK_PRESENT_MODE_FIFO_RELAXED_KHR - VK_PRESENT_MODE_IMMEDIATE_KHR + 1)` which results in `4`, but if you look closely, there is 6 present modes inclu

[2017-09-19 14:34] mark-lunarg commented on #2076
@ioquatix, can you a bit of context?  Looks like you're running a test application using vulkan.hpp and the layers?  And this is specifically saying that CreateImageUnique in vulkan.hpp, when going through the validation layers, is missing a delete somewhere?

[2017-09-19 14:35] ioquatix commented on #2076
Yes, that's correct. I can add context, but I don't know how to get a stack trace which includes more symbols. Is that because it's hitting the driver? I compiled with all debug options on.

[2017-09-19 14:36] ioquatix commented on #2076
The actual unique image is released correctly.. but the memory leak appears to be in the guts of the driver/validation layer.

[2017-09-19 14:39] mark-lunarg commented on #2076
Yes, I understand and this helps.  Having Vulkan.HPP in the middle complicates things a bit but I will give it a shot -- thanks a bunch for finding this.

[2017-09-19 14:40] ioquatix commented on #2076
I believe this should be a pretty easy repro.

[2017-09-19 17:05] cdwfs commented on #1771
@krOoze: can you confirm that all the original issues you raised have been fixed? If not, it may be worth closing this issue and raising any remaining bugs as a new issue to avoid confusion.

[2017-09-19 17:33] krOoze commented on #1771
@cdwfs I still get nr. 2. Closing per your advice anyway.

[2017-09-19 17:33] #1771 closed

[2017-09-19 17:38] krOoze opened #2078 "Loader test CreateInstanceDeviceItentionalAllocFail fails on AMD"
Running `vk_loader_validation_tests` I get:

C:\Dev\\_GitHub\Vulkan-LoaderAndValidationLayers\tests\loader_validation_tests.cpp(1454): error: Value of: VK_SUCCESS
  Actual: 0
Expected: result
Which is: -3
[  FAILED  ] Allocation.CreateInstanceDeviceIntentionalAllocFail (1639 ms)

This is on Windows 10 x64, AMD R9 280X, Radeon Software 17.9.1.

[2017-09-19 17:56] krOoze opened #2079 "Layer tests terminate with RangeCheck exception in VS2017"
Layer tests terminate with RangeCheck exception in VS2017 on incrementally build Debug configuration.

If I do `build_windows_targets.bat 64` and then open the `VULKAN.sln` and run the `vk_layer_validation_tests` in Debug configuration, then I get RangeCheck exception that terminates the process.

There is not much callstack when it happens. So by stepping through it I discovered it always happens

[2017-09-19 17:59] krOoze opened #2080 "RenderPassIncompatible test have unexpected validation messages"
Running `vk_layer_validation_tests` I get:

Unexpected: vkCmdBeginRenderPass(): RenderPasses incompatible between render pass w/ renderPass 0xe and framebuffer w/ renderPass 0x6 Attachment 0 is not compatible with 4294967295: The second is unused while the first is not.. The spec valid usage text states 'renderPass must be compatible with the renderPass member of the VkFramebufferCreateInfo struct

[2017-09-19 18:34] #2074 closed

[2017-09-20 17:29] lenny-lunarg commented on #2051
Did this help you out? If there's nothing else to add here, then I'd like to close the issue.

[2017-09-20 17:35] lenny-lunarg commented on #2064
Sorry for the delay on this issue. I still haven't looked into exactly what this failure is, but I am working on a patch that will allow implicit layers to intercept functions like `vkEnumerateInstanceExtensionProperties` which are called before an instance is created. This is done to allow implicit layers to hide things that they won't support. This won't directly address your problem, but it is

[2017-09-21 10:01] kalmiya commented on #2051
Yes, thanks - the explanation was really helpful.
This issue can be closed.

[2017-09-22 16:45] mark-lunarg commented on #2076
This appears to be a duplicate of #1787.  Reassigned that one and plan to get to it soon, so closing this as a duplicate.  Thanks!

[2017-09-22 16:54] mark-lunarg commented on #2076
Sorry, got my APIs crossed.

[2017-09-22 19:50] #2051 closed

[2017-09-24 04:48] UPS7kYkHEPbZIucaqjje opened #2086 "VkDrawIndexed validation layer suggestion"
Basically:
Created only created pipeline once (which needs a renderpass) because it is a dynamic pipeline

later on

On window resizing
    destroyed renderpass and recreated it
    recreated commandbuffers
    VkDrawIndexed throws an exception that has no validation layer attached or message. The exception only happens on debug mode. Because the pipeline is referencing an old renderpass.

Can a v

[2017-09-24 05:58] haasn opened #2087 "Layer rejects SPIR-V with bogus error message"
[code]
[code]

[code]

Disabling the validation layer works fine. The generate SPIR-V does not even contain any ClipDistance decorations.

[2017-09-25 11:08] DominikWitczakAMD opened #2088 "PRTs + input attachments: Verify FB attachments accessed by input attachments are fully backed by physical memory, as far as renderpass' render area is considered."
Let X be an image defined as a FB attachment. Let X also be a partially-resident image.

Now, consider a renderpass with two subpasses:

* Subpass 1) renders to a color attachment which uses an image view whose parent image is X.
* Subpass 2) uses an input attachment which reads data rasterized in subpass 1.

Finally, let the renderpass use a DONT_CARE store op.

This use case could potentially be

[2017-09-26 16:04] haasn opened #2089 "No error when recreating swapchain while rendering to an existing swapchain image"
The following sequence of calls appears to be UB:

1. `vkAcquireNextImageKHR(swapchain, ...);`
2. Render to this swapchain image
3. `vkQueuePresentKHR(...)`
4. (without delay) `vkCreateSwapchain(..., { .oldSwapchain = swapchain });`

That is to say, it seems to be UB to recreate the swapchain while an image acquisition or rendering command to this swapchain is ongoing; leading to a deadlock on all

[2017-09-26 16:07] mark-lunarg commented on #2089
Maybe a candidate for the Assistant Layer, #1612.

[2017-09-26 16:40] haasn commented on #2089
Here is an example of a call sequence that results in a deadlock on current nvidia (384.69):

[code]

At that point the device just deadlocks completely, and the fences for the last vkQueueSubmit never completes. I have to hammer ^C a few times (while fighting through X being very unresponsive) to terminate the application. On amdgpu, the entire GPU just locks up completely.

This call sequence do

[2017-09-26 16:55] #2089 closed

[2017-09-26 23:54] danielmaciel opened #2090 "Wrong ParameterValidation(ERROR) when using VK_KHR_get_physical_device_properties2"
If one uses VK_KHR_get_physical_device_properties2 and specifies one's features using VkPhysicalDeviceFeatures2KHR instead of VkPhysicalDeviceFeatures and sets 'features. samplerAnisotropy' to VK_TRUE, a 'ParameterValidation(ERROR)' is issued:

ParameterValidation(ERROR): object: 0x0 type: 0 location: 1497 msgCode: 8: vkCreateSampler(): The samplerAnisotropy feature was not enabled at device-creat

[2017-09-28 21:05] tobine commented on #2086
@UPS7kYkHEPbZIucaqjje If I understand your complaint correctly it sounds like a driver bug. Here's [spec](https://www.khronos.org/registry/vulkan/specs/1.0-extensions/html/vkspec.html#fundamentals-objectmodel-overview) text on renderPass lifetime:

[2017-09-28 21:54] Berserker66 opened #2093 ""simultaneously used " validation does not have enough information."
In my case I have something like this:

https://pastebin.com/Z7UHMFny

Which unfortunately only tells me that something is wrong but does not actually help me in finding this issue. I logged the thread idents and slowly figured out that it must be my main thread and a thread that syncs the chromium embedded framework texture data. I'm still not sure what is actually happening and I'll need to inve

[2017-09-28 22:15] mark-lunarg commented on #2093
Yeah, it shouldn't be hard to plumb the extra info through, and it's a great idea.  Thanks!

[2017-09-29 18:02] tobine commented on #2087
@haasn Note that if you pass "VK_VALIDATION_CHECK_SHADERS_EXT" down the pNext of [VkInstanceCreateInfo](https://www.khronos.org/registry/vulkan/specs/1.0-extensions/html/vkspec.html#VkValidationFlagsEXT) it will skip shader checks in validation which will work around this issue until the bug is fixed.

[2017-09-29 18:49] tobine opened #2094 "Clean up descriptor copy update validation"
Src probably shouldn't need to be updated. Need some more spec language and potentially new VUIDs around copy update cases, currently primarily copy/reuse write update VUIDs. Add more copy update testing as well.

[2017-09-29 22:22] jschnarr-nv opened #2096 "Memory validation does not account for external memory"
Doing a blit with a source image using external memory results in this spurious error:

vkCmdBlitImage(): Cannot read invalid region of memory allocation <x> for bound Image object <y>, please fill the memory before using.

This validation (part of VK_LAYER_LUNARG_core_validation) should check for external memory. In this case we have no way of verifying if the memory has been initialized by anoth

[2017-10-01 11:51] Berserker66 opened #2097 "May have found something that isn't validated."
So, in my project I just messed with the way all my command pools and command buffers are handled.

At the end of the restructure, I now have a vulkan crash on exit. No validation warning of anything being wrong.
https://i.imgur.com/KgqKb2h.png

I use vulkan through a python wrapper, so I don't know much about what seems to have gone wrong on the C level, I also almost never use Visual Studio, so

[2017-10-01 17:09] krOoze commented on #2097
AFAIK unfortunatelly the current architecture does not allow validating dispatchable handles (such as device and instance). It simply crashes in the loader trying to use the no-longer-valid instance before it can even get to the validation layer checking function.

It is a bit obvious really. Validatiob layers are *instance layers*. No/destroyed instance -> no layer.

[2017-10-01 17:53] Berserker66 commented on #2097
Mh. Sounds reasonable. But is there a way to hook into the instance destruction and validate things before the instance gets destroyed? Basically as soon as the destroy instance is run, you then check if everything was cleaned up?

[2017-10-01 17:59] krOoze commented on #2097
@Berserker66 Oh yeah, that should happen. AFAIK all the leaked objects are reported.

[2017-10-02 15:20] tobine commented on #2097
@Berserker66 yes, object_tracker will [report](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/layers/object_tracker_utils.cpp#L286-L380) undestroyed objects at DestroyInstance() and DestroyDevice() time.

[2017-10-02 19:06] krOoze commented on #2097
@tobine I have stitched together (not-so-)minimal example testing it:
https://gist.github.com/krOoze/4741b5202e8c07e31bb786b9cb365db1#file-temporarydebugonly-cpp

I leak `VkDevice` child of instance.
I get no validation error.

Also I tried with a debug callback object. I get (for some reason) four errors about the leaked callback object, but still nothing about device.

[2017-10-02 19:26] mark-lunarg commented on #2097
@krOoze, yup, DestroyInstance calls ReportUndestroyedObjects for each device, and though it will report any objects owned by THAT device as 'leaked' it won't say anything specific about the device itself.  We can certainly make this more clear.

[2017-10-02 19:56] Novum opened #2098 "Consistently prefix handle values with 0x"
The layers sometimes outputs handles without 0x before the value. It would be helpful if this would be consistent for parsing issues. Or even better use a more unique prefix.

[2017-10-02 20:05] mark-lunarg commented on #2098
It'll be 0x for now -- @Novum, can you share some suggestions for a prefix?

[2017-10-02 21:07] mark-lunarg commented on #1146
@TobiasHector, I'm removing the warnings for setting READ_BITs in SrcAccessMasks, but haven't been able to find any spec language that says we should warn if they ARE set (from your 2016/11/14 comment).  Did the warnings actually make it into the spec?

[2017-10-03 01:50] Novum commented on #2098
0x is fine, as long as all handles have it consistently. That way we can parse the handles and replace with our debug names. But if other 64 bit hex values are output that way that would create confusion again.

[2017-10-03 08:50] adam-sawicki-amd commented on #2019
Is there any update on this? I can see there were already 2 releases of Vulkan SDK since this bug was reported.

[2017-10-03 10:45] linuxaged opened #2099 "[Help] How to fix the `descriptor not accessible from stage` error ?"
The error says:

	Error: [SC] Code 14 : Shader uses descriptor slot 0.0
	(used as type `ptr to const uniform sampler+image(dim=1, sampled=1)`)
	but descriptor not accessible from stage VK_SHADER_STAGE_FRAGMENT_BIT

If I get it correctly, this error means `VkDescriptorSetLayoutBinding.stageFlags` does not match `VkPipelineShaderStageCreateInfo.stage`. But I am sure both of them were set to `VK_SHAD

[2017-10-03 14:56] mark-lunarg commented on #2019
@adam-sawicki-amd, no update.  @tobine, is there a way to modify the DS routines to avoid the copies, or do we need to add the assignments to the safe struct codegen?  Ugh.

[2017-10-03 16:06] johnzupin commented on #1962
Looks like the CMAKE_ASM-ATT_FLAGS variables in loader/CMakeList.txt needs to be cached.

I'm doing some more testing and will create a pull request today.

[2017-10-03 19:59] johnzupin commented on #1962
I don't think this was a fix actually, still looking for solutions...

[2017-10-03 21:45] Novum opened #2100 "Performance is extremely poor with validation layers"
I understand that some performance degradation is expected, but with a lot of API calls the performance even with only core validation is unworkable. We are talking <1FPS where we would easily manage >200FPS on CPU side otherwise.

[2017-10-03 22:15] mark-lunarg commented on #2100
Getting a sample workload showing the issue, or at least some areas to focus on would be helpful.  In the complex workloads we do have, the performance impact is much less than you are experiencing.

[2017-10-03 22:39] Novum commented on #2100
You should ship PDBs for the release validation layers. That way I could do performance profiling without having to recompile anything & it would help debugging in general.

[2017-10-03 22:40] mark-lunarg commented on #2100
We'll look into doing so.

[2017-10-03 22:41] Novum commented on #2100
Thank you, I appreciate it.

[2017-10-04 01:22] chrisforbes commented on #2019
@adam-sawicki-amd can you confirm that the codegen change in #2101 resolves this for you?

[2017-10-04 02:36] chrisforbes commented on #2099
u_diffuse should be declared with the 'binding' layout qualifier, not
'location'. The location qualifier there does nothing.

On Oct 3, 2017 03:45, "Tracy Ma" <notifications@github.com> wrote:

The error says:

Error: [SC] Code 14 : Shader uses descriptor slot 0.0
(used as type `ptr to const uniform sampler+image(dim=1, sampled=1)`)
but descriptor not accessible from stage VK_SHADER_STAGE_FRAGMENT

[2017-10-04 07:06] linuxaged commented on #2099
@chrisforbes , fixed, thanks!

[2017-10-04 07:06] #2099 closed

[2017-10-04 10:39] adam-sawicki-amd commented on #2019
I confirm that this change fixes the bug. My repro app now works correctly. Thank you very much!

Please let me know when this fix is released with new Vulkan SDK - please post a comment here.

[2017-10-04 16:55] ikelos commented on #1962
This has been reported to Gentoo as [bug 625844](https://bugs.gentoo.org/625844).  They report that this is an issue in 1.0.54.0 and is still present in 1.0.61.1.  I'm sure there would be some users on there happy to help test out potential patches if that would help?

[2017-10-04 17:48] RCalocaO commented on #2100
We have the same issue on UE4; I'll try to get a Very Sleepy capture and upload it.

[2017-10-04 17:52] RCalocaO opened #2104 "Invalid buffer in bufferViewMap causes crash"
Unfortunately not an easy repro; if you run UE4 with the Elemental Demo on Vulkan with validation layers enabled, it will crash after ~5 minutes here:
	VkLayer_core_validation.dll!cvdescriptorset::DescriptorSet::ValidateBufferUsage(buffer_node, type, error_code, error_msg) Line 1325	C++
 	VkLayer_core_validation.dll!cvdescriptorset::DescriptorSet::VerifyWriteUpdateContents(update, index, error_cod

[2017-10-04 17:53] RCalocaO commented on #2104
This is with the 1.0.61.0 SDK on Win7.

[2017-10-04 19:14] RCalocaO opened #2106 "Crash in vkCreateComputePipelines when layout is VK_NULL_HANDLE"
Set PipelineInfo.layout = VK_NULL_HANDLE; and it will crash inside the validation layers on:

        skip |= validate_compute_pipeline(dev_data, pPipeState[i].get());

 	VkLayer_core_validation.dll!PIPELINE_LAYOUT_NODE::operator=(__that)	C++
 	VkLayer_core_validation.dll!core_validation::CreateComputePipelines(device, pipelineCache, count, pCreateInfos, pAllocator, pPipelines) Line 4547	C++

pPip

[2017-10-04 19:14] RCalocaO commented on #2106
SDK 1.0.61.0

[2017-10-05 14:18] RCalocaO opened #2107 "VK_LAYER_LUNARG_api_dump: Allow dumping debug markers"
Supporting VK_EXT_debug_marker would make debugging a *lot* easier since it can easily tell the user where in the frame one is supposed to be when cross referencing draw calls.

[2017-10-06 03:09] airlied opened #2111 "text relocations in 32-bit loader build on Linux"
Since the asm changes went in for the unknown device extensions, we've been seeing TEXTRELs in the vulkan loader library on 32-bit x86 systems. TEXTRELs anger the security people.

I've looked at the code, and I think something like the below should work, but I'm not export on relocations.

diff --git a/loader/unknown_ext_chain_gas.asm b/loader/unknown_ext_chain_gas.asm
index 798760b..0e9be89 1006

[2017-10-06 04:05] airlied commented on #2111
also possible this should be @GOTOFF

[2017-10-06 14:14] DominikWitczakAMD opened #2112 "Core validation: Report error when an app requests both VK_AMD_negative_viewport_height and VK_KHR_maintenance1 extensions at device creation time."
We're seeing some apps out there ignoring the requirement.

[2017-10-06 14:51] #2079 closed

[2017-10-06 16:04] mark-lunarg commented on #2112
@DominikWitczakAMD, this check (VALIDATION_ERROR_056002ec)  is implemented in the parameter_validation layer, and we have a layer test for it (Maintenance1AndNegativeViewport).  Are apps you are seeing ignoring the errors, or not seeing them at all?

[2017-10-06 17:20] lenny-lunarg commented on #2111
When I run `scanelf` on the 32-bit loader as it is currently in master, I get an error on the loader. When I make your suggested change, the error goes away. When I test it, it seems good. On top of that, we're already using `@GOTPCREL` for the 64-bit loader. I believe that I added `@GOTPCREL` to the 64-bit code to solve this exact issue, but I didn't add it to the 32-bit code because it won't ass

[2017-10-06 17:20] #2111 closed

[2017-10-06 19:29] jeremyk-lunarg commented on #2098
@Novum, could you give me an example where the layers output handles without 0x?

[2017-10-06 22:53] UPS7kYkHEPbZIucaqjje commented on #2086
Let me try and explain again.

I created an initial dynamic pipeline with a renderpass (lets call it renderpass_1) I created beforehand.

Then on window resizing, I destroyed and recreated the renderpass_1 with the same parameters. Now I have a renderpass_2.

Now when I recreate the commandbuffers the VkDrawIndexed throws an exception. Presumably because when attaching the pipeline again the pipel

[2017-10-07 00:25] chrisforbes commented on #2086
@tobine this sounds like what's been recently fixed in master.

[2017-10-07 00:25] #2086 closed

[2017-10-09 06:13] DominikWitczakAMD commented on #2112
Ah, that's good to hear ! Apologies, I should've checked this myself with a ToT version of the layers, prior to opening the ticket.

[2017-10-09 06:13] #2112 closed

[2017-10-09 20:22] chrisforbes commented on #2106
This requires continuing past the check in parameter validation, yes?

[2017-10-10 01:34] haasn opened #2120 "32-bit builds unknown_ext_chain_gas.asm:373: Error: operand type mismatch for `push'"
I get the following errors when trying to build the LVL via my system packages (gentoo's vulkan-loader-9999.ebuild) using ABI_X86="64 32":

[code]
The error does not occur when removing the x86 compatibility mode and building the 64-bit version exclusively.

Here's a full copy of the build log generated by portage: http://0x0.st/CiE.log
Here is a transcript of the configuration step:

[code]

[2017-10-10 01:41] haasn opened #2121 "vulkan.pc contains extraneous `Libs`"
The generated vulkan.pc looks like this on my machine:

[code]

But this usage of `Libs:` is wrong. The Libs should only refer to what's needed to link against the actual vulkan.so, i.e. `-L${libdir} -lvulkan`. The rest of the libraries (the ones required *by* vulkan.so for static linking purposes) should go to `Libs.private:`. Compare, for example, libflac's `flac.pc`, which is about as standard

[2017-10-10 10:24] jozefkucia commented on #2120
Just to be sure do you set "ASFLAGS=--32" for 32-bit build?

[2017-10-10 10:33] haasn commented on #2120
@jozefkucia I don't think so. If that flag is required, then I suppose that makes this a bug in packaging?

[2017-10-10 10:43] jozefkucia commented on #2120
Yes, it's required. See https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/e5f8ddf64bd831f103f38f419a48bae79c270d48/BUILD.md#linux-32-bit-support

[2017-10-10 15:31] #1146 closed

[2017-10-10 15:58] mark-lunarg commented on #2106
@RCalocaO, as @chrisforbes pointed out, an error _will_ be generated in Parameter Validation saying something like:

The deeper layers rely on PV for just that purpose and do not repeat null checks, so this behavior is by design.

[2017-10-10 15:58] #2106 closed

[2017-10-10 20:51] johnzupin commented on #2121
Created PR #2122

[2017-10-10 22:50] johnzupin commented on #2121
The PR was merged. Do a pull and build @haasn and let me know if I can close this out.

[2017-10-10 22:52] tobine commented on #2104
Hi @RCalocaO, I've been looking at this a bit. Potential root cause is not clear to me from code inspection so I'm attempting to fire up the demo. I've got it working in-editor on Linux, but it's not clear if/how to run with Vulkan + Validation layers there. I'm still downloading the UE editor for Windows.

Can you send me instructions for how to make sure I'm running w/ Vulkan and validation laye

[2017-10-10 22:59] mark-lunarg commented on #2104
@mikes-lunarg and I are building it as well (for Windows) and plan to run the Elemental demo on Vulkan, so we're interested too.

[2017-10-10 23:30] haasn commented on #2121
Looks good, thanks. Closing

[2017-10-10 23:30] #2121 closed

[2017-10-11 11:03] DominikWitczakAMD opened #2123 "Core validation layer: Invalid validation error reported for a specific RP configuration"
1. Let X be a renderpass, built of subpasses 1 and 2.
2. At X's creation time, the following dependencies are specified:

* 1->1 (``srcStageMask`` = 1024, ``dstStageMask`` = 128, ``srcAccessMask`` = 256, ``dstAccessMask`` = 16)
* 1->2 (``srcStageMask`` = 128, ``dstStageMask`` = 128, ``srcAccessMask`` = 256, ``dstAccessMask`` = 16)

When recording the 1->1 image barrier for subpass 1, validation co

[2017-10-11 11:05] DominikWitczakAMD commented on #2123
For a repro, please reach me under the usual e-mail address. :-)

[2017-10-11 14:20] RCalocaO commented on #2104
Thanks @tobine and @mikes-lunarg ! You can run the editor version:
UE4Editor _FULL_PATH_TO_ELEMENTALDEMO_.uproject -vulkan -game -windowed -resx=1920 -resy=1080

To enable the validation layers, the easiest way is to locate the ConsoleVariables.ini file and add a line:
r.Vulkan.EnableValidation=2
(0 = no layers, 1 = print errors, 2 adds warnings, 3 adds perf msgs, 4 adds debug msgs)

I'd suggest y

[2017-10-11 14:21] RCalocaO commented on #2104
Running it first w/o validation layers will also show you how slow it runs when you do enable them :)

[2017-10-11 14:24] AdaDoom3 opened #2124 "Vsync in cube demo malfunctions in high-contrast mode"
The cube demo behaves strange when the windowing theme is changed to high-contrast mode in Windows 8.1

![image of failure](https://i.stack.imgur.com/iEEUp.gif)

[2017-10-11 14:31] mark-lunarg commented on #2104
@RCalocaO, yeah, this will really help -- can't believe we haven't done this before now...

[2017-10-11 14:35] RCalocaO commented on #2104
Also FYI, just reproduced the crash, and it took 15 minutes to get it to where it crashes the layers.

[2017-10-11 14:36] RCalocaO commented on #2104
Feel free to ask me any questions, through here or privately by email.

[2017-10-11 14:37] AdaDoom3 commented on #2124
More details here:
https://stackoverflow.com/questions/46632785/vulkan-fails-to-present-on-some-platforms

[2017-10-11 14:58] DominikWitczakAMD commented on #2124
This sounds like a driver-side issue to me ..

[2017-10-11 15:11] AdaDoom3 commented on #2124
Bingo...

If anyone in a position to fix this needs help (e.g. for verification or more info) I am keeping a close eye on this issue and respond promptly.

[2017-10-11 15:14] DominikWitczakAMD commented on #2124
So what's your config, exactly?

[2017-10-11 15:21] tobine commented on #2104
Just create #2125 which may fix this issue. After checking object_tracker I realized that for texel buffer storage/uniform descriptor updates, OT will only check to make sure the view is valid. That's reasonable for the scope of OT, but if the underlying buffer has been destroyed then this would lead to a crash in CV.

@RCalocaO, if this fixes the crash that probably means that the buffer backing

[2017-10-11 15:22] AdaDoom3 commented on #2124
Alienware 13 Laptop
BIOS: 1.2.2
OS: Windows 8.1 Build 9600
Driver: Vanilla 387.92 install (tried with many drivers though including Vulkan BETA)
GPU: GeForce GTX 960M

https://pastebin.com/A9L5nwth

[2017-10-11 15:30] tobine opened #2126 "Add check for memory object backing bufferView & Image descriptor updates"
In VK_DESCRIPTOR_TYPE_UNIFORM_TEXEL_BUFFER and VK_DESCRIPTOR_TYPE_STORAGE_TEXEL_BUFFER cases we need to make sure that if the memory backing the buffer is destroyed, that we flag an error. Definitely need to check at Draw time (which we already do for other buffer updates) but could also check this at update time.
It also appears that we don't verify backing memory for image updates. Need all of t

[2017-10-11 20:50] RCalocaO commented on #2104
Thanks, I'll check for that case.

[2017-10-12 09:59] ikelos commented on #2120
This is probably a duplicate of issue 1962.

[2017-10-12 10:46] haasn commented on #2120
This appears to be a duplicate of https://bugs.gentoo.org/show_bug.cgi?id=625844 which is mentioned by that issue, yes. Closing.

[2017-10-12 10:46] #2120 closed

[2017-10-12 16:03] luyatshimbalanga opened #2127 "Resizing the window in vulkan-smokescreen led to crash"
The issue was originally reported on [Red Hat Bugzilla](https://bugzilla.redhat.com/show_bug.cgi?id=1501188) and I was asked to file a bug report here. vulkan-smokecreen demo will crash when attempting to resize the window or set full screen.
Here is the generated backtrace:
`warning: core file may not match specified executable file.
[New LWP 8980]
[New LWP 8983]
[New LWP 8982]
[New LWP 8984]
[Ne

[2017-10-12 16:40] leigh123linux commented on #2127
FTR I can reproduce the crash on non-wayland using nvidia driver

[code]

[2017-10-12 16:51] #2104 closed

[2017-10-12 17:27] damienleone commented on #2127
The error returned is -1000001004, which is VK_ERROR_OUT_OF_DATE_KHR.

Looking at the source for smoketest shows:
vk::assert_success(vk::QueuePresentKHR(ctx_.present_queue, &present_info));

The application does not handle VK_ERROR_OUT_OF_DATE_KHR, which is going to be returned whenever the app is resized or put fullscreen.  Support needs to be added (cube and cubepp do support it).

[2017-10-12 17:47] kevinend opened #2128 "VK_DEBUG_REPORT_INFORMATION_BIT_EXT: Message clarity on successful insertion of validation layer"
When the loader inserts a validation layer it reports the message in the following manner:
"Insert device layer (*inserts device layer name*).

Would it be better to have the word "Insert" changed to "Inserted"?

I am new to Vulkan and I was initially very confused whether the message was telling me the loader successfully loaded the appropriate layer or needed me to insert the layer.

I know it i

[2017-10-12 18:18] jzulauf-lunarg commented on #2035
Investigating the issue. quixoticaxis -- if you are using an SDK can you let me know the version.  (or if you've built the layers from source, let me know the commit ID).  I've identified an issue fixed in 1.0.57 (and present in several prior revisions) that would have the symptoms you describe.

With this fix (assuming I'm correct) you would still potentially see the VK_ERROR_OUT_OF_HOST_MEMORY (

[2017-10-12 18:24] quixoticaxis commented on #2035
At the time I've submitted this issue I was using 1.0.51.0.

[2017-10-12 19:08] jzulauf-lunarg commented on #2035
That's consistent with what I'm seeing.  In 1.0.51.0, the parameter check was being masked. Can you retest with 1.0.57.0 or 1.0.16.1?

[2017-10-12 19:23] tobine opened #2130 "Handle mask validation for multiple subpass self-dependencies"
Spin-off of #2123. We are not correctly handling validation of barrier self-dependency. An initial fix should take care of the issue from that bug, but a secondary consideration is if there are multiple subpass self-dependencies. In that case, the barrier [src|dst][Stage|Access]Masks must be subsets of their respective masks for a single instance of VkSubpassDependency.

[2017-10-12 19:28] chrisforbes commented on #2123
Two parts to this:
- We should only be putting self-dependencies in `subpass_to_dep_index`. Other dependencies don't permit barriers. #2131.
- It's possible to have multiple self-dependencies in the same subpass. #2130.

[2017-10-12 20:04] #2123 closed

[2017-10-12 20:09] quixoticaxis commented on #2035
Everything is fine on 1.0.61.1, now I get "vkCreateSwapChainKHR() called with imageExtent = (0,0), which is outside the bounds..."
Looks good ^-^

[2017-10-13 13:18] jzulauf-lunarg commented on #2035
Fixed in 1.0.57.0. Closing.

[2017-10-13 13:18] #2035 closed

[2017-10-13 15:06] mark-lunarg commented on #2127
@luyatshimbalanga, thanks for the report, and thanks to @leigh123linux for the clarification and @damienleone for the answer!  The short answer here is that this is basically just a turn-on test for validation layer development -- we don't spend resources on it other than to keep it running.
That said, if anybody is interested (or motivated) enough I'll be more than happy to take a pull request!

[2017-10-13 15:06] #2127 closed

[2017-10-13 19:53] jeremyk-lunarg commented on #2124
We tried this on a Windows 8.1 desktop and a Windows 10 desktop, both with Nvidia GTX 750 graphics cards and were unable to reproduce the problem.  However, when testing on a Windows 10 laptop, there are significant issues when running with the Intel driver in high-contrast mode, and as the Optimus layer is involved on laptops the Intel driver might be involved.  Since this does not seem to be a V

[2017-10-13 19:53] #2124 closed

[2017-10-14 03:59] AdaDoom3 commented on #2124
Yes, this is related to laptops as the link to the stack overflow post under this ticket describes. As you are probably familiar Optimus is impossible to completely disable on a lot of modern laptops which is unfortunate considering how my current Vulkan binding as well as the cube demo malfunction so dramatically and yet still pass all validation and renderdoc inspection.

Have you filed an issue

[2017-10-14 05:45] DominikWitczakAMD commented on #2124
No.

[2017-10-14 10:05] AdaDoom3 commented on #2124
Ok, Thanks for the help. @DominikWitczakAMD @jeremyk-lunarg

[2017-10-16 07:28] DominikWitczakAMD opened #2134 "Report names, associated with VK objects via EXT_debug_marker, if provided by app."
Consider below example validation error:

``
vkCmdDraw(): Cannot use image 0x12ef05e0 with specific layout VK_IMAGE_LAYOUT_SHADER_READ_ONLY_OPTIMAL that doesn't match the actual current layout VK_IMAGE_LAYOUT_UNDEFINED.
``

If the application associates names with Vulkan objects, which is a piece of functionality introduced with VK_EXT_debug_marker, it would be tremendously useful to include them

[2017-10-16 09:27] DominikWitczakAMD opened #2135 "Core validation: Misleading error reported if no pipeline is bound and app tries to change a dynamic state"
Consider the use case below:

1. Start command buffer recording.
2. Set dynamic scissor data.

Of course, there's a missing 'bind pipeline' call above which is what should be raised by the layer. However, what I'm seeing with a ToT version of core validation layer is:

``
vkCmdSetScissor(): pipeline was created without VK_DYNAMIC_STATE_SCISSOR flag. The spec valid usage text states 'The currently

[2017-10-16 10:34] DominikWitczakAMD commented on #2134
It would be super-useful if the names could also be included with handles outputted by the api dump layer.

[2017-10-16 13:53] DominikWitczakAMD opened #2136 "Core Validation: Renderpasses whose attachments point to non-overlapping layers of 2D array images generate validation errors"
Let X be a renderpass with a total of 6 attachments. X consists of a total of 3 subpasses (S1, S2, S3), each rendering consecutively to a color attachment C1, C2 and C3, and resolving to resolve attachments R1, R2 and R3 (one per subpass).

Trick here is that R1, R2 and R3 all point to the same 2D array image, but - at the same time - it's a unique, nonoverlapping slice. In other words, R1 renders

[2017-10-16 13:54] DominikWitczakAMD commented on #2136
I forgot to add: this is for device instances, created with KHR_maintenance1 extension enabled.

[2017-10-16 14:53] DominikWitczakAMD commented on #2136
Turns out the image actually was a 3D image and the image views were 2D or 2D array, so that validation error actually makes sense. Yay. :)

[2017-10-16 15:10] mark-lunarg commented on #2134
@DominikWitczakAMD, this is a duplicate of #2107, and this is currently assigned to be done in the near future.

[2017-10-16 15:10] #2134 closed

[2017-10-16 15:18] mark-lunarg commented on #2136
Heh!  Keep 'em coming.

[2017-10-16 18:57] haasn opened #2137 "Add warning on mismatch between `sharingMode` and `queueFamilyIndexCount`"
Even though the spec explicitly allows it, it should probably generate a warning when setting `queueFamilyIndices > 1` and `sharingMode = VK_SHARING_MODE_EXCLUSIVE`.

Even in the scenario where the user deliberately wants to set both at the same time for whatever convenience-related reasons, silencing this warning would only be a single ternary or conditional away.

(Incidentally, it should also h

[2017-10-16 19:23] mark-lunarg commented on #2137
@haasn -- great idea.  I'm going to add this to our tracking issue for the Assistant layer, #1612.  We're in-progress on this layer now -- thanks for the suggestion, and please forward any others you may have (by adding to that issue, or just creating a new one).

[2017-10-16 19:23] #2137 closed

[2017-10-16 20:47] #1937 closed

[2017-10-16 20:49] jeremyk-lunarg commented on #1937
#1957 Should take care of this issue.

[2017-10-16 21:05] mark-lunarg commented on #2135
When this error is encountered, there should be two versions of the prefix string which get combined with the single target VUID depending on whether a pipeline is bound or not.  Then everybody's happy.

[2017-10-16 21:10] lenny-lunarg commented on #2128
You're right that this message isn't very accurate, so I've gone and fixed the message with commit a10675bc5993800983d073f5993214e37d6e2eb7.

That being said, the one thing I'd like to point out is that device layers have been deprecated for a while now. The details of this are available [here](https://www.khronos.org/registry/vulkan/specs/1.0/html/vkspec.html#extended-functionality-device-layer-d

[2017-10-16 21:10] #2128 closed

[2017-10-16 21:14] jeremyk-lunarg commented on #2098
@Novum, I've looked and haven't been able to find this in code.  Feel free to reopen this if you have an example.

[2017-10-16 21:14] #2098 closed

[2017-10-17 07:43] haasn opened #2139 "Link errors when trying to use functions from some extensions"
Some extensions, for example `VK_KHR_push_descriptor`, fail linking due to missing symbols such as `vkCmdPushDescriptorSetKHR`. This seems to me like an issue in the loader; since the generated `/usr/include/vulkan.h` defines these functions but the loader's `vulkan.so` doesn't export them. Another example, this one being quite a bit older, is `vkCreateDebugReportCallbackEXT`.

I would expect eith

[2017-10-17 10:16] jozefkucia commented on #2139
Vulkan loader doesn't export commands defined by extensions. You have to use `vkGetDeviceProcAddr()`.

The Vulkan specification says:

which case function pointers to these commands should be queried at runtime as described in
Command Function Pointers.

[2017-10-17 10:26] haasn commented on #2139
Wait, then why does the vulkan loader export commands like `vkCreateXlibSurfaceKHR`? Aren't those also provided by extensions?

[2017-10-17 10:43] jozefkucia commented on #2139
Yes, the desktop Vulkan loader exports some WSI extensions. It's documented here: https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/loader/LoaderAndLayerInterface.md#wsi-extensions. Instance extensions generally require support from loader so that's probably the main reason why WSI extensions are exported directly. Anyway, you can also load them using `vkGetInstanceProcA

[2017-10-17 10:55] haasn commented on #2139
I thought the whole point of the vulkan loader was to do away with the OpenGL scenario where everybody had to write their own custom loaders that loads every function under the sun into a dispatch table. And for the most part, it does - except for weird corner cases like this. Is it really expected that users develop their own vulkan loaders in every project? (Although I'm personally leaning towar

[2017-10-17 15:20] tobine opened #2140 "Scrub error messages and add suggestions where appropriate"
Tracking issue based on survey feedback. In general make sure that when error messages can give suggestions about *how* to fix the problem they should do so to assist the user.

[2017-10-17 15:24] courtney-g commented on #2139
The Vulkan working group decided to export the WSI extensions because almost all apps would need to use those. Basically a convenience to the developer.

The loader was never intended to export all symbols. It doesn't know what they are and doesn't need to know. For example, for device extensions, the loader doesn't need to know about the extension functions to support the extension. All the loade

[2017-10-17 16:59] mark-lunarg commented on #2139
Closing, as the loader is functioning as designed.

[2017-10-17 16:59] #2139 closed

[2017-10-17 23:33] nsubtil opened #2143 "Exposing extension entry points from loader?"
During a conversation at the Chicago F2F, the issue of extension loading in Vulkan came up. @mtavenrath has extensive experience with this particular topic and has found a few ways in which this is a thorny problem for Vulkan applications:

* It is illegal to define any app-side symbols that start with the string 'vk'. This means one can not define extension entry point symbols by name in client c

[2017-10-18 01:19] polarina commented on #2143
Apps can use `vkGetInstanceProcAddr` to obtain function pointers that are usable with all VkDevices created from the same instance.

[2017-10-18 01:24] polarina commented on #1787
Think this issue should be closed, the leaks reported here were fixed when #1841 got merged. :)

[2017-10-18 01:24] #1787 closed

[2017-10-18 01:34] polarina commented on #2076
It's because the validation layers get unloaded on `vkDestoryInstance`, the code is no longer in memory and LeakSanitizer thus can't lookup what function resided there previously.

Force the validation layers to stay in memory by preloading them:
[code]
You may need to adjust the library paths to where they're installed on your system.

[2017-10-18 14:01] mark-lunarg commented on #1787
@polarina, Thanks!

[2017-10-18 15:17] MichelVachon opened #2144 "Descriptor set layout shader stage binding validation"
I get the error
[code]
but I think it's a false positive because descriptor at binding 9 do exist and is of the proper type in the descriptor set layout, it contains 2 `VkDescriptorSetLayoutBinding` with 8 descriptors each:
[code]
In `validate_pipeline_shader_stage`, `get_descriptor_binding` returns null because
`cvdescriptorset::DescriptorSetLayout::GetDescriptorSetLayoutBindingPtrFromBinding` is

[2017-10-18 15:54] chrisforbes commented on #2144
When descriptorCount > 1, that single binding index contains multiple descriptors. They don't spill over into subsequent binding indices.

[2017-10-18 15:56] #2144 closed

[2017-10-18 16:43] courtney-g commented on #2143
Goals during loader development (see mcjohn@valvesoftware.com for more details):

- Eliminate cryptic application startup errors due to missing symbols
  Valve felt quite strongly on this, but is an attractive feature in that application will be able to start and warn user if system is missing necessary extensions instead of dying in linker.
- Optimal path to Vulkan functions
  Using vkGetDevicePr

[2017-10-18 18:14] lenny-lunarg commented on #2143
To provide a historical perspective on why the loader was designed to not export extension symbols, let me provide the list of reasons. If the loader had been designed to export extension symbols, the application would have to deal with all of the following:

- Any application that uses an extension entrypoint would need to make sure that it is linking with a loader that supports the extension.

[2017-10-18 18:36] cubanismo commented on #2143
Yeah, please don't have the loader export all extension symbols.  This:

caused us so much trouble with GL on Linux we ended up back-tracking from exporting all symbols and instead defining a de-facto ABI when we finally got a unified loader on Linux (GLVND).  If that experience and the general quality of bug reports we've gotten from Vulkan developers has taught me anything, it's that if develope

[2017-10-18 18:43] meup opened #2145 "vkCmdCopyImage and compressed texture destination issue"
This seems to be a bug in the spec and the validation layer.

We have code to create a BC1 compressed texture from an R16G16B16A16 texture (RGBA16 for short).

Let's suppose we want to create a 12x12 BC1 compressed texture using a 3x3 RGBA16 texture.  This should work, since the compressed texture block size is 4x4.  Now we perform VkCmdCopyImage:

According to the spec, extent is always given in

[2017-10-18 21:27] Novum opened #2146 "Validation layers have multiple bugs with destroyed render passes"
The validation layers incorrectly assume that the render pass that a pipeline was created from must be valid or even the same at the time of vkCmdBindPipeline.

This is wrong. The spec specifically says that the render pass may be deleted or the pipeline used with another compatible render pass.

E.g. in CmdBindPipeline:
`auto rp_state = GetRenderPassState(dev_data, pipe_state->graphicsPipelineCI.

[2017-10-18 21:37] mark-lunarg commented on #2146
@tobine, I thought this was recently addressed... Maybe e03f0c649d ?

[2017-10-18 21:44] Novum commented on #2146
I'm using 1.0.61.1 layers, this might be fixed in top of tree.

[2017-10-19 14:45] tobine commented on #2146
Yes, all the renderPass lifetime bugs should be fixed in ToT

[2017-10-19 14:45] #2146 closed

[2017-10-19 18:03] mark-lunarg commented on #2145
Currently in work.

[2017-10-19 22:01] mark-lunarg commented on #2145
We have a fix in flight for the validation problems you discovered, where the layers were ignoring the special cases for checks between compressed and uncompressed images related to the extent.

I assume that for the spec question, you meant:

We think you're probably right about this and that you should file an issue on the [Khronos Github repo for Vulkan-Docs ](https://github.com/KhronosGroup/Vu

[2017-10-20 05:09] meup commented on #2145
Filed as issue #593 there.  Thanks for getting to this so quickly.

(And yes, that was my copy/paste error for the spec.)

[2017-10-20 15:24] tobine opened #2150 "Make sure we have CTS bugs for LVL test exceptions"
Various tests are skipping on certain platform due to likely device issues.
While scrubbing those tests make sure there are existing CTS tests or CTS bugs to capture creation of a new test for all of the exception cases.

[2017-10-20 17:58] #2145 closed

[2017-10-20 18:29] jeremyk-lunarg commented on #2037
I looked and found that there is a test written for this which gives the proper error message.  I have included a screenshot of the test and the error message.

![issue-2037](https://user-images.githubusercontent.com/28059237/31836324-212b6f72-b592-11e7-8e55-19f20438172d.png)

Please reopen if you are still having this issue.

[2017-10-20 18:29] #2037 closed

[2017-10-20 19:48] mark-lunarg commented on #2143
@nsubtil, @mtavenrath, unless and until we hear otherwise from the working group, there doesn't appear to be any related work targeted for this particular repo so we'll close this issue for now. If a utility were to be developed, it's entirely possible it could be included in the SDK just as vulkan.hpp is.  Good luck!

[2017-10-20 19:48] #2143 closed

[2017-10-20 19:51] mark-lunarg commented on #2140
Maybe we should add this as a requirement to the validation layer best-practices, in lieu of creating an issue that might conceivably remain open indefinitely?

[2017-10-20 21:02] chrisforbes commented on #2087
This looks like a SPIRV-Tools bug, but I'm not succeeding at reproducing it with the current version of the validator. What version of shaderc and the layers were you using here?

[2017-10-20 21:03] chrisforbes commented on #2100
@RCalocaO any update?

[2017-10-20 21:46] haasn commented on #2087
Still happens using shaderc commit bcadbc1, internally built using third_party pointing at glslang a50b107e, spirv-tools cfb711a and googletest 69e48e9.

System-wide I have vulkan LVL caa2132e4. I also have SPIRV-Tools 1.1_p1 and glslang 573cc9e9a, but I believe this is not relevant since shaderc seems to link those two dependencies in statically.

[2017-10-20 21:52] haasn commented on #2087
I also have a smaller test case:

[code]

[2017-10-20 21:55] haasn commented on #2087
Looking at that test case just now, I noticed that this one does actually contain the ClipDistance decorations on the %_struct_11. I also noticed that in my original bug report, I had accidentally shared the error message concerning the **vertex** shader but the disassembly concerning the **fragment** shader.

So I think this is not actually a bogus error message, and the resulting SPIR-V might pe

[2017-10-20 21:59] RCalocaO commented on #2100
Here they are, with and without validation.

[Sleepy_Vulkan_SunTemple.zip](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/files/1403439/Sleepy_Vulkan_SunTemple.zip)

[2017-10-20 22:34] KarenGhavam-lunarG commented on #2143
Nuno,

You posted to the Vulkan WG:

It was good that you posted the issue on github. You got reviews and feedback from Vulkan WG members as well as more detailed information from the architects and implementers of the Vulkan loader.

I am not sure it was closed on short order. I do think posting to github for the original issue was the correct discussion venue. From the feedback to the original p

[2017-10-20 22:48] chrisforbes commented on #2087
This makes so much more sense with the correct shader :)

This is KhronosGroup/SPIRV-Tools#261 / KhronosGroup/SPIRV-Tools#365, which was fixed last August -- it would seem your layers are using a very old version of SPIRV-Tools somehow (this is the copy of SPIRV-Tools in LVL/external/spirv-tools)

[2017-10-20 22:59] tobine commented on #2140
@mark-lunarg yes, this should be standard practice going fwd. Where's best-practices doc? [Special Considerations for Validation Layers](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/CONTRIBUTING.md#special-considerations-for-validation-layers) of the CONTRIBUTING.md?

[2017-10-21 10:41] haasn commented on #2087
Aha; that sheds some light on the issue: So the issue is with the version of SPIRV-Tools that the LVL uses, *not* the version of SPIRV-Tools that glslang/shaderc uses. Indeed, upgrading that from 1.1-rev1 to the latest git master solves this issue.

On gentoo it actually uses the system-wide version of SPIRV-Tools, rather than building it from `./external`.

Is there a rough timeframe for when we'

[2017-10-21 11:46] haasn commented on #2087
Perhaps as an aside, is it possible to figure out at compile- or runtime whether or not the version of SPIR-V Tools in use by the layers is new enough to disable the workaround?

[2017-10-21 15:15] CrisBRM opened #2152 "VK_ERROR_INITIALIZATION_FAILED with 280x"
No version has ever worked for me. Compiled git master and it still failed.
Kernel was built with CONFIG_DRM_AMDGPU_SI=y and the driver is Mesa (17.2.3, though I have also tried git master, to no avail).
Build flags: ```cmake -H. -Bdbuild -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr```

[run_all_tests.log](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/files/1404242/run

[2017-10-21 22:12] lromor opened #2154 "VkResult is "ERROR_OUT_OF_HOST_MEMORY" on vkCreateSwapchainKHR"
Hello,
I am not able to run any Vulkan demo.
I have an optimus laptop with libglvnd and nvidia drivers 387.12
I tried everything but I cannot execute my code anymore, what can I do, is this expected
with the current drivers?

thank you,

-l

[2017-10-23 15:40] lenny-lunarg commented on #2152
Do you know where Mesa is putting its json manifest files for Vulkan to locate? I ask this because your vulkaninfo log looks to me like it's not finding a driver. The vulkan loader searches certain paths ([listed here](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/loader/LoaderAndLayerInterface.md#icd-discovery-on-linux)) to find the available drivers. When you run v

[2017-10-23 15:46] CrisBRM commented on #2152
Yes, they're in /usr/share/vulkan/icd.d. radeon_icd.x86_64.json is there. Furthermore, I ran

[code]
before running the tests, just in case.

Contents of radeon_icd.x86_64.json are:

[code]

[2017-10-23 15:58] lenny-lunarg commented on #2152
Well that all looks exactly like it should. Could I get you to set one more environment variable before you run:

[code]

This will get the loader to print out every debug message it has available. Then if you could run vulkaninfo with that and post the output here, that'll (hopefully) give me a bunch more info.

[2017-10-23 16:02] CrisBRM commented on #2152
[vulkaninfo.log](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/files/1407854/vulkaninfo.log)
There you go.

[2017-10-23 17:02] lenny-lunarg commented on #2152
Thanks for the log. I still haven't been able to reproduce this on a Mesa system so it's hard for me to be completely certain, but it appears that what's happening is that the loader is finding and loading the driver just fine. The error doesn't occur until until the application calls `vkEnumeratePhysicalDevices`. At that point, the driver is returning the `VK_ERROR_INITIALIZATION_FAILED` error. I

[2017-10-23 17:02] #2152 closed

[2017-10-23 18:05] CrisBRM commented on #2152
Thanks for the quick response. I will refile it with mesa and see what happens.

[2017-10-24 09:13] leigh123linux commented on #2154
It's working fine here.

[code]

[code]

[code]

[2017-10-24 14:07] mark-lunarg commented on #2154
@lromor, this behavior is not expected, and as @leigh123linux pointed out is not normal.  It appears as if you might have a problem with configuring your Vulkan driver.  If you have specific questions about the source code in this repository, we could offer more help.  @johnzupin, do you have any suggestions?

[2017-10-24 15:38] johnzupin commented on #2154
@lromor, do you get any output when running a demo or vulkaninfo?

[2017-10-24 17:02] johnzupin commented on #2154
@lromor, what hardware are you using? Does your nvidia gpu fall under vulkan supported hardware listed [here](https://developer.nvidia.com/vulkan-driver).

Also maybe check out setting up the nvidia prime package.

Sorry I'll try and help you out if I can but I've had limited success with optimus some time ago.

[2017-10-24 18:15] leigh123linux commented on #2154
It would be helpful to see the contents of /usr/share/vulkan/icd.d/nvidia_icd.x86_64.json
For libglvnd nvidia it should look like

[code]

[2017-10-24 18:47] lromor commented on #2154
cat  /usr/share/vulkan/icd.d/nvidia_icd.json
{
    "file_format_version" : "1.0.0",
    "ICD": {
        "library_path": "libGLX_nvidia.so.0",
        "api_version" : "1.0.56"
    }
}

[2017-10-25 08:04] leigh123linux commented on #2154
@lromor Did you figure out your issue here?

https://devtalk.nvidia.com/default/topic/925605/linux/nvidia-364-12-release-vulkan-glvnd-drm-kms-and-eglstreams/post/5213033/#5213033

If not I have a suggestion, check the device nodes to make sure they exist

[code]

It should look like

[code]

Also see

https://pkgs.rpmfusion.org/cgit/nonfree/xorg-x11-drv-nvidia.git/commit/nvidia.conf?id=5b9e8ffd696

[2017-10-25 08:27] lromor commented on #2154
sadly no, they didn't answered me... :(
anyway

`ls -la /dev |grep nvidia`

[code]

`cat /usr/share/X11/xorg.conf.d/10-nvidia-drm-outputclass.conf`
[code]

[2017-10-25 08:50] MaciejJesionowskiAMD opened #2159 "pNext chain not correctly validated"
I think there's a mistake in the code that verifies pNext chains in structures. It seems to recognize which structure types can be attached there, but it doesn't actually use them with the verification function. This is an example with `EXT_sample_locations`:

The structure `VkPipelineSampleLocationsStateCreateInfoEXT` is definitely known to the layer, but it's not used by parameter validation:

p

[2017-10-25 08:50] leigh123linux commented on #2154
Did you try removing this section

[code]

Also post

[code]

[2017-10-25 08:59] #2019 closed

[2017-10-25 09:00] adam-sawicki-amd commented on #2019
Closing because I can see #2101 has been merged.

[2017-10-25 09:02] lromor commented on #2154
[code]

and by removing the intel section, x does not start anymore.

[2017-10-25 09:10] lromor commented on #2154
Maybe that's the issue, There are two conf files loaded from modprobe for nvidia...
I will test a bit thank you!

-l

[2017-10-25 09:14] leigh123linux commented on #2154
provider 1 shouldn't have 'Source Output' if you want to run nvidia gpu

[code]

http://uk.download.nvidia.com/XFree86/Linux-x86/387.12/README/randr14.html

[2017-10-25 09:31] lromor commented on #2154
I thought this was done with

`xrandr --setprovideroutputsource modesetting NVIDIA-0`

doesn't this states just that the intel provider has also "source output" capabilities? (which should mean that has a screen attached?)

[2017-10-25 09:55] lromor commented on #2154
this is the output of vulkan-info without the formats:

[code]

[2017-10-25 18:24] eloj commented on #2152
This sounds a bit like my [LunarG issue #711](https://vulkan.lunarg.com/issue/view/59b3df0ce46ffe6c0d3db02c).

[2017-10-25 18:50] CrisBRM commented on #2152
@eloj it was a kernel issue. Simply appending radeon.si_support=0 radeon.cik_support=0 amdgpu.si_support=1 amdgpu.cik_support=1 to my kernel commandline fixed the issue.

[2017-10-26 10:44] DominikWitczakAMD commented on #2136
On another note, I think I've come across a use case where the same error gets reported, even though it shouldn't.

The spec has the following language:

[code]

Now, let's say we have two 2D array image views, created off the same 3D image:

* Image view A encapsulates slices 0 to 3 inclusive of the parent image
* Image view B encapsulates slices 1 to 2 inclusive of the parent image

Frame 0 uses

[2017-10-28 03:55] zeux commented on #974
We've hit this issue as well - on some Android devices neglecting to output gl_PointSize results in a random value getting fed to the rasterizer, which can be hard to track down without a graphics debugger if the result of rasterization isn't directly visible on the screen...

IOW +1 - this is easy to miss and needs to be validated.

[2017-10-28 19:05] zeux opened #2166 "maxAnisotropy should be ignored if anisotropyEnable is false"
vkCreateSampler does the following validation:

https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/7c9fade205e78431e6d025885d764c443b69848f/layers/parameter_validation_utils.cpp#L1496-L1502

Vulkan spec 1.0.65 fixed the following spec issue https://github.com/KhronosGroup/Vulkan-Docs/issues/503#event-1315072933 and now maxAnisotropy should be ignored if sampler state specifies t

[2017-10-30 15:52] johnzupin commented on #2154
Any luck @lromor? Looks like vulkaninfo picked up your Nvidia GPU. Can you run cube demo?

[2017-10-30 16:18] lromor commented on #2154
Hello @johnzupin !

[code]

still no luck :(

[2017-10-30 19:06] damienleone commented on #2154
Hi @lromor

- Can you confirm which line is cube.c:1285 and what is the error code returned?
- Is this a regression (e.g., did it work with older drivers on the same setup)?
- Is this a different issue than the one you posted about on the NVIDIA forums that was referenced here?

[2017-10-30 19:28] mark-lunarg commented on #2166
@jzulauf-lunarg, will this be addressed by the fixes for #2090?

[2017-10-30 20:26] #2090 closed

[2017-10-30 20:38] lromor commented on #2154
Same thing,

    err = demo->fpCreateSwapchainKHR(demo->device, &swapchain_ci, NULL,
                                     &demo->swapchain);
    assert(!err);

Problems at creating the swapchain.

I always managed to render stuff via Vulkan until two or three months ago maybe? I believe it's a regression, but I have no data to prove that yet. It still can be a misconfiguration. I need to do a clea

[2017-10-30 20:46] damienleone commented on #2154
What is the value of "err" in the snippet you pasted?

The reason I'm asking if it's the same issue is because on the forum thread you mention a custom app you wrote yourself, whereas here we are talking about 'cube'.  Does your sample app also fail during swapchain creation?  Is the issue specific to your optimus laptop?

Sorry, to clarify I work on the Linux Vulkan driver at NVIDIA.  I had not n

[2017-10-30 21:40] jzulauf-lunarg commented on #2090
Merged in https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/pull/2160

[2017-10-30 21:41] jzulauf-lunarg commented on #2166
@mark-lunarg . no, they are in the next PR from me.

[2017-10-30 21:48] lromor commented on #2154
yes, they all fail in the same place during swapcharin creation, with the same error of no memory for the device.

[2017-10-31 13:22] lromor commented on #2154
So, the bad value is returned by

https://github.com/LunarG/VulkanSamples/blob/8dbb3fe2070ee61388f8adf549347f660359318a/loader/wsi.c#L399

which returns:

[code]

[2017-10-31 15:10] #2096 closed

[2017-11-01 00:30] chrisforbes opened #2171 "Scrub implementation of primary/secondary rules wrt renderpass edges, inheritance, etc"
This seems really messy at the moment. Some of the validation code for these features predates us having a clear picture of the constraints

[2017-11-01 00:41] chrisforbes opened #2172 "Barrier validation: clarify acceptable access masks for TOP_OF_PIPE etc"
CTS tries to issue a barrier with (TOP_OF_PIPE, SHADER_READ_BIT) in a bunch of cases. Is this valid?

[2017-11-01 01:24] chrisforbes commented on #2136
@DominikWitczakAMD are there corresponding CTS cases for these unusual usages?

[2017-11-01 06:58] DominikWitczakAMD commented on #2136
@chrisforbes : As strongly as I'd like to refrain from saying that, I doubt that :-( This one came afloat during our internal testing. I can share a repro if it would be of help.

[2017-11-01 12:04] jozefkucia commented on #2172
I haven't looked at the mentioned CTS tests, but TOP_OF_PIPE is useful for layout transition and queue ownership operations. The Vulkan spec states the following:

[2017-11-01 14:55] chrisforbes commented on #2172
Spec says:

[code]

[2017-11-01 16:16] jozefkucia commented on #2172
Right, this is invalid. Yes, I think that ALL_COMMANDS should work fine.

I've looked a bit one some CTS tests with TOP_OF_PIPE, and I think that in some cases barriers are redundant. Barriers with the first synchronization scope (TOP_OF_PIPE, HOST_WRITE_BIT) generally should not be needed because submitting a batch of command buffers defines a memory dependency:

memory dependency with prior host

[2017-11-01 18:02] meup opened #2175 "Primitive topology not validated?"
In our translation layer, we were using -1 for unsupported primitive types.  When we accidentally passed that in as the primitive topology, we got a device lost error from the driver, as the error wasn't caught by the validation layer.  Seems like an easy check that should be there.

[2017-11-01 18:25] tobine commented on #2175
I confirmed that this check is in the generated parameter_validation.cpp layer:

`skip |= validate_ranged_enum(local_data->report_data, "vkCreateGraphicsPipelines", ParameterName("pCreateInfos[%i].pInputAssemblyState->topology", ParameterName::IndexVector{ createInfoIndex }), "VkPrimitiveTopology", AllVkPrimitiveTopologyEnums, pCreateInfos[createInfoIndex].pInputAssemblyState->topology, VALIDATION

[2017-11-01 19:22] meup commented on #2175
Sorry, I thought we were, but it turns out we're only using the core validation layer.

[2017-11-01 19:27] tobine commented on #2175
np, refer to layers [README](https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/layers/README.md#standard-validation) for how to use standard_validation meta-layer on desktop, or for the exact sequence of layers to use on Android.

[2017-11-01 19:27] #2175 closed

[2017-11-01 19:52] chrisforbes commented on #2172
@jozefkucia sounds plausible.

Filed https://gitlab.khronos.org/Tracker/vk-gl-cts/issues/806 for the first class of these; more to follow

[2017-11-01 21:08] johnzupin commented on #2154
@mikes-lunarg Is this by chance related to the problem you were experiencing?

[2017-11-01 21:44] mikes-lunarg commented on #2154
@johnzupin Yes, I'm seeing the same issue on my laptop with a GTX 960m.  My current workaround is to downgrade the nvidia driver to 384.90

[2017-11-01 21:57] damienleone commented on #2154
@mikes-lunarg Intresting.  Is this an optimus laptop?  Do you have it configured in any particular way (e.g. with PRIME)?

[2017-11-02 14:51] mikes-lunarg commented on #2154
@damienleone Yes it is an optimus laptop, configured with PRIME ala http://us.download.nvidia.com/XFree86/Linux-x86_64/387.22/README/randr14.html

[2017-11-03 07:03] toten opened #2178 "Could validate stageFlags for INPUT_ATTACHMENT?"
My case is:

When creating VkDescriptorSetLayoutBinding structure, the descriptorType is VK_DESCRIPTOR_TYPE_INPUT_ATTACHMENT; from the spec, the stageFlags must be VK_SHADER_STAGE_FRAGMENT_BIT. However I forgot setting the stageFlags (partially due to the code is originally copied from others), so the input_attachment reading in fragment shader returns black. It took me one or two hours to finally

[2017-11-03 15:23] SaschaWillems opened #2180 "Add validation for sample rate shading"
There doesn't seem to be any validation for enabling sample rate shading. As per spec the validation should check the value of the ```VkPipelineMultisampleStateCreateInfo``` ```sampleShadingEnable``` member against the ```sampleRateShading``` device feature.

[2017-11-03 16:38] tobine commented on #2180
FYI this is VALIDATION_ERROR_10000620 in DB.

[2017-11-03 17:31] tobine commented on #2178
This is missing check VALIDATION_ERROR_04e00bcc.

@toten note from [spec](https://www.khronos.org/registry/vulkan/specs/1.0/html/vkspec.html#VUID-VkDescriptorSetLayoutBinding-descriptorType-01510) that stageFlags can be 0 or *FRAGMENT_BIT:

`If descriptorType is VK_DESCRIPTOR_TYPE_INPUT_ATTACHMENT and descriptorCount is not 0, then stageFlags must be 0 or VK_SHADER_STAGE_FRAGMENT_BIT`

Not sure wh

[2017-11-06 10:08] ArkadiuszSarwa commented on #1600
I have still that problem with the layers describe in this issue.

1. When vertex doesn't have outputs but geometry has the outputs:

2. When tessellation control has outputs not the vertex

[2017-11-06 16:33] lromor commented on #2154
Hello @damienleone , Any update on this?

[2017-11-06 18:15] chrisforbes commented on #1600
@ArkadiuszSarwa can you share your repro case?

[2017-11-06 19:04] jzulauf-lunarg commented on #2166
In pull request https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/pull/2183

[2017-11-06 19:47] chrisforbes opened #2184 "Break apart DSUsageBitsErrors test and use appropriate helpers"

[2017-11-06 23:47] polarina opened #2186 "Assertion failure when only some ICDs have VK_KHR_surface support"
Two ICDs are installed, one exposes support for the `VK_KHR_surface` instance extension and the other doesn't.

From the application's perspective, the loader says it supports `VK_KHR_surface` since there's at least one ICD that supports it, however, when calling `vkGetPhysicalDeviceSurfaceFormatsKHR` on a `VkPhysicalDevice` from the non-surface-supporting ICD, the loader hits an assertion.

[code

[2017-11-07 00:18] damienleone commented on #2154
Unfortunately I am unable to reproduce that bug.  I tried on an Optimus laptop I could find, and I also configured PRIME on a desktop.  I can run Vulkan apps just fine.  I'm still working on it, though.

[2017-11-07 09:15] ngarnys opened #2188 "Build error with Visual Studio 2013"
The constexpr used in vulkan.hpp is not supported by VS2013, which is specified in BUILD.md.

[2017-11-07 11:42] polarina commented on #2188
Visual Studion 2013 is no longer supported with the 1.0.65 SDK release. https://vulkan.lunarg.com/doc/sdk/1.0.65.0/windows/release_notes-1.0.html

[2017-11-07 15:59] mark-lunarg commented on #2188
@NorbertGarnysAMD, you are right, that was an oversight in updating BUILD.md.  I will push an update shortly specifying 2015 and above.

[2017-11-07 16:02] mark-lunarg commented on #2188
Update pushed to Master.

[code]

[2017-11-07 19:29] polarina opened #2190 "Loader calls vk_icdGetInstanceProcAddr for vkCreateSwapchainKHR"
The loader is calling `vk_icdGetInstanceProcAddr` to lookup the ICD's `vkCreateSwapchainKHR` function, which is a device-level function. The loader should be using `vkGetDeviceProcAddr` instead.

[Documentation](https://vulkan.lunarg.com/doc/view/1.0.65.0/windows/LoaderAndLayerInterface.html#user-content-icd-vulkan-entry-point-discovery) says that `vk_icdGetInstanceProcAddr` is only required to su

[2017-11-07 22:46] mark-lunarg commented on #1982
@fredrikzetterman, I believe this will have been resolved by the changes in

[code]

Please test and reopen if this is incorrect.  Thanks!

[2017-11-07 22:46] #1982 closed

[2017-11-08 15:44] Jasper-Bekkers opened #2191 "vkCreateInstance takes 2 seconds"
On my machine it appears that vkCreateInstance takes a full 2-2.5 seconds to get Vulkan up and running (two GPU machine, one NV and one AMD GPU). This is a non-parallelizable cost that we take every time we start our application so 2 seconds is a bit absurd.

This is with no explicit layers enabled and two extensions enabled (VK_KHR_surface and VK_KHR_win32_surface).

[2017-11-08 18:17] mikes-lunarg commented on #2076
I built the layers and cube.c with the llvm address sanitizer and could not reproduce this issue.  It looks like there a some small memory leaks in cube itself but nothing from from the validation layers.
[code]

[2017-11-08 18:51] mark-lunarg commented on #2076
@ioquatix, I also tried to reproduce the issue using the SMART_HANDLE interfaces in vulkan.hpp and didn't see any leaks attributable to the layers.  If you can use the info that @polarina provided to get a more complete stack trace pointing to the layers, please share that info with us.  We'll close the issue in the meantime but please reopen it when more information is available.

[2017-11-08 18:51] #2076 closed

[2017-11-08 18:55] mark-lunarg commented on #2184
See #2181 for context.

[2017-11-08 21:41] #2166 closed

[2017-11-08 22:24] damienleone commented on #2154
I was finally able to find a laptop that reproduced this issue.  I found it was specific to some discrete GPU skus.  The fix will be available shortly in a new release from the 387 branch.  Thanks for bringing that issue to my attention and for your patience.

[2017-11-09 00:59] ioquatix commented on #2076
Okay I will try to repro the issue and provide more details.

[2017-11-09 01:24] ioquatix commented on #2076
Okay, so I've since updated my computer which included updated validation layers and drivers, and I can no longer reproduce this issue, so it must have been fixed. Any idea what changed between now and when this issue was filed which might have affected it?

[2017-11-09 02:21] ioquatix commented on #2076
So I rolled back to a previous version of the validation layers and it appears the issue returned, but I couldn't get a better stack trace. However, then I updated back to the latest version and the leaks were gone. So I can only assume this has been fixed.

[2017-11-09 09:18] lromor commented on #2154
Ohh super! Thank you so much!

[2017-11-09 15:21] mikes-lunarg commented on #2076
Just to close the loop, I went back and found the vkCreateImage leak in an older version of the layers.  It was fixed by this commit: https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/commit/57f0da98098689f3624c5503cfe1a4b5fede885a

[2017-11-09 15:49] mark-lunarg commented on #2154
Thanks @damienleone!  Thanks to everyone for bringing the issue to light and to getting it resolved.

[2017-11-09 15:49] #2154 closed

[2017-11-09 15:51] mark-lunarg commented on #2076
Sweet!  I love it when a plan comes together.  Thanks guys.

[2017-11-09 21:59] chrisforbes commented on #2191
@Jasper-Bekkers are you able to isolate this to one ICD or the other, or is the time being spent in the loader itself? (`VK_ICD_FILENAMES` in env should help)

[2017-11-09 22:03] chrisforbes commented on #2178
@tobine can we justify emitting a warning for stageFlags=0? We already have the option of descriptorCount=0 for making unusable placeholder bindings.

[2017-11-10 13:58] ashleysmithgpu opened #2199 "vkGetInstanceProcAddr code in the loader does not match specifiction description"
The vulkan spec says:

Table 1. vkGetInstanceProcAddr behaviour

instance | pName | return value
-- | -- | --
.* | NULL | undefined
invalid instance | * | undefined
NULL | vkEnumerateInstanceExtensionProperties | fp
NULL | vkEnumerateInstanceLayerProperties | fp
NULL | vkCreateInstance | fp
NULL | * (any pName not covered above) | NULL
instance | core Vulkan command | fp1
instance | enabled instan

[2017-11-10 16:37] tobine commented on #2178
Well, if @toten had stageFlags=0, then I'd say the fact that the warning would have been a help in that case justifies it. At least until/unless someone else complains about the warning with a reasonable use case that requires stageFlags=0. I can't think of a good case offhand as the descriptorCount=0 option is already there as you said for unusable bindings.
@toten please confirm if your stageFla

[2017-11-10 17:37] lenny-lunarg commented on #2199
I just pushed a fix for this to master with commit 8f9d7ca19ea3ec0b45de929de561e5e4b3e79183. Thanks for the bug report.

[2017-11-10 17:37] #2199 closed

[2017-11-13 02:20] toten commented on #2178
I used the api-dump layer (also debug) and could confirm the stageFlags was 0. The input-attachment loading returns black color when stageFlags was 0.

When I explicitly set to VK_SHADER_STAGE_FRAGMENT_BIT, input-attachment loading works as expected. BTW, the api-dump layer returns:
stageFlags:                     VkShaderStageFlags = 16 (VK_SHADER_STAGE_FRAGMENT_BIT | VK_SHADER_STAGE_ALL_GRAPHICS

[2017-11-13 19:57] TiemoJung opened #2204 "Enhancement: vkCmdBindDescriptorSets : validate if pipelineBindPoint matches layout targets"
Hi,

i just slipped over a subtle error, passing accidentally VK_PIPELINE_BIND_POINT_COMPUTE as bind point for descriptors that where meant for VK_PIPELINE_BIND_POINT_GRAPHICS.
It should be possible to check pipelineBindPoint  against the targets of the supplied pipeline layout to report a use error.

[2017-11-14 02:02] karl-lunarg commented on #1685
There's no VU for the pointers having to be non-NULL.  As mentioned above, if the state is dynamic, then the pointers should never be dereferenced by the driver.  However, if the state is not dynamic, then the pointers have to implicitly be non-NULL since the counts have to be at least 1.

There is a check for a null viewports pointer in the `pv_vkCreateGraphicsPipelines` function in `layers/param

[2017-11-14 18:19] chrisforbes commented on #2204
We don't really know which bind point a pipeline layout (or descriptor set layout) is intended for-- it's possible to use the same across both graphics and compute.

How would this work-- are you suggesting that we look at the stage flags of each `VkDescriptorSetLayoutBinding` and determine whether which bind points the layout is /at all/ useful for?

[2017-11-14 22:45] krOoze commented on #1685
@karl-lunarg I do not get a error message with latest SDK, nor with master.

[2017-11-14 23:20] krOoze opened #2206 "ExternalMemory tests fail on AMD"
`ExternalMemory` layer positive test fails on AMD (Radeon Software 17.11.1):

[2017-11-14 23:33] karl-lunarg commented on #1685
Yep. that's the problem.  I hacked cube.c to have the viewport and scissors not be dynamic and set pViewports to NULL.  But I left the dynamic state struct in place with all the enable flags turned off and I got the validation message before the crash in the driver.  But if I set pDynamicState to NULL, I get the crash with no validation message.

The VL test suite has scissors being dynamic when t

[2017-11-14 23:40] krOoze commented on #1685
@karl-lunarg PR comming up soon.

[2017-11-14 23:59] karl-lunarg commented on #1685
Cool!  I have a fix as well and we'll see if it is the same as yours :-).

Are you going to add a test?  I ask because I think that PSOViewportCountWithoutDataAndDynScissorMismatch and PSOScissorCountWithoutDataAndDynViewportMismatch could use some refactoring.  Both tests are skipped if multiple viewports are not supported.  They each test the NULL pointer case and the dynamicCount != PSOcount ca

[2017-11-15 00:06] krOoze commented on #1685
@karl-lunarg Of course. TBH, I am opportunistically cleaning the layer code a bit too.

[2017-11-15 16:14] krOoze opened #2207 "Enabled validation layers should give performance warning"
Enabled validation layers should give performance warning.

The primary motivation is that I would want a feedback from the implementation, that I enabled the layers properly and my validation environment works. The message could be something like:

The reason for using `VK_DEBUG_REPORT_PERFORMANCE_WARNING_BIT_EXT` is because it technically is a performance drain. (And it is simpler to have this e

[2017-11-15 16:39] mark-lunarg commented on #2207
@krOoze, there is already a facility in the loader for something close to this -- you can set
"VK_LOADER_DEBUG=all" in your environment and it will provide some of the information you want.

One minor issue related to spitting out a perf-warning with the above message is that each of the layers is independent and shares no data, so each layer would have to output its own message.

[2017-11-15 17:34] #2097 closed

[2017-11-15 20:39] mark-lunarg commented on #2207
Hi again, we talked about it here and were hoping to get a better idea about which problem(s) you are hoping to solve, taking into account that the loader debug environment setting does indicate which layers are loaded.  We're open to the suggestion but need to justify the effort.  Thanks!

[2017-11-15 21:02] krOoze commented on #2207
Use cases:
- if I run an app I don't know if it is just perfect, or if the layers are simply not working.
- if I switch between layer versions (e.g. release vs debug, or SDK vs master branch) I want to know which I am currently using
- I want to know, if I have layers enabled by accident (let's say I accidentally enable layers in persistent environment variables)

Currenty I have the options:
1) E

[2017-11-16 09:54] tobias-ourmachinery opened #2210 "Validation layer reports image layout error when rendering into a slice of a 3D image"
If I create a 3D image with `VK_IMAGE_CREATE_2D_ARRAY_COMPATIBLE_BIT_KHR` and transition it from `VK_IMAGE_LAYOUT_UNDEFINED` to `VK_IMAGE_LAYOUT_COLOR_ATTACHMENT_OPTIMAL` setting `VkImageSubresourceRange::layerCount = 1` in `VkImageMemoryBarrier` the validation layer will complain when rendering into a view targetting any other slice than 0 of the 3D image:
[code]
I suspect that this might be a fa

[2017-11-16 12:36] krOoze commented on #1685
@RippeR37 #2209 should fix your specific example

[2017-11-16 20:12] mark-lunarg opened #2213 "VL reports too early when recording secondary command buffer"
This issue was submitted by Dean Sekulic on [LunarXchange, #654](https://vulkan.lunarg.com/issue/view/58b4083666315130fe3c2d78):

I got "Vulkan internal report (code 1115): vkCmdClearAttachments(): The area defined by pRects[0] is not contained in the area of the current render pass instance."

but I'm only recording secondary command buffer, primary command buffer didn't yet got vkCmdBeginRenderP

[2017-11-16 20:16] mark-lunarg opened #2214 "Core validation does not check push constant ranges to determine set compatibility between pipeline layouts"
This is from [LunarXchange, #648](https://vulkan.lunarg.com/issue/view/588c4e776631512b4c4b1f50):

The Vulkan specification states:

The core validation layers however do not seem to check the push constant ranges when determining pipeline layout compatibility regarding descriptor sets. In my project I use two different pipeline layouts. The first one only defines a descriptor set with one uniform

[2017-11-16 20:25] stroyan commented on #2214
That link went to github issue 648 instead of LunarXchange [#648](https://vulkan.lunarg.com/issue/view/588c4e776631512b4c4b1f50)

[2017-11-16 20:34] mark-lunarg commented on #2214
Thanks Mike!

[2017-11-18 05:48] TiemoJung commented on #2204
Yes

[2017-11-18 05:50] TiemoJung commented on #2210
Duplicate of #1650 ?

[2017-11-18 11:58] krOoze commented on #2206
Fixed by #2215.

[2017-11-18 11:58] #2206 closed

[2017-11-20 18:15] danginsburg opened #2221 "Performance issue: large arrays of texture descriptors (bindless) is very slow"
We've just hooked up using a large unflattened array of textures in our shader, for example like this in HLSL:

Texture2D g_tTextureArray[ 4096 ] : layout( set = 1, binding = 3 ) ;

This array is dynamically uniform indexed in the shader.  The descriptor set associated with this array is updated very infrequently (not every frame).

Turning this rendering path on has caused a massive drop in perfo

[2017-11-21 10:07] scyganINTEL opened #2223 "windowsRuntimeInstaller Uninstaller succeds (retcode == 0) when ConfigureRT fails"
As the last step of VulkanRT uninstallation, ConfigureRT.exe is run to elect newest loader /&vulkaninfo and place them as vulkan-1.dll / vulkaninfo.exe in %SYSTEM% directory.

It seems when ConfigureRT fails, it seems the error is not passed via uninstaller, which exists with code 0 ignoring the failure.

For example, I have installed 3 RTs of different version and removed N-1 (N == newest) vulkan

[2017-11-21 15:10] mark-lunarg commented on #2204
This seems like a good candidate for the assistant layer -- any objections to adding it to that worklist?

[2017-11-21 15:38] lenny-lunarg commented on #2223
We definitely agree that this change should be made, and it'll actually happen soon since I'm already working on it. In the current logic, if ConfigureRT fails, the NSIS installer will do its best to do the same copying on its own, and forgets to check for errors if the NSIS installer fails. We're going to stop the NSIS installer from doing anything except reporting an error when ConfigureRT fails

[2017-11-21 19:47] hrydgard opened #2224 "No warning for VkViewport.minDepth > maxDepth"
Calling vkCmdSetViewport with a minDepth with a greater value than the maxDepth appears to fail silently on at least AMD boards, resulting in wrong rendering output. It's unclear to me whether it's valid or not, the spec doesn't seem to say more on the subject than:

    minDepth must be between 0.0 and 1.0, inclusive
    maxDepth must be between 0.0 and 1.0, inclusive

So either this should be an

[2017-11-22 22:40] krOoze commented on #2224
Implemented by PR #2222

[2017-11-22 22:47] krOoze commented on #2224
Yes, indeed the specification does say:

[2017-11-22 23:24] hrydgard commented on #2224
Oh right, I missed that. Then, I'd guess that this case is missing in the Vulkan conformance tests, because both AMD and older Mali drivers misbehave badly with minDepth > maxDepth. What's the best place to report or contribute missing conformance test cases?

I'll try to get around to reporting this to AMD in the near future. Feel free to close.

[2017-11-22 23:35] krOoze commented on #2224
I would assume the [Vulkan CTS repo](https://github.com/KhronosGroup/VK-GL-CTS).
AMD Issues probably through Radeon Settings->Preferrences->Report Issues Online. Or [AMD Dev forum](https://community.amd.com/community/devgurus/).
I don't know Mali, but knowing Android it won't get fixed for a year or if ever.

BTW, you can self-close on GitHub.

[2017-11-23 00:03] range4life commented on #2048
Ran into this today. I had the layout set to the current layout and not the layout that It would be during shader access.

I Received no errors even when changing my DescriptorImageInfo's imageLayout to something as ridiculous as VK_IMAGE_LAYOUT_DEPTH_STENCIL_ATTACHMENT_OPTIMAL, when it should have been VK_IMAGE_LAYOUT_SHADER_READ_ONLY_OPTIMAL.

It didn't cause any issues, but I definitely am glad

[2017-11-23 00:11] #2224 closed

[2017-11-23 00:18] hrydgard commented on #2224
Turns out it's actually already tested - but the test was added quite recently, which would explain the failures: https://github.com/KhronosGroup/VK-GL-CTS/issues/44

It's fixed in newer Mali driver versions - S8 has the fix, Xiaomi doesn't.

Yeah I know I can close, project policies for who closes tend to differ though :)

[2017-11-24 15:21] ikelos commented on #1962
@johnzupin I was wondering how finding a solution for this has been going?

[2017-11-24 16:26] chakmeshma opened #2229 "Cannnot make for android with MinGW"
I first set environment variables:
[code]

Then inside MinGW i do:
build-android/build_all.sh

I get the following errors:
[code]

[2017-11-25 12:12] Brotcrunsher opened #2230 "VL seems to not check maxBoundDescriptorSets"
**Overview**: When calling `vkCreatePipelineLayout` with an invalid (too high) `setLayoutCount` inside `VkPipelineLayoutCreateInfo`, no message is printed. Instead the program crashes with an illegal write operation (varying locations).

**Details**: The spec says:

[link](https://www.khronos.org/registry/vulkan/specs/1.0/html/vkspec.html#VkPipelineLayoutCreateInfo)

Vulkan Version: 1.0.65.0
Teste

[2017-11-25 17:56] johnzupin commented on #1962
@lenny-lunarg: Can you review my fix when you get in on next week please.

[2017-11-25 21:48] krOoze commented on #2230
Probably also reported in #2063.

[2017-11-26 16:59] krOoze commented on #1754
Since VUs are per-command, I propose splitting to one file per tested command. Structures that can be used independently by multiple commands can be a separate header. Thoughts?

[2017-11-26 17:18] krOoze commented on #1685
@mark-lunarg I think this can be closed. AIS automatic parameter_validator should handle this, and the specific non-automatic validation of the specific example was fixed. If there is some other example it can be made into a new Issue...

[2017-11-26 17:22] krOoze commented on #1550
Actually `dstStageMask` or `srcStageMask` should be completely ignored on transfer barriers.
I think this is esentially another duplicate of #865 and #1986.

[2017-11-26 17:48] krOoze commented on #2191
It takes ~0.5 s for me. Still, sounds unnecessarily long for a modern PC.

[2017-11-26 18:10] krOoze commented on #2172
It seem to have been refined in the spec in Table 4. Supported access types.
None of the flags list `TOP_OF_PIPE` and no other stages are implicitly added since it is `srcStage`.
`VK_ACCESS_MEMORY_READ_BIT` and `VK_ACCESS_MEMORY_WRITE_BIT` would be a grey area though because they list "N\A" in the table (whatever that means).

[2017-11-26 19:59] krOoze commented on #2135
I wanted to mess with this, but found the spec is tad too ambiguous to my taste.
You touch on point nr. 5 in https://github.com/KhronosGroup/Vulkan-Docs/issues/620 .

There is a strong indication the dynamic state was meant to be a cmdbuffer state in 1.0.0, so no bound pipeline should even be necessary. And that is how many did use it before.

[2017-11-27 10:44] DominikWitczakAMD commented on #2135
This does not change the fact that we've got the following VU defined in the spec:

[code]

I see no ambiguity in here in terms of whether or not it is legal to adjust the scissor area without a bound GFX pipeline.

[2017-11-27 12:41] krOoze commented on #2135
@DominikWitczakAMD That statement was added later to the spec, potentially introducing spec bug.
Also consider this:

[2017-11-27 15:43] Jasper-Bekkers commented on #1880
Since this seems to still be an issue every day for pretty much anybody using the validation layer, could we get a status update on this? It's been a few months and all that happened is that seemingly this issue got down-promoted even though there is quite a bit of demand for this.

[2017-11-27 16:27] mark-lunarg commented on #1880
@Jasper-Bekkers, the extension has been approved and will probably wind up in the release after 1.0.66.  However, using the new extension will require modifying the current log messages. If you can point to some favorites we can move these to the top of the list, as I don't think we'll implement blanket coverage, at least to begin with.

[2017-11-27 16:37] cnorthrop commented on #2229
We don't support MinGW builds.  If you would like to provide patches or documentation that get it working, we can try to get them in.  Preferably it would work for desktop and Android builds.

[2017-11-27 16:48] mark-lunarg commented on #1685
Closing then.  Thanks a bunch @krOoze.

[2017-11-27 16:48] #1685 closed

[2017-11-27 17:21] krOoze commented on #2229
@chakmeshma Out of curiosity: Is it supposed to work? MinGW is usually intended for targets that are Windows.

[2017-11-28 21:50] null77 opened #2237 "layers: Issue warning/error if secondary command buffer inheritance info has non-null RenderPass and CONTINUE bit is not set"
Currently, in this case, validation passes up to the point when the app starts to record commands. Then commands such as vkCmdDrawArrays will generate errors saying that a RenderPass is not active, even though this is notionally a secondary command buffer (though created badly). Clarifying the error by adding a warning would catch the error earlier.

[2017-11-28 21:50] null77 commented on #2237
@tobine fyi

[2017-11-29 10:12] strandborg opened #2239 "Validation bug in vkCmdCopyImage between compressed and uncompressed image formats"
The spec says this on vkCmdCopyImage:

```When copying between compressed and uncompressed formats the extent members represent the texel dimensions of the source image and not the destination. When copying from a compressed image to an uncompressed image the image texel dimensions written to the uncompressed image will be source extent divided by the compressed texel block dimensions. When copyin

[2017-11-29 14:57] mark-lunarg commented on #2229
As this is intended behavior, can we close this issue @chakmeshma , @cnorthrop?

[2017-11-29 17:32] #2229 closed

[2017-11-30 12:23] asuonpaa opened #2241 "Null pointer access in PreCallValidateBindBufferMemory"
I'm seeing a null pointer access in core_validation.cpp line 3758 function PreCallValidateBindBufferMemory. There mem_info is being used without checking if it's null:
[code]

Earlier in the same function it is checked:
[code]

[2017-11-30 14:34] mark-lunarg commented on #2241
@asuonpaa, were there any validation errors prior to reaching this point?  The Core Validation layer (to a large but not complete extent) relies on other layers to do these types of checks, and as you have noticed does not perform them pervasively.  If an invalid access was encountered with no other validation errors then we **would** need to make a change here -- let us know!

[2017-12-01 06:58] asuonpaa commented on #2241
@mark-lunarg : Thanks for your help. I'm not seeing errors before this. Also if that object would be guaranteed to not be null by some other layer, then the existing checks of mem_info would be unnecessary. So IMO a consistent solution is to check the pointer at each location it's being used in that function.

[2017-12-01 15:51] jzulauf-lunarg commented on #2180
Fix merged in #2220

[2017-12-01 15:51] #2180 closed

[2017-12-01 15:52] jzulauf-lunarg commented on #2159
Fix merged in #2220

[2017-12-01 15:52] #2159 closed

[2017-12-01 15:59] mark-lunarg commented on #2241
@asuonpaa, I see.  Is there any way you can get us a straightforward repro case, or some instructions on how to reproduce this issue -- this does sound like a layer bug, one way or the other.  As for the Null checks, for the most part they should be unnecessar, and the time it would take to scrub the layers of unnecessary checks is not near the top of the priority list.

[2017-12-01 22:04] #2237 closed

[2017-12-02 16:44] jekstrand opened #2243 "In-tree builds of layers don't work"
I've been wondering for a while now why I can never seem to get the layers to configure and build.  I knew *someone* was getting them to build reliably.  Turns out it's because I'm using an in-tree build.  It seems that all of the -json targets are just created for out-of-tree.  I don't know enough cmake to really know how to fix it or I'd submit a PR.

[2017-12-03 17:32] null77 commented on #2237
Thanks Tobin!

[2017-12-05 03:06] krOoze commented on #2063
I was thinking I would implement this one real quick tomorrow. Or is anybody already working on it?

[2017-12-05 19:21] daveh-lunarg commented on #2063
Partially resolved by PR #2255. I'll get the rest of them shortly.

[2017-12-06 15:58] mark-lunarg commented on #2241
@asuonpaa, is there any way you can share a test case?

[2017-12-06 20:56] tobine commented on #2241
Note that having a valid VkDeviceMemory param in vkBindBufferMemory() is VALIDATION_ERROR_1700c601 which is checked in object_tracker.

[2017-12-07 16:12] HansKristian-ARM commented on #1612
Is this supposed to be a generic layer for best practices on Vulkan which collects best practices from a spec POV, or would there be room for IHV specifics as well (which are probably where the most useful/interesting checks will be)?

[2017-12-07 17:12] mark-lunarg commented on #1612
@HansKristian-ARM, the Assistant Layer effort is currently focused on the former.  However, it is a simple matter to create related assistant-type layers specific to a particular IHV.  The aim of the layer framework is to make the creation of these types of layers much more straightforward.

[2017-12-08 21:34] daveh-lunarg commented on #2230
This should be resolved with PR #2255.  Closing.

[2017-12-08 22:49] daveh-lunarg commented on #2230
Re-opened as I've temporarily reverted #2255.  Will be PR #2262 when re-submitted.

[2017-12-10 14:05] krOoze opened #2265 "DevSim does not support extensions?"
Are extensions supported in DevSim.

It does seem to report supported extensions and allow to enable them, but the profile files (e.g. format features in them) seem to only be collected for core Vulkan.

[2017-12-11 16:18] mikew-lunarg commented on #2265
Hi krOoze,

You are correct that control of extensions is not yet implemented by the DevSim layer.  The implementation in active development.

Do you have a particular extension of interest, that I could prioritize?  I'll include you on the PR reviewers when the time comes.

[2017-12-11 16:22] krOoze commented on #2265
@mikew-lunarg It is bit of a problem, because the tests seem to use it. I would perhaps recommend to not return extensions as supported from the DevSim, unless they fully are.

I encountered this problem with Maintenance1 extension.

[2017-12-11 16:41] mikew-lunarg commented on #2265
@krOoze  there are actually two separate layers for controlling Vulkan implementations, with different audiences and use models:
1. the "Device Simulation" (DevSim) layer, for use by App developers, statically configured with JSON before App startup.
2. a "device profile" layer, specifically for internal use only by Vulkan layer tests, which provides an API to modify the implementation during test

[2017-12-11 16:52] hrydgard opened #2267 "Missing check for compute-to-copy barrier?"
I did a simple thing where I wrote some data to a device-local memory buffer using a compute shader, and then copied the output to an image using vkCmdCopyBufferToImage. This worked fine on nVidia but not so much on Mali - which is not surprising, because I had forgotten to add the following barrier:

[code]

Adding this fixed it right up. However, the validation layer didn't trigger without it ev